[2019-10-13 20:41] swinslow commented on #927
@goneall Do you want to give #929 a quick review? If you approve then I can go ahead and merge it, if in the next couple days then can include it for the 3.7 release.

[2019-10-14 06:06] goneall commented on #927
Restricting it to 2 per line makes it a little easier to program to (e.g. can use a simple map), but it is a bit harder to read/maintain by humans.

I'm leaning to to 2 per line but I don't feel strongly about it.

[2019-10-14 07:48] zvr commented on #927
I also have no preference, as long as we are all clear in the semantics:

Since we're talking "equivalence",

- the pairs X,Y and Y,Z also cover X,Z
- the same way X,Y also covers Y,X.

Actually, @goneall, I'd think that having all equivalent forms in one line would be easier to program, since there would be no need to check for pre-existing equivalents...

Do we plan to add quotes and hyphens?

[2019-10-14 16:25] goneall commented on #927
@zvr I agree - I previously programmed the pre-existing equivalents, but if I had to start from scratch having all in the same line would be easier.

There's also end of line characters and spaces if we want to be complete.  Adding this would make it a bit harder to read.  In the Java tools, I use a regex with the UTF codes for most of the the punctuation and special characters, so I probably woul

[2019-10-15 10:12] rohieb opened #939 "Generic GPL linking exceptions (OpenSSL related)"
As I gather from #720 and #824, there are already a few OpenSSL exceptions out in the wild. To add to that, I was looking at wget, which is under GPL-3.0-or-later, and has an exception for linking against OpenSSL in their source files (e.g. [src/http.c]):

[code]

This seems to be directly copied from the template which the FSF provides in its [FAQ]:

[code]

I have so far only found this template

[2019-10-15 22:36] jlovejoy commented on #867
added to license list via #936

[2019-10-15 22:41] jlovejoy commented on #927
so, will we keep the list also in the table in the Matching Guidelines? I'm not a big fan of having the same thing in two places for obvious reasons... Maybe once this is added, we could link to this file from the Matching Guidelines?

As for the 2 items, versus more - it'd look cleaner to allow more than two, but I'm not a programmer, so that's less than two cents worth of input :)

I think it'd

[2019-10-15 22:41] #867 closed

[2019-10-15 23:10] jlovejoy commented on #923
added license with #935

[2019-10-15 23:42] #923 closed

[2019-10-16 05:06] goneall commented on #633
I agree adding the explicit markup automatically will make it easier for the downstream tools providers.  However, we already have a number of items in the matching guidelines (e.g. spaces, hyphens, equivalent words) that do not have explicit markup.

The most straight forward approach would be to enhance the [licenseListPublisher](https://github.com/spdx/licenselistpublisher) to add the markups t

[2019-10-16 15:41] bzg commented on #923
Thanks again for handling this. Our of curiosity, when can I expect to see the licence listed on https://spdx.org/licenses ?  My next move is to update the SPDX identifier of the license on [Etalab's page listing approved licenses](https://spdx.org/licenses/). Thanks!

[2019-10-16 15:47] swinslow commented on #923
Hi @bzg, I am expecting to push the next update of the license list (3.7) to https://spdx.org/licenses within the next couple of days.

[2019-10-16 15:51] bzg commented on #923
Great, thanks a lot!

[2019-10-17 02:23] jlovejoy commented on #917
great. so, can close this @goneall ?

[2019-10-17 02:26] #630 closed

[2019-10-17 02:27] #873 closed

[2019-10-17 02:32] jlovejoy commented on #898
is this different than #890 ?

[2019-10-17 03:01] goneall commented on #917
@jlovejoy yes - I'll go ahead and close

[2019-10-17 03:01] #917 closed

[2019-10-17 03:05] jlovejoy commented on #882
added PR at #944 (but not sure if I got short identifier as decided?)

[2019-10-17 09:00] FedericoVaga opened #945 "Add SolderPAD 2.0"
Among the SPDX licenses there are SHL-0.5 and SHL-0.51. Since 2018 there is also SHL-2.0 (https://solderpad.org/licenses/SHL-2.0/).  Is it possible to add it to the list of recognized licences?

[2019-10-18 09:13] yuwenlong commented on #913
@mlinksva @swinslow
`3. License Author or steward: 中国开源云联盟`

translation

`3. License Author or steward: CHINA OPEN SOURCE CLOUD LEAGUE`

Please see the logo on the official website.
http://www.coscl.org.cn/

[2019-10-19 01:48] #913 closed

[2019-10-19 02:11] jlovejoy commented on #945
yes, that has been the plan, but I was waiting on some feedback from the license author. will try to chase!

[2019-10-19 02:17] jlovejoy commented on #934
A couple additional points to those already raised:
- we have attempted to identify what the FSF considers "free" (in the same way we identify if a license is OSI-approved) and that is fine as it's a binary determination based on their definition of free.
- but the compatibility issue is not something SPDX should represent (and this has been asked a few times over the years) - for all the reasons

[2019-10-19 02:21] jlovejoy commented on #919
@pombredanne - can you clarify the resulting idea here?

btw, I should have mentioned that in long ago, ancient history SPDX license list, one of our early contributors did a TON of research on the Python license "stack", as we referred to it, in terms of trying to understand what was used for which version of Python. There was a chart I believe, which was somewhat dizzying. If I can find that, it

[2019-10-19 02:22] #882 closed

[2019-10-19 02:25] jlovejoy commented on #897
what is the status of this? @goneall @zvr

[2019-10-19 02:27] jlovejoy commented on #724
oh dear, this is quite old - needs attention!

[2019-10-19 07:25] lassik commented on #934
@jlovejoy Are some permissive licenses (e.g. BSD-2-Clause or MIT) not "obviously" compatible with the GPL?

[2019-10-19 11:37] zvr commented on #897
Unless there's an urgent need, I was planning to have it subsumed in #890...

[2019-10-22 16:38] swinslow commented on #923
Hi @bzg, as a heads-up, the 3.7 license list release is now live at https://spdx.org/licenses. So you should be all set to use this identifier now.

[2019-10-22 17:03] bzg commented on #923
Hi @swinslow, that's great news, thanks a lot for the heads-up!

[2019-10-22 17:26] armijnhemel commented on #928
Wasn't this already discussed a long time ago? It definitely has been on the examples page for quite a few years:

https://wiki.spdx.org/view/FileNoticeExamples#.28LGPL-2.1_OR_LGPL-3.0_OR_LicenseRef-KDE-Accepted.29

[2019-10-22 17:31] armijnhemel opened #947 "old style MIT licenses"
See https://lists.spdx.org/g/Spdx-legal/topic/36444862#2686

Old style MIT licenses are regarded by some people/tools as "NTP", but there are differences (like the reproduction of copyrights, which is missing in some of the old MIT licenses, but is in the NTP license).

[2019-10-23 13:59] swinslow commented on #947
Thanks @armijnhemel. I gather that early days of the license list included pulling in a bunch of the various MIT-style licenses listed on the [Fedora wiki](https://fedoraproject.org/wiki/Licensing:MIT#Old_Style_.28no_advertising_without_permission.29). Some of the ones listed there might not have a separate entry on the license list but might be equivalent when the [SPDX matching guidelines](https

[2019-10-31 16:35] johnmhoran commented on #947
@swinslow and I discussed this on the call and I'll take this on.

[2019-11-02 10:29] cordlandwehr commented on #928
When going the LicenseRef-KDE-Accepted way, I am wondering how it shall be done exactly? Especially in the case if one would go with only using SPDX identifiers in the source files and omitting the full license header, how is the user of the source file able to identify the correct license for the LicenseRef option as there is no central list of them (as far as I understand)?

[2019-11-13 09:26] rohieb commented on #919
I'm finding this part of the Python-2.0 license text alone in the wild, e.g. in [scipy-sphinx-theme](https://github.com/scipy/scipy-sphinx-theme/blob/d990ab9134199f6496b9ac8567f10791f04a720a/LICENSE.txt#L39), so I would welcome this part as a single license.

[2019-11-13 09:56] pombredanne commented on #919
@rohieb Thanks
@jlovejoy sorry for the late reply: the point is that non-PSF code that is under the Python license will not have the historical baggage that the PSF Python license has because these other historical licenses just do not apply.

[2019-11-14 17:28] jlovejoy commented on #934
@lassik - even if I think there are, it doesn't matter. We are not going to include legal interpretations as part of the SPDX License List

[2019-11-14 17:49] swinslow commented on #934
Hi @lassik, even if some may view it as clear or obvious, deciding whether one license is compatible with another involves interpreting the licenses in some way. SPDX’s goals have been focused on identifying the license text but not interpreting it. From https://spdx.org/spdx-license-list/license-list-overview:

If other projects choose to provide interpretations of which licenses are compatible w

[2019-11-14 17:49] #934 closed

[2019-11-15 07:10] oliv3r opened #950 "Formatting lost for text files"
Traditionally, the GNU licenses at the least, where formatted, even in text form. The XML file clearly also follows this, however after conversion to 'text' the files are 'flattened'.

I think it would be far more preferred to follow the original style of the license text when generating the license files. Ironically, https://choosealicense.com/licenses/agpl-3.0/ for example uses spdx licenses as

[2019-11-17 01:10] mlinksva opened #951 "New license request: O-UDA-1.0 [SPDX-Online-Tools]"
**1.** License Name: Open Use of Data Agreement v1.0
**2.** Short identifier: O-UDA-1.0
**3.** License Author or steward: Microsoft
**4.** Comments: See background at https://github.com/microsoft/Open-Use-of-Data-Agreement#why-a-new-agreement including rationale and comparison with other open data licenses each of which is in the SPDX License List.

O-UDA-1.0 will be used for various datasets rele

[2019-11-17 01:17] mlinksva commented on #951
cc @royaljust

I'm happy to make a PR with the correct XML formatting if/as appropriate.

[2019-12-02 19:33] swinslow commented on #951
I'm generally in favor of adding. Looks to me like a straightforward open data license agreement, comparable to CDLA and other open data licenses on the list.

@mlinksva / @royaljust, do you have examples of where this license is in use in the wild? I see @mlinksva's comment that examples will be forthcoming; seeing some examples of real-world use would be helpful in considering it for addition to

[2019-12-04 10:50] rohieb commented on #919
@jlovejoy wrote:

The chart is even part of Python's LICENSE file :-) https://github.com/python/cpython/blob/master/LICENSE#L27

[2019-12-04 14:12] rohieb commented on #919
@pombredanne wrote:

I've done exactly that in PR #952 now, would be great if you could have a look whether that's what you want.

[2019-12-05 14:19] swinslow opened #953 "New license and exception request: CAL-1.0"
Copying submission from spdx-legal mailing list (see https://lists.spdx.org/g/Spdx-legal/message/2698)

= = = = =

Hello,

I have received a preliminary positive report from OSI’s license committee on the Cryptographic Autonomy License v.1.0, or “CAL”.

The CAL also includes a built-in “Combined Works Exception” that seems like it would fit with your exception grammar.

1. Provide a proposed Full

[2019-12-05 14:37] swinslow commented on #953
Hi @VanL, I haven't read the most recent draft of CAL — so here are a few preliminary comments, before getting into the substance...

**Beta status**

From the OSI license-review list, it looked like the version submitted yesterday was labeled as "Beta 4". I'm assuming that means that there is still a possibility that the license text would change, particularly if OSI were to approve with a furthe

[2019-12-05 15:03] swinslow commented on #953
Current OSI license-review discussion thread begins at: https://lists.opensource.org/pipermail/license-review_lists.opensource.org/2019-December/004455.html

[2019-12-05 15:27] VanL commented on #953
Hi Steve,

On Thu, Dec 5, 2019 at 8:37 AM Steve Winslow <notifications@github.com>
wrote:

This is true, but I get the impression that things are just about settled.
I was encouraged to submit the license if, for no other reason, than to get
things in the queue. I have no problem with SPDX not adding the CAL until
it is finalized.

*Exception ID format*

I can update that to match your grammar. Th

[2019-12-05 20:44] kemitchell commented on #953
@vanl, want a hand with the pull request in the SPDX XML format?

[2019-12-08 10:44] cordlandwehr commented on #928
Sorry for poking. Yet, I would be happy if we can proceed further with this topic, since I want to have the SPDX handling to be resolved before starting any steps in doing code-changes that introduce the markers.

From this discussion above, I see two different options:
1. Introduce a new SPDX license marker that identifies an LGPL-2.1-or-later copyright license, which specifically gives the KDE e

[2019-12-08 12:59] silverhook commented on #928
The link that @armijnhemel submitted does seem to solve this issue, but is quite condensed info. It may help checking out <https://reuse.software> as well for how this could be done. Also the linked wiki page still uses the old deprecated SPDX names for the GPL family of licenses.

Here’s how I think it could work to be both OK with SPDX and the REUSE.software best practices:

1. store text of LGP

[2019-12-09 21:28] ashok-cl opened #955 "New license request: COSL [SPDX-Online-Tools]"
**1.** License Name: CasperLabs Open Source License
**2.** Short identifier: COSL
**3.** License Author or steward: Medha Parlikar
**4.** Comments: While creating a new package, we have to specify a license for it. Present API needs it for uploading  new packages created on Bintray.
**5.** Standard License Header:
**6.** URL: https://github.com/CasperLabs/CasperLabs/blob/dev/LICENSE
**7.** OSI Sta

[2019-12-19 19:35] silverhook opened #956 "Make LGPL-3.0 as exception (instead of stand-alone license)"
LGPL 3.0 both reads and functions as an exception to GPL-3.0. It even requires that the text of the GPL-3.0 accompanies it.

As such, I think it would make sense to call a duck a duck and change the LGPL-3.0 from a license to an exception.

[2019-12-20 01:37] swinslow commented on #956
I'd tend to disagree, for two main reasons:

* The [LGPL-3.0 text](https://www.gnu.org/licenses/lgpl-3.0.html) describes itself as a license (e.g., "this license document"; defining "this License"; or even just its name), as does the [FSF license list page's description of LGPL-3.0](https://www.gnu.org/licenses/license-list.html#LGPLv3).

* Changing it from a license to an exception would break ex

[2019-12-20 01:42] swinslow commented on #955
@ashok-cl, I haven't done a close read of the license text yet, but please take a look at the [SPDX license inclusion guidelines](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md).

In particular I'd note the following:

From a first glance, this looks like it is very specific to CasperLabs (going so far as referencing a specific commit and fork date from a

[2019-12-20 08:42] silverhook commented on #956
I see your points, but (unsurprisingly) disagree.

The FSF license list page‘s description of LGPL-3.0 that you linked says (emphasis mine):

Which to me clearly implies an exception to GPL-3.0

And similarly in the license text itself it also says (again emphasis mine):

Which again, very much sounds like an exception to GPL-3.0 to me.

Furthermore, the first material section itself is an excepti

[2019-12-20 09:06] zvr commented on #956
LGPLv3 is written as additional permissions to GPLv3, no disagreement about that.
But they have produced a standalone license, in my view. For example, it does not require the inclusion of the GPL to be complete. Contrast with something like the runtime exception `GCC-exception-3.1` or the bison exception, etc.

Our exception list clearly states:

Last (but certainly not least), I think we should

[2019-12-20 09:15] silverhook commented on #956
It does require the GPL to be complete both in its “how to use”:

and in the LGPL-3.0 text itself where both in §3.b and §4.b it states that you have to:

as well as in §4.c:

[2019-12-20 12:19] zvr commented on #956
Come on, you know what I mean...
The _license text_ is standalone and does not need the GPL license text.

Yes, there are obligations that talk about using the GPL license text, but this does not mean this is not a standalone license. If another license had an obligation like "always copy the AUTHORS file", it would not mean that the license itself was dependent on the file...

[2019-12-20 12:46] silverhook commented on #956
Of course it needs the GPL license text – it directly refers to it and only amends a few sections of it.

What makes it different from any of the exceptions apart from the text being being a bit longer than average?

[2019-12-20 15:30] swinslow commented on #956
One difference in practice between LGPL-3.0 and (I think) all other exceptions I've seen, is that I'm aware of several projects that use LGPL-3.0 _with other exceptions to it_.

A few examples I'm aware of offhand:

- https://github.com/juju/ratelimit/blob/master/LICENSE
- https://github.com/zeromq/libzmq/blob/master/COPYING.LESSER (scroll to bottom)
- https://cygwin.com/licensing.html

If LGPL-3.

[2019-12-20 19:52] silverhook commented on #956
Similar issue could be had already with e.g. ((GPL-2.0-only WITH Classpath-Exception-2.0) WITH GPL-CC-1.0) …where the GPL-CC-1.0 already introduces the risk of having two exceptions stack.

[2019-12-20 20:47] swinslow commented on #956
Fair point! I don't know of projects offhand using that particular combo, but I can see where that could legitimately happen.

Would be interested to know from the technical-minded folks whether that's a valid expression under the [current syntax](https://spdx.org/spdx-specification-21-web-version#h.jxpfx0ykyb60). (I... don't think it is? But my ABNF is rusty at best?)

And either way, notwithstan

[2019-12-20 23:24] goneall commented on #956
The currenly defined syntax only allows `WITH` to follow a `simple-expression` .   A simple expression can not be a compound expression using other `WITH`.

[2019-12-26 16:32] swinslow opened #957 "Remove isOsiApproved for MIT-0"
The [MIT-0 submission request](https://github.com/spdx/license-list-XML/issues/619) noted that MIT-0 was not OSI approved.

However, [the template file](https://github.com/spdx/license-list-XML/blob/master/src/MIT-0.xml) has `isOsiApproved="true"`, which appears to have been included inadvertently (perhaps through copying from the MIT template, but I'm just guessing).

Per [1](https://lists.openso

[2019-12-26 20:06] smasher164 commented on #957
I grepped through all of the mailing list archives, and found no associated records.
[code]
[code]

Here is the script I ran to download all of the mailing lists.
[code]

[2019-12-27 14:23] thusoy opened #959 "New license request: Hippocratic-2.1"
**1.** License Name: Hippocratic License
**2.** Short identifier: Hippocratic-2.1
**3.** License Author or steward: Coraline Ada Ehmke
**4.** Comments: The Hippocratic License hasn't yet been submitted to the OSI, but probably will at some point. It does however not comply with the OSI guidelines since it explicitly limits use by parties infringing on the declaration of human rights, thus (intenti

[2019-12-29 17:52] feross commented on #805
I still don't see the Prosperity license listed on the website. Is this still pending?

[2019-12-30 01:45] feross commented on #805
Here's a PR to add Prosperity-3.0.0: https://github.com/spdx/license-list-XML/pull/960

[2019-12-30 16:41] SylviaLambert43 opened #961 "New license request: LOv2 [SPDX-Online-Tools]"
**1.** License Name: OPEN LICENCE 2.0
**2.** Short identifier: LOv2
**3.** License Author or steward: Etalab (French Government)
**4.** Comments: -SPDX id required in interop' exchanges (DCAT-AP)
- harvester like udata should use this information
**5.** Standard License Header:
**6.** URL: https://github.com/etalab/licence-ouverte/blob/master/open-licence.md
**7.** OSI Status: Not Submitted

[2019-12-30 21:07] swinslow commented on #961
Hello @SylviaLambert43, thanks for submitting.

Please note that this license was added to the SPDX list with the identifier [etalab-2.0](https://spdx.org/licenses/etalab-2.0.html) in October (see #935), so I will go ahead and close this issue.

[2019-12-30 21:07] #961 closed

[2019-12-30 21:45] ashok-cl commented on #955
Thanks for your response Steve. Apologies as I could not respond to you
sooner as I was OOO.
Let me get back to you with more specific details on this.

Wishing you a Happy New Year 2020, in advance.

Cheers!
Ashok

On Fri, Dec 20, 2019 at 7:12 AM Steve Winslow <notifications@github.com>
wrote:

[2019-12-31 14:19] #957 closed

[2019-12-31 14:21] swinslow commented on #957
Thanks @smasher164 for catching this and for thoroughly researching it  :)

I've merged #958 -- it will be updated on [the license list page](https://spdx.org/licenses) upon the 3.8 release of the license list, which has been delayed but will be upcoming.

[2019-12-31 15:00] swinslow commented on #950
Hi @oliv3r, could you please clarify what you mean by the text files being "flattened"?

I think you might be referring to the fact that the text-file versions of the license text (generated by the license list publisher tool and published at https://github.com/spdx/license-list-data/tree/master/text) don't contain e.g. spacing to format or center the license texts, in a way that's identical to th

[2019-12-31 15:15] swinslow commented on #959
Hi @thusoy, thanks for submitting this.

From a first quick read, I think the main question about whether to add this to the SPDX license list, will depend on the finalization of the changes / updates to the list's inclusion guidelines (see #925 for some of the discussion). This has been an ongoing conversation over the past year, and I'm expecting we will be moving toward a resolution soon after

[2019-12-31 15:30] swinslow commented on #951
Hi @mlinksva and @royaljust, I wanted to circle back and see if you have any examples of this being used in the wild that you can share.

[2019-12-31 15:52] swinslow commented on #939
Hi @rohieb, thanks for catching and submitting this. It's a good question and I'm going back and forth on what makes sense as the best outcome here.

Looking through some of the other existing exceptions currently on the list, it seems that in a couple of instances where an exception has referenced a specific software project, we have _not_ templated it and we have instead kept it as-is. Examples:

[2019-12-31 15:53] swinslow commented on #931
Hi @Dominik-Hagmann, circling back on this -- please see my comment above, can you provide some examples of where CC-BY-SA-3.0-AT is in widespread use?

[2019-12-31 16:02] swinslow commented on #928
I think @silverhook is spot on here (and thanks also to @armijnhemel for finding that in the SPDX wiki, where I had neglected to look before replying earlier).

I would generally not be in favor of creating a new identifier to represent a particular project's exercise of the proxy language from GPL / LGPL. Primarily that's because I think it would open the door to an unbounded number of different

[2019-12-31 16:11] swinslow commented on #927
Hi @goneall @jlovejoy @zvr -- I'm looking back at this and at the draft PR I'd submitted at #927. There were some questions / open items both above and in the #927 discussion, so I'm pulling those together here. Let me know if you disagree with any of my proposed actions below.

* **here or in a spec appendix?** -- I think the preference is that this list of equivalent words should live in the lic

[2019-12-31 16:14] swinslow commented on #925
Status update: I believe @jlovejoy is preparing a draft proposal for a modification to the inclusion principles, which will bring together the various threads of discussion over past months. (@jlovejoy, feel free to let us know if that's incorrect!)

Ideally, finalizing and implementing that update to the inclusion principles will occur prior to the 3.8 release, as it is relevant to several of the

[2019-12-31 16:18] swinslow commented on #919
I'm in favor of the approach @rohieb implemented in #952, by adding a new "PSF-2.0" entry that contains just the specific license text without the historical text. (I'll have a couple of minor comments on #952 itself)

@pombredanne @jlovejoy, does that work for you also? Any concerns or are you good with the proposal in #952?

[2019-12-31 16:28] swinslow commented on #905
This has now been added to Appendix II in the v2.2 version of the spec: see discussion at https://github.com/spdx/spdx-spec/issues/134

However, since the v2.2 spec hasn't yet been released, I don't think we should remove the website version of the matching guidelines. So I'm inclined to keep this issue open until after the v2.2 spec is released. After it is, we can replace the website copy with a

[2019-12-31 16:29] goneall commented on #927
@swinslow Agree with all your proposals above.  Thanks for working on this!

[2019-12-31 16:29] swinslow commented on #898
Hi @goneall @zvr, is there anything for this issue that will be implemented for 3.8?

If not, should we change it to "later release" or just close the issue?

[2019-12-31 16:31] swinslow commented on #897
Given @zvr's comment that this will be subsumed in #890, I'm going to copy it over to that issue and then close this separate one.

[2019-12-31 16:33] swinslow commented on #890
Copied over from initially-separate issue in #897:

@zvr indicated that this would be included as part of #890, so I'm combining the issues here.

@zvr, no rush at all :) but wanted to see if you expect that #890 will be part of the 3.8 release, or if I should mark it as part of a later release.

[2019-12-31 16:33] #897 closed

[2019-12-31 16:37] swinslow commented on #885
I've changed the name of this issue (originally just about "reserving" the `Polyform-` prefix) so that it is more precisely about the request to add the Polyform licenses to the list.

@kemitchell has submitted a PR at #903

As mentioned above, I think the primary gating item here is the pending update to the license inclusion principles per #925. I expect the outcome of those changes will be the

[2019-12-31 16:40] swinslow commented on #885
Separately, I do note that there was an open question in the PR comments for https://github.com/spdx/license-list-XML/pull/903#issuecomment-560026265:

[2019-12-31 17:30] swinslow commented on #866
I've submitted a PR at #962 to fix this. That PR would basically allow anything to be used in the definition of "Software", so if that doesn't fit with what you're looking for, then we might need more specific details for what approach to take.

[2019-12-31 17:33] swinslow commented on #853
@goneall Circling back on this old issue -- do you think this is something that the tech team is likely to want to tackle for licenseListPublisher?

If so, then I can transfer the issue over to that repo for tracking. Or if not, I'll go ahead and close it, because (along the lines of your comments) I don't think there's any chance that the legal team is going to manually edit / maintain "valid or

[2019-12-31 17:43] swinslow commented on #845
Circling back on this old issue -- the discussion above went in a number of different directions, so let me try to summarize. I think there's two open questions:

1) Can markup be added to [W3C-20150513](https://spdx.org/licenses/W3C-20150513.html) to make it a match for this license?

@jlovejoy, you asked about this above in  https://github.com/spdx/license-list-XML/issues/845#issuecomment-497449

[2019-12-31 17:50] swinslow commented on #840
Hi Gary, yes, clauses 4 and 5 are the only ones with changes.

My only question on the regex's is about how it is displayed on the license list. If I am correctly understanding the example you gave above, it looks like the regex would match against either example -- but, the license list website would only display the plain text that is between the alt tags.

In other words, someone looking at the

[2019-12-31 17:57] swinslow commented on #837
I've compared the texts of the 1.6, 1.8.7 and 1.9.2 Ruby versions that were linked in https://github.com/spdx/license-list-XML/issues/837#issuecomment-484032370, as compared to the current Ruby license text at http://www.ruby-lang.org/en/LICENSE.txt

The only substantive differences I see among the versions is in the other license option (the "Ruby OR _____") that's listed in the intro paragraph.

[2019-12-31 17:57] #837 closed

[2019-12-31 18:07] swinslow commented on #779
Note that generally cross reference URLs should not be removed / replaced. E.g., from https://spdx.org/spdx-license-list/license-list-overview:

I realize that's talking about inactive URLs, not "preferable vs. less preferable" URLs, but either way I think the principle holds. A URL to a license text might not just be to point to the exact text. It might also be useful, for instance, as a marker i

[2019-12-31 18:08] swinslow commented on #777
Agree with the earlier comment from @jlovejoy -- the approach has been that even stale / inactive URLs should not be removed or changed, so I don't think that existing archive.org URLs should be modified.

[2019-12-31 18:08] #777 closed

[2019-12-31 18:21] swinslow commented on #646
This one has been sitting inactive for quite a while. I had originally drafted a PR for it but then withdrew it.

My main concern is that, having dug into them more closely, I don't think these can be appropriately described as "exceptions." I think that in most if not all other cases, an "exception" is something that in essence boils down to "you don't have to do X." E.g., "you can link my GPL co

[2019-12-31 18:41] swinslow commented on #724
Circling back on this very old issue -- I think this is a path forward:

I think it is appropriate to accommodate the RFN concept on the license list. However, I don't think it fits as an "exception" for the exceptions list. Given the way SPDX "exceptions" currently work, they're generally meant to be something that removes obligations or restriction. By contrast, treating RFN as an exception by s

[2020-01-01 09:44] thusoy commented on #959
Hi, thanks for taking the time to review this. Yes, I submitted it on her behalf, but I'll ask her to check in here anyway so that you don't have to take my word for it.

Your proposed changes to include the version looks good to me, and I eagerly await resolution of the proposed inclusion guidelines.

[2020-01-01 16:32] CoralineAda commented on #959
Confirming that I am the author of the license. And registering my disagreement with the idea that the license doesn't meet clause 6 of the OSD— I don't believe that _human rights violations_ fall into the category of "fields of endeavor".

[2020-01-02 02:20] goneall commented on #853
@swinslow I did a bit of web research and it looks like there may be an efficient solution: https://stackoverflow.com/questions/4177864/checking-if-a-url-exists-or-not

I'll transfer this over to the LicenseListPublisher.

[2020-01-02 12:01] zvr commented on #890
Sorry for not closing this yet... I have spent time on it, but it still needs more work. Definitely not for 3.8; I've marked it for later release.

Actually, I was thinking that it might be worthwhile for the schema and its documentation (#898) to be separated in another repo, so we can work on it independently... It might be useful to have its own ticket queue (e.g. the spacing attribute or the v

[2020-01-02 17:27] goneall commented on #840
That is correct.   The website would display the text as red indicating it is `alt` text.  You could change the text within the alt text without changing the template matching, but it would probably mess up simpler text matching tools that do not use the markup (there are several of them out there).  Another option would be to update the tools to have some text show up as hover text.  This would r

[2020-01-02 17:35] swinslow commented on #845
Discussed on 2020-01-02 legal team call -- agreed that this could be seen as substantively different from W3C-20150513, and should not therefore be handled as markup to that license.

Agreed to accept for inclusion on the list.

[2020-01-02 17:50] swinslow commented on #866
Discussed on 2020-01-02 legal team call, agreed that this particular instance ("this source file") is appropriate to treat as MIT, but there is discomfort with the "anything matches" solution in #962. Want to discuss on subsequent call with @goneall @pombredanne or other tool-minded folks about how best to handle.

[2020-01-02 17:52] goneall commented on #890
We could separate it into its own repo, or we could add a tag to all the issues and PR's associated with the schema.

This would be a good time to make these breaking changes since we haven't standardized and published the schema for external use.  Perhaps after the clean up we could publish this as a standard format for the licenses we publish out to the licenseListData.  I may want to suggest a

[2020-01-02 17:54] bradleeedmondson commented on #919
The approach in #952 makes sense to me.

[2020-01-02 18:01] johnmhoran commented on #931
I'll pick this up.

[2020-01-02 18:03] swinslow commented on #931
Thanks @johnmhoran!

@Dominik-Hagmann, regarding my earlier comments, please weigh in if there are examples you can provide where this license is in widespread use. If there are, then we can discuss whether to include it on the SPDX license list (in the past we have not done so for any of the CC license translations, I believe).

[2020-01-02 18:03] bradleeedmondson commented on #928
I agree with @swinslow that @silverhook 's approach here is the best way to make this representation (rather than adding anything about KDE-specific proxy decisions to the license list).

[2020-01-02 18:04] swinslow commented on #939
We didn't have time to discuss this on the 2020-01-02 legal team call, so I will cue it up for discussion during the next call on 2020-01-16.

[2020-01-02 18:44] Dominik-Hagmann commented on #931
Dear all,

sorry for the late response! it was been a busy time (but I guess for you
guys too)... I will provide at least some examples at least at the end of
next week since I will have time now to manage this. Thank you anyway for
your support – if it is not possible to include the mentioned license that
won't be a problem for me.

Thank you very much and a happy new year,

Dominik

Steve Winslo

[2020-01-02 19:15] johnmhoran commented on #931
Thank you @Dominik-Hagmann .  👍

[2020-01-02 20:54] swinslow commented on #890
Thanks @zvr! About moving it to a separate repo, I don't have a strong feeling either way.

It would be great to be able to isolate out the "pure legal team" issues (e.g. new license requests, etc.) from those that are primarily technical. I suppose that could be either through fully-separate repos or else perhaps through more judicious use of issue labels, etc.

I'll defer to you and @goneall and

[2020-01-02 21:22] bradleeedmondson commented on #939
I tend to favor adding this as a templated, "generic" exception. That's simpler, for us as well as license-list consumers, and FSF has it templated in their FAQ[1]. My only hesitation is @rohieb 's point that you can't express the scope of the exception (which library/libraries you can link with) using SPDX license identifiers. (Here, the scope is the specified list of things you can link with reg

[2020-01-05 14:09] cordlandwehr commented on #928
Thank you for the detailed comments and explanations. I think that with the discussion above, it is clear how to move forward (also no the technical level) and I will close this issue.
Again, thanks for your time!

[2020-01-05 14:09] #928 closed

[2020-01-06 18:41] swinslow commented on #840
@goneall Got it -- thanks Gary. I think I've been incorrectly assuming that the red text in the license list was always an "anything goes" match, when of course it isn't -- my mistake!

For this one, it would be fantastic if you're able to proceed with the PR that you proposed. I think it's worth us adding the alt match as you described.

In terms of modding the tools to e.g. have alt text match o

[2020-01-07 02:34] goneall commented on #840
@swinslow Added the PR with markup for both clauses - pls review and merge if its OK.  This should resolve this issue.

[2020-01-07 16:04] swinslow commented on #840
Hi @goneall, I just added a comment in the #963 PR thread -- Apache-1.1 edits look great (thank you!!) but I wasn't sure if the matching guidelines change was added inadvertently?

[2020-01-07 22:32] swinslow commented on #840
#963 is now merged (after removing the guidelines edit) so this is resolved. Thank you again @goneall!

[2020-01-07 22:32] #840 closed

[2020-01-07 23:04] mlinksva commented on #951
https://www.microsoft.com/en-us/research/blog/microsoft-research-open-data-project-evolving-our-standards-for-data-access-and-reproducible-research/ links:

- https://msropendata.com/datasets/94d31431-0842-447c-b990-245761b7c5f2
- https://msropendata.com/datasets/d7859d92-56c9-46f2-b217-6adafaa1500f
- https://msropendata.com/datasets/85596452-0fe3-4335-bc00-ae83ee8ffcfd

I can't produce a stable U

[2020-01-11 02:53] dudy5 commented on #913
How's going now for mlinksva's question? Do we need to add the both?

[2020-01-13 04:45] ArthurSegato opened #964 "New license request: NEKO [SPDX-Online-Tools]"
**1.** License Name: Nekoware License
**2.** Short identifier: NEKO
**3.** License Author or steward: Arthur Segato Paulo
**4.** Comments: I believe cats need more affection and love.
**5.** Standard License Header:
**6.** URL: https://arthursegato.com/nekoware/
**7.** OSI Status: Not Submitted

[2020-01-13 14:51] swinslow commented on #913
@dudy5 Both the Chinese and English versions were added together in the v3.7 release of the license list, see https://spdx.org/licenses/MulanPSL-1.0.html. This issue has now been closed since this was completed.

[2020-01-14 13:35] dudy5 commented on #913
I wonder why don't add a notice to license document that the content is "Both English document and Chinese document are valid", That is more effective.

[2020-01-14 22:57] goneall commented on #866
@swinslow I took a look at PR #962  It would probably make sense to have a discussion on what the range of possible matches would be acceptable.

There are a lot of ways to restrict the regular expression, so we just need to decide what restrictions we think would work.  They can be words required to be in the match, words that can not be in the match and also the length of the match.  Let me know

[2020-01-16 15:57] swinslow commented on #724
PR #965 submitted to address this; to be discussed on today's legal team call.

[2020-01-16 16:11] swinslow commented on #939
I agree with the comment from @bradleeedmondson above. I like the idea of adding to the official Exceptions List a "template"-style exception for the form of exception from the FSF's FAQ.

For some users, that will be sufficient, to note that there is a GPL-Link-Permission exception present. For others, they may want to designate which specific third-party library is identified, and in that case t

[2020-01-16 17:16] swinslow commented on #724
Discussed on 2020-01-16 legal team call, agreed with approach above. @bradleeedmondson will review PR #965

[2020-01-16 18:04] swinslow commented on #939
Discussed on 2020-01-16 legal team call, agreed to add templated version of the add'l permission from the FSF FAQ to the exceptions list.

Agreed to add as two separate permissions, one with just first sentence and the other with both the first and second sentence; based on discussion it was felt that they could have substantively different effects, so they should be added as separate entries.

Ex

[2020-01-16 18:11] goneall commented on #939
For the syntax, neither of the proposed solutions is allowed based on the license expression ABNF described in [spec appendix IV](https://spdx.org/spdx-specification-21-web-version#h.jxpfx0ykyb60).

License exception can only follow a WITH clause and WITH can only be used with a license ID.

A way to represent this would be `SPDX-License-Identifier: (GPL-3.0-or-later WITH GPL-Link-Permission AND G

[2020-01-17 00:40] davelab6 commented on #724
I like this approach! Thanks for moving this forwards!

[2020-01-20 22:15] rohieb commented on #919
@swinslow:

Do you still have? I don't see them on #952…

[2020-01-21 10:35] rohieb commented on #939
Hmmm. I'm just playing around here a bit not knowing whether someone has suggested something similar, but I'm wondering if there is a way to express this situation fully with the SPDX identifier without the need for any external (in this case, mostly boilerplate) documents. For example, I'm thinking of an additional XML tag, `<param>` to markup parameters in the SPDX license template, then using t

[2020-01-21 13:51] swinslow opened #966 "New license request: libselinux-1.0"
(copied from spdx-legal mailing list 2020-01-20, thanks @MarkAtwood!)

1.   Provide a proposed Full Name for the license or exception. **selinux-nsa-declaration-1.0**
2.  Provide a proposed Short Identifier. **selinux-nsa-declaration-1.0**
3.  https://github.com/SELinuxProject/selinux/blob/master/libselinux/LICENSE
4. License text is attached. (included below)
5.  Not OSI approved
6.  Used by SELi

[2020-01-22 23:51] goneall commented on #939
@rohieb Interesting suggestion - I don't recall this idea being proposed in the past.  It would be a bit of work to add to the tooling, but it would provide for some greater flexibility.

In terms of the syntax, the only thing I would add is some type of default name that would show up in the license list text.  We could use the same approach as `alt` with the default value inside the tags (e.g. `

[2020-01-24 19:51] thusoy commented on #959
Regarding the short identifier, we might also want to consider `MIT-Hippocratic-1.2` or similar to make it easier to group into a license family.

[2020-01-30 14:48] #724 closed

[2020-01-30 15:31] swinslow commented on #939
Thanks @rohieb and @goneall! I think for version 3.0 of the SPDX spec it's worth considering whether a change to the license expression syntax is appropriate. I'll be opening a separate issue related to this shortly, based on discussion on the last legal team call.

In the meantime, for this exception I'll be submitting a PR shortly that adds the exception based on the FSF's FAQ template language.

[2020-01-30 15:47] swinslow commented on #927
Just updated the PR to include the changes above. I did _not_ update the matching guidelines in this same PR, because they are still living on the HTML site (with HTML copy in DOCS directory).

I'll open a separate issue to track so that after #929 is merged, I'll update the matching guidelines to point to this file.

[2020-01-30 15:51] swinslow opened #969 "Remove duplication of equivalent words from matching guidelines"
Continuation from #927 / #929

After #929 is merged, @swinslow will:
* update the [matching guidelines on the SPDX website](https://spdx.org/spdx-license-list/matching-guidelines) to:
    * remove the "equivalent words" table
    * point to the new equivalentwords.txt file from #929 in the license-list-XML repo instead
    * bump the matching guidelines version number to 2.1
* update the [copy of

[2020-01-30 16:35] swinslow opened #970 "Consider license expression syntax for selecting options"
(last updated 2020-02-06)

Background
------------

A handful of license list requests have involved questions of how to select or choose among options contained within a single license -- and whether that should be articulable in the license ID / expression syntax. Here are a few examples:

* #686: The GFDL licenses permit licensors to optionally designate certain content as Invariant Sections or

[2020-01-30 17:06] #947 closed

[2020-01-30 17:10] #939 closed

[2020-01-30 17:13] swinslow commented on #919
Discussed on 2020-01-30 legal team call, OK to merge #952, will want to add listVersionAdded tag but can do that post-merge.

[2020-01-30 17:20] swinslow commented on #866
Discussed on 2020-01-30 legal team call, agreed that further discussion is warranted on the bigger-picture question. For this particular one, will plug in the two alternatives (original and "this source file") for now, and may re-evaluate going forward.

[2020-01-30 17:21] swinslow commented on #845
@bradleeedmondson, just checking back, do you expect to have a PR for this sometime in the next few days (before the 3.8 release)? If not, no worries, we can move it to 3.9.

[2020-01-30 17:36] swinslow commented on #966
Discussed on 2020-01-30 legal team call, agreed to add, would like to change short identifier to libselinux-1.0

[2020-01-30 17:36] swinslow commented on #966
@swinslow will submit PR

[2020-01-30 17:49] #919 closed

[2020-01-30 18:30] rohieb commented on #919
@swinslow thanks for the cleanup! :)

[2020-02-05 20:00] CoralineAda commented on #959
There is now prior art for `MIT-Hippocratic-1.2`
https://rubygems.org/gems/vcr

[2020-02-06 00:42] rohieb commented on #970
The option mentioned by me in https://github.com/spdx/license-list-XML/issues/939#issuecomment-576620857:

5. **Create new license expression syntax for template variable assignment**: Annotate certain parts of the license entry as a template variable to be substituted by the license expression with the syntax `USING ("literal text" AS template-variable-name)`, e.g., `GPL-3.0-only WITH GPL-Link-Pe

[2020-02-06 04:14] bagasme opened #996 "Should CC Licenses Also Include "Human-Readable" Summary?"
## Description

This issue came from go-gitea/gitea#9105.

CC (Creative Commons) licenses text on this repo are all full legal code. On outside world, however, many users are simply link to its "human-readable summary". For example: [CC-BY-SA summary](https://creativecommons.org/licenses/by-sa/4.0/) instead of [its full legal code](https://creativecommons.org/licenses/by-sa/4.0/legalcode).

Maybe

[2020-02-06 13:41] swinslow commented on #970
Thanks @rohieb! I'll add this to the list of options in the main comment so that folks see it together with 1-4.

[2020-02-06 20:14] swinslow commented on #969
Also note addition of http <=> https matching in new guideline per #941

[2020-02-06 20:15] swinslow commented on #927
Given the OKs above, I will go ahead and merge #929 as well as #941. Will track website update in #969. Thanks all!

[2020-02-06 20:17] swinslow commented on #927
Sorry -- to clarify, will not be merging #941 as-is (since DOCS/matching-guidelines is just a mirror of the website), but will update website in #969 and then backport the changes to reflect in this repo.

[2020-02-06 20:17] #927 closed

[2020-02-09 17:12] #966 closed

[2020-02-11 20:01] #969 closed

[2020-02-13 01:37] jlovejoy commented on #953
I don't think this is an exception in the usual sense as additional text that amends the original license, but more like the MPL-2.0 scenario, which we have represented as two "different" licenses and identifiers. See https://spdx.org/licenses/MPL-2.0-no-copyleft-exception.html
(I might actually describe what MPL-2.0 and CAL-1.0 both attempt to do is provide for an exception "inline" in the licens

[2020-02-13 01:41] jlovejoy commented on #953
e.g.
CAL-1.0
(this is fine, nothing on the list with CAL already, so good to go here)
and
CAL-1.0-combined-works-exception

(it's somewhat unfortunate that the defined term includes "exception" for potential confusion, but looks like so does MPL-2.0!))

[2020-02-13 12:39] tsteenbe opened #975 "New license request: LGPL-3.0-linking-exception [SPDX-Online-Tools]"
**1.** License Name: LGPL-3.0 Linking Exception
**2.** Short identifier: LGPL-3.0-linking-exception
**3.** License Author or steward: Canonical
**4.** Comments:  This exception seem to come originally from Canonical but have several to other libraries using it.
**5.** Standard License Header:
**6.** URL:
- https://enterprise.dejacode.com/licenses/public/linking-exception-lgpl-3.0/
- https://launch

[2020-02-13 14:21] swinslow commented on #953
@jlovejoy @VanL If I'm following correctly, the "Combined Works Exception" for CAL-1.0 is essentially a choice that the licensor can make, that's defined within the four corners of the license itself.

E.g., it isn't a separate exception with additional text; rather, it's basically the licensor saying "I'm declaring that this optional bit of the main license applies to this work."

Is that accurat

[2020-02-13 14:28] swinslow commented on #975
Thanks @tsteenbe!

I'm in favor of adding this. I've run into this one regularly in real-world use. I haven't yet compared the various links from your submission to confirm they're identical, but (assuming they are) I would be good with adding this.

My only comment is the name. In 3.8 we added `GPL-3.0-linking-exception` based on a templated version coming from the FSF FAQ. I wonder if adding one

[2020-02-13 14:32] swinslow commented on #964
URL seems to be 404, here is the license text from the submission:

[code]

[2020-02-13 14:33] swinslow commented on #964
@ArthurSegato can you provide some examples of where this license is being widely used by others?

[2020-02-13 14:34] swinslow commented on #975
Text of exception from original submission:

[code]

[2020-02-13 14:41] swinslow commented on #951
Thanks for this @mlinksva. I note also that this has also been [submitted to Open Knowledge Foundation](https://discuss.okfn.org/t/license-approval-request-open-use-of-data-agreement-1-0/8865) for approval under their Open Definition, and the preliminary comments there are favorable.

I'm in favor of adding, and will raise this on today's legal team call to see if there is consensus.

[2020-02-13 14:42] swinslow commented on #955
Hi @ashok-cl, circling back, do you have any updates on my earlier comments?

[2020-02-13 14:44] swinslow commented on #950
Closing for now given no further comments since 12/31.

[2020-02-13 14:44] #950 closed

[2020-02-13 16:19] oliv3r commented on #950
I apologize for not responding earlier. But indeed, I would imagine that the .TXT files output the original formatting. I understand and agree with what SDPX is and what it is used for, but when a user would like to use the original .txt (e.g. to use as LICENSE or COPYRIGHT in the root of the repository, honoring the original white space would be desirable. Further more, when comparing license tex

[2020-02-13 16:40] oliv3r commented on #950
I removed the script, but I'm not sure how this autobuild thing is supposed to work. I've looked into the .github-workflow and it seems like it should be building and pushing something, but appearantly, this does not happen. Maybe the target is wrong? now it's `"$DOCKER_BASE-alpine:$TAG"` which I think requires this to be its own repository, so we better put the -alipne postfix after the $TAG.

[2020-02-13 18:04] swinslow commented on #953
Discussed on 2020-02-13 legal team call. OSI board vote on whether to accept is expected within the next day.

Assuming it is approved by OSI, then it will also be accepted onto the SPDX license list. @VanL may connect with @kemitchell and/or @swinslow to discuss creating the XML and test files, one for the standard license and one for the combined-works-exception usage.

(If for some reason OSI d

[2020-02-13 22:26] ashok-cl commented on #955
Hi Steve,

Thanks for circling back on this issue. Since last time, we have reached
out to our lawyers who have prepared the initial draft with all the
comments that we received on this application. This is one of the important
items under progress for us but just by the nature is taking more time.

What would be your advice on this? Should we consolidate responses to all
the comments, make change

[2020-02-13 23:00] goneall commented on #950
Just a comment that may help - the directory https://github.com/spdx/license-list-XML/tree/master/test/simpleTestForGenerator contains license text used to test the license matching.  It is common, but not assured, that the text is copied verbatim from one of the originating source.

Since we don't have a policy of maintaining the original verbatim text (and in some cases, that really isn't possib

[2020-02-14 20:30] swinslow opened #976 "Update BSD-2-Clause-FreeBSD"
Adding issue originally from @pgiffuni in license-list-data repo at https://github.com/spdx/license-list-data/pull/58:

= = = = =

* "All rights reserved." is considered obsolete.

* What appears to be a final disclaimer is not part of the license (and has never been used in code). It was a disclaimer from the FreeBSD Documentation Project that was bogusly copied by some sites, including OSI, but

[2020-02-14 20:48] swinslow commented on #976
Hi @pgiffuni, a few thoughts on this:

The `BSD-2-Clause-FreeBSD` entry on the SPDX License List pre-dates my involvement with SPDX, so I can't speak to how it was originally included. The purpose of the list is to help with identifying licenses that are seen in the wild, whether in code itself or in associated documentation. I am guessing that the "views and conclusions" final sentence was includ

[2020-02-15 16:59] anshuldutt21 opened #977 "New license request: test [SPDX-Online-Tools]"
**1.** License Name: test
**2.** Short identifier: test
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header: testtt
**6.** URL: https://opensource.org/licenses/
**7.** OSI Status: Approved

[2020-02-15 20:25] #977 closed

[2020-02-17 20:18] swinslow commented on #955
Hi @ashok-cl, speaking just from my own perspective here (others on the legal team can feel free to weigh in as well).

My expectation is that [the license as submitted in its current form](https://github.com/CasperLabs/CasperLabs/blob/dev/LICENSE) is probably not appropriate for inclusion on the SPDX License List. I'd refer back to the [SPDX License Inclusion Guidelines](https://github.com/spdx/l

[2020-02-17 20:59] swinslow commented on #953
Hi @VanL, I'm not fully familiar with OSI procedures -- but based on https://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-February/004694.html it appears that CAL-1.0 is now formally approved by OSI. Can you confirm whether that's correct?

[2020-02-17 21:44] swinslow opened #978 "Add MulanPSL-2.0"
In license list release 3.7 we added [MulanPSL-1.0](https://spdx.org/licenses/MulanPSL-1.0.html), a permissive license containing both Chinese text and an English translation.

Based on https://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-February/004695.html, it appears that OSI has now approved version 2 of the Mulan Permissive Software License. (Please disregard the "

[2020-02-18 05:40] kemitchell commented on #953
@vanl, I notice that the Markdown copy attached to your OSI message had a few quirks, most notably in the use of block quotations and the markup for a horizontal rule.  For my own reference, I went ahead and prepared a revised Markdown rendering.  Perhaps you'll find it useful: https://gist.github.com/kemitchell/5a6e66f7966235f705fa0ded00aae8a5

More directly germane to SPDX, do you intend the Mar

[2020-02-18 17:38] ashok-cl commented on #955
Thanks for the guidance Steve. This makes sense and I have taken this
feedback to the legal team so that they can look at updating the license
accordingly.

Appreciate your feedback and guidance here.

On Mon, Feb 17, 2020 at 12:18 PM Steve Winslow <notifications@github.com>
wrote:

[2020-02-19 11:43] Jon-Work opened #979 "New license request: WiX-statement [SPDX-Online-Tools]"
**1.** License Name: WiX Toolset License Statement
**2.** Short identifier: WiX-statement
**3.** License Author or steward: .NET Foundation
**4.** Comments: This license clarification is used by the WiX Toolset.  I'm not affiliated with the WiX Toolset, I am just using it to distribute software.

WiX generates installer packages.  This clarification is important, it clarifies that WiX can be used

[2020-02-19 14:06] swinslow commented on #979
Text of license copied below from original submission:

[2020-02-20 13:43] tsteenbe commented on #975
@swinslow  +1 from my side on using `LGPL-3.0-Canonical-linking-exception`

[2020-02-21 02:41] jlovejoy commented on #975
I have done some asking around at Canonical (where I work) and there is no evidence that I can find that Canonical authored this exception. I don't know where it came from, but I'm not sure it's appropriate to use a company name  in the title - looking at https://spdx.org/licenses/exceptions-index.html, it would certainly be a first.

from the links above, it looks like this is used in a few proje

[2020-02-21 14:33] swinslow commented on #975
Thanks @jlovejoy, makes sense.

@tsteenbe well, in the absence of an "official" linking exception from FSF for LGPL-3.0 (at least that I'm aware of), I suppose calling this `LGPL-3.0-linking-exception` is reasonable. If this is actually used in the wild by several projects, and there isn't another better name, I'd be in favor of just going with that.

[2020-02-23 18:48] swinslow commented on #951
We didn't have time to turn to this one during the legal team call on 2020-02-13, I'm hoping to do so during the next call on 2020-02-27.

[2020-02-24 21:48] swinslow opened #980 "Deprecate BSD-2-Clause-NetBSD"
[BSD-2-Clause-NetBSD](https://spdx.org/licenses/BSD-2-Clause-NetBSD.html) is identical to [BSD-2-Clause](https://spdx.org/licenses/BSD-2-Clause.html), with one exception -- the -NetBSD variant includes the following at the beginning:

[code]

Setting aside the fact that the sentence is incomplete and probably needs markup, if it remains...

I don't think that this is sufficiently distinctive from

[2020-02-25 16:10] swinslow commented on #779
Circling back from my earlier comment above, I haven't seen comments from volunteers to add + maintain raw github links to existing license list entries, so I am going to go ahead and close this issue. Anyone who is interested in volunteering to help with this should feel free to re-open.

As a general matter, when creating new license list entries, we can aim to prefer raw Github links where feas

[2020-02-25 16:10] #779 closed

[2020-02-25 19:19] carmenbianca commented on #956
Has this been discussed on legal call?

[2020-02-27 16:28] swinslow commented on #956
Hi @carmenbianca, not yet but I will aim to discuss it on today's call.

[2020-02-27 16:38] carmenbianca commented on #956
@swinslow Thanks a lot!

If it adds anything, I'd like to +1 changing the status quo. The problem from REUSE's perspective is:

- Developer declares only LGPL-3.0-or-later in their code.
- Developer provides `LICENSES/LGPL-3.0-or-later.txt` license text.
- ... But that license text is not enough for the end user, who also needs GPL-3.0-or-later, because the LGPL is effectively written as an extens

[2020-02-27 17:10] jlovejoy commented on #978
yes, if it's approved by OSI, then we add it to the SPDX License List

[2020-02-27 17:11] swinslow commented on #978
Discussed on legal team call 2020-02-27, agreed to add.

[2020-02-27 17:11] swinslow commented on #953
Discussed on legal team call 2020-02-27, agreed to add.

[2020-02-27 17:15] jlovejoy commented on #951
@mlinksva - looks like you use O-UDA within the license - but the short identifier would be O-UDA-1.0

would it make sense, for consistency, to use O-UDA-1.0 within the license too?

[2020-02-27 17:16] jlovejoy commented on #951
but substantively , seems fine to add to me

[2020-02-27 17:17] swinslow commented on #951
Discussed on legal team call 2020-02-27, agreed to add. Please feel free to weigh in on preferences for the identifier and the term used in the license text, per @jlovejoy's comment above.

[2020-02-27 17:38] silverhook commented on #956
I’m truly sorry I cannot attend this call. I have a clash. Happy to discuss this further here, on mailing list, or in a later call.

[2020-02-27 18:03] kemitchell commented on #953
Thanks for reporting, @swinslow! Much appreciated.

[2020-02-27 19:13] jlovejoy commented on #956
Hi all - we discussed this on the call today, and the consensus was to keep the status quo.

More notably it was already raised and discussed when we were about to release 2.0, which implemented the expression syntax and the exceptions list in March 2015. I'm not going to repeat the points from that thread, as you can read it here: https://lists.spdx.org/g/Spdx-legal/topic/22080579#1092  but the T

[2020-02-27 23:25] jlovejoy commented on #980
yeah, this has always kind of bugged me. I'm not sure what the historical reason for having it was - might be worth a bit of digging on that.

I'd also be curious to know from various tool/scanning folks how often it is found (in this form)

[2020-02-27 23:28] jlovejoy commented on #979
this seems more like either a "clarification" of what WiX thinks MS-RL means in relation to the WiX installer packages and the meaning of "derivative work"

I'm not sure this rises to the level of an "exception" to the license terms?

Would be nice to have someone from the WiX to comment or maybe @stephenrwalli has some insights, as he was involved with OuterCurve

[2020-02-27 23:30] mlinksva commented on #951
@jlovejoy to verify I understand, you're asking if it would make sense to add "-1.0" to:

and then throughout?

That doesn't seem necessary, but I'm curious if it would be a first for a license to use its own SPDX ID internally? 😄

[2020-02-27 23:34] jlovejoy commented on #951
that was essentially my thinking - I'm not sure it feels imperative in this instance - especially since the license is already in use.
It *is* more imperative as when the usage in the license is related to how to apply the license :)

probably would be first to use its own SPDX ID internally, unless SPDX adopted an identifier exactly as it was already used.

of course, version number is key for id

[2020-02-27 23:34] jlovejoy commented on #951
so yeah, just a thought that struck me, but a thought that can probably be ignored!

[2020-02-28 11:36] Jon-Work commented on #979
It's like the "Linux-syscall-note" exception that is already in the SPDX list.

Lawyers can argue whether in legal-speak it is a "note", "statement", "exception", "clarification", or something else.  But SPDX only has a technical category called "exceptions" that handles things like this, so it needs to be a SPDX "exception".

[2020-02-28 16:53] jlovejoy commented on #979
@Jon-Work - do you represent WiX?

we had Linux contributors involved with the addition of the Linux-syscall-note and there was quite a bit of discussion about that.  So, discussion here is also just as appropriate.

[2020-03-02 00:39] lelutin opened #986 "clarifications on licensing of the contents of this repository (or files generated from it and hosted on the spdx site)"
Hello,

I'm working on packaging a ruby library called ruby-spdx-licenses[0] [1] for
debian and I had some questions pop to mind about licensing.

0:https://rubygems.org/gems/spdx-licenses
1:https://github.com/domcleal/spdx-licenses

The code ships a a copy of the SPDX license list in JSON format. The copy
was taken from the SPDX web site:

https://github.com/domcleal/spdx-licenses#spdx-licenses

[2020-03-03 07:39] kemitchell opened #987 "Parity 7.0.0"
This is a tracking issue for identification of [Parity-7.0.0](https://paritylicense.com/versions/7.0.0.html).

A pull request with an XML file, #949, was opened at the start of November in 2019.

@swinslow [helpfully suggested opening this issue](https://github.com/spdx/license-list-XML/pull/949#issuecomment-593708209), to ensure it makes the docket.

[2020-03-03 14:26] swinslow commented on #987
I'm generally in favor of adding. This is the next version of the Parity license for which we added version 6.0.0 in release 3.6 ([XML](https://github.com/spdx/license-list-XML/blob/master/src/Parity-6.0.0.xml), #805)

@kemitchell a couple of quick questions:

- can you point to examples of current use of Parity-7.0.0 in the wild?
- can you give a short summary of any significant substantive diffe

[2020-03-03 16:24] waldyrious commented on #987
Some links that could be useful (similar to the [list I compiled for the PR adding Prosperity 3.0.0](https://github.com/spdx/license-list-XML/pull/960)):

- [Announcement blog post](https://blog.licensezero.com/2019/11/04/Parity-7.html)
- [Release notes](https://github.com/licensezero/parity-public-license/releases/tag/v7.0.0) in the license's repository
- [List of commits](https://github.com/lice

[2020-03-03 17:30] kemitchell commented on #987
@zkat's https://github.com/zkat/cacache-rs currently uses 7.0.0.

@substack's eyros [is waiting on SPDX identification](https://github.com/licensezero/paritylicense.com/pull/6) to move from 6 to 7.

[2020-03-03 22:00] swinslow commented on #951
Since it's already in use, I'd be in favor of adding this one as it is, in its current state (e.g. without having the defined term changed in the license text). If the license stewards do change it at some point in the future, I imagine we could accommodate that with markup pretty easily so that both would match to the same license list entry.

[2020-03-04 04:16] mlinksva commented on #951
Great, I'll try to get a PR submitted soon (but feel free to go ahead if anyone is eager to do so).

[2020-03-05 14:53] ArthurSegato commented on #964
As this license is recent I still have no examples of other projects to show you, the 404 error is due to the website is undergoing changes, sorry for the inconvenience.

[2020-03-09 15:15] swinslow opened #988 "Request to add CC Public Domain Mark"
Copying relevant portions from spdx-legal mailing list, see https://lists.spdx.org/g/Spdx-legal/topic/71831424#2734:

From @david-a-wheeler:

From @swinslow:

From @david-a-wheeler:

[2020-03-09 17:26] goneall commented on #988
This could be added as a template e.g.:

[code]

[2020-03-09 17:28] swinslow commented on #988
Thanks @goneall!

Also on the mailing list it was just posted where these templates come from, with a few other potential variations (thanks @pombredanne!) -- https://github.com/creativecommons/cc.license/blob/a134299fdb0e882b84a2c181afc5588e13ae32df/cc/license/formatters/classes.py#L324

[2020-03-09 17:38] david-a-wheeler commented on #988
FYI, Philippe Ombredanne appears to have found the underlying template:

[2020-03-09 17:41] goneall commented on #988
A bit more work to have a template that covers all of the options, but definitely doable with an hour or so worth of work.

[2020-03-09 18:00] carmenbianca commented on #988
Ought someone from CC be pinged to catch their input?

100% ack on adding this, though. Pinging @mxmehl and @silverhook to make them aware of this issue.

[2020-03-09 18:09] pombredanne commented on #988
If this is of any use we are tracking several public domain-related licenses in ScanCode beside the two CC present in SPDX and the CC PD mark subject of this ticket:

- the CC PD mark: https://github.com/nexB/scancode-toolkit/blob/9d53e94474347da5292aae7be9bb7cedb4399a9a/src/licensedcode/data/licenses/cc-pdm-1.0.yml

- For things specifically from the US Gov't as this is special especially for non

[2020-03-09 22:07] mlinksva commented on #988
The URL CC uses to identify PDM is https://creativecommons.org/publicdomain/mark/1.0/

FWIW there's also a FAQ at https://wiki.creativecommons.org/wiki/PDM_FAQ

Unlike all other CC instruments there isn't a corresponding license text. The output/templates from CC cited above are notices, but perhaps could serve as license text in a SPDX record; an alternative would be the "deed" text at the URL ab

[2020-03-10 12:25] waldyrious commented on #988
In case that helps, here's a regex that covers all the plaintext variations:

[code]

Visualized as a [Debuggex](https://www.debuggex.com/) diagram:

![Screenshot 2020-03-10 at 12 22 50](https://user-images.githubusercontent.com/478237/76311942-ea797b80-62c9-11ea-9094-972d4fe63481.png)

[2020-03-10 18:47] mlinksva commented on #988
By the way, another initiative that may be worth looking at if folks want to think about how statements about copyright status ought be represented in SPDX in general, rather than treating CC-PDM-1.0 as a one-off: https://rightsstatements.org which IIRC @mzeinstra is one of the main architects of.

[2020-03-11 08:04] mzeinstra commented on #988
Thank for the notification Mike, I also participated in the workshops that led to the Public Domain Mark.

I was one of the architects of rightsstatements, but most credits should go to @anarchivist and @aisaac , I was more heavily involved in one of its predecessors.  I'll open a new ticket where we can discuss if those are fit for the purpose of SPDX.

[2020-03-11 08:25] mzeinstra opened #989 "Request to add Rightsstatements.org statements"
As first discussed inMentioned in #988

RightsStatements.org is a series of human and machine readable statements related to copyrightright status of a work.

It is designed to be used by heritage institutions to harmonise the way these institutions mark their online collections. Going from generic sentences like 'in copyright', 'rights reserved' and '(C)' to a one derefenceable URI. Statements ar

[2020-03-12 16:41] jlovejoy commented on #925
as per call on 12th March - @silverhook mentioned https://freedomdefined.org/Definition

open question to add to our list of open definitions?

[2020-03-12 16:54] swinslow commented on #925
- [ ] Non-definitive factors to be changed to numbered ordered list

[2020-03-12 16:58] jlovejoy commented on #925
- [ ] update historical part

[2020-03-12 19:55] jlovejoy commented on #925
please see draft for review at #990

[2020-03-12 23:17] swinslow commented on #925
+1 on adding Free Cultural Works, now that I've had a minute to read it again  :)

[2020-03-13 16:29] silverhook commented on #690
@jlovejoy, @swinslow, it might make sense to deprecate it now that it’s been marked as retired on OSI list for over a year.

[2020-03-13 16:55] silverhook opened #991 "Remove “LEDs” typo(?) from NOSL"
In NOSL currently we see the following section (emphasis mine):

…but looking at the [Internet Archive](https://web.archive.org/web/20090421091657/http://bits.netizen.com.au/licenses/NOSL/nosl.txt) of the original text, I can see the following:

It seems to me that the word “LEDs” somehow snuck into there by pure chance when writing the SPDX template.

While we’re at it, it might make sense to add

[2020-03-13 18:12] silverhook opened #992 "Add notes to CPAL-1.0, NOSL, SPL-1.0 and Interbase-1.0 that they are modified MPL-1.1"
The following licenses are basically rebranded MPL-1.1 with some additional terms:

- CPAL-1.0 – apart from “Initial Developer” expands to “Original Developer”, major changes are that  in §14 it includes an advertising claus  and in §15 it extends its (weak) copyleft also to network/SaaS use
- NOSL – new §7.1 that expands on the warranty disclaimer, in §11 change of jurisdiction and forum
- SPL-1.

[2020-03-13 20:01] sarahpearson commented on #988
As @mlinksva correctly states above, the CC Public Domain Mark does not have corresponding legal text. It is more like a rights statement than a license.

[2020-03-13 22:43] silverhook commented on #925
It covers more than just mere licensing, but it seems like a very good sanity check also for that. I remember referring to that definition years ago, whenever someone asked for something like it.

[2020-03-13 23:01] silverhook commented on #956
Of course, I disagree, otherwise I would not have opened and continued commenting in this issue ;)

But even if I disagree with the decision, I can understand why the decision would be to keep the status quo. I think that is unfortunate and it continues to perpetuate the odd and inconsistent situation that the LGPL-3.0 brings, but I guess we all have to live with it.

If that’s that, feel free to

[2020-03-14 09:55] aisaac commented on #988
Just one detailed note about @mlinksva 's comment above: should you want to use linked data or other machine-readable format, the canonical URI for the CC rights statements uses HTTP not HTTPS (even though it - correctly - redirects to HTTPS for browsers). See discussions from the perspective of statements re-users such as IIIF at https://github.com/IIIF/trc/issues/32. There's also a couple of not

[2020-03-14 20:59] swinslow commented on #690
@silverhook Sounds like this is the same issue as Entessa / Apache-1.1 I think?

I'll reopen this one for now. I am theoretically in favor of deprecating these if they're really identical per SPDX matching guidelines to a common license that's also on the list (I haven't check myself yet to confirm).

One thing that comes to mind if we do deprecate, is that currently the deprecated licenses (liste

[2020-03-14 21:05] swinslow commented on #991
Good eye @silverhook! That certainly does look to me like it's an error...

It might have come into SPDX by way of the FSF's license list -- looking at https://directory.fsf.org/wiki/License:NOSL I see the same error there.

I wonder if it's worth keeping "LEDs" as _optional only_ text, on the off chance that someone has used this as a template given that the mistake shows up in both SPDX and FSF'

[2020-03-15 00:50] rafaelcastrocouto commented on #959
We are going to need a MIT-Hippocratic-2.0, am I right?

[2020-03-15 00:54] CoralineAda commented on #959
Dropping the MIT part (it diverged too far), next week will see the release of Hippocratic-2.1

[2020-03-15 00:59] rafaelcastrocouto commented on #959
So the new id is just `Hippocratic-2.1`?

[2020-03-15 01:02] CoralineAda commented on #959
Yes!

[2020-03-15 07:59] silverhook commented on #690
Similar, yes. Although CUA-OPL-1.0 was by now already retired on OSI list, while Entessa is marked as Non-reusable/vanity license there.

[2020-03-15 08:13] silverhook commented on #991
Might make sense to let FSF know about that as well.

Worth considering/discussing, yes.

Although a [very lazy search on GitHub](https://github.com/search?q=%22the+terms+of+this+License+and+distribute+the+Larger+Work+as+a+single+LEDs+product.%22&type=Code) coughs up only 73 results, most of which seem to be tooling to find this license or store it in a BoM.

[2020-03-17 01:40] rafaelcastrocouto commented on #959
I wish we could just have an id like `Hippocratic-latest`

[2020-03-17 03:34] CoralineAda commented on #959
If the version doesn’t matter, let’s just go with Hippocratic then?

[2020-03-17 07:27] silverhook commented on #959
Without going into the question whether Hippocratic meets the SPDX inclusion guidelines or not, the version should be there. We cannot reliably refer to a license whose text has changed in the past and continues to be modified, without a version number.

[2020-03-17 09:17] bqsgwys opened #993 "New license request: GLWTPL [SPDX-Online-Tools]"
**1.** License Name: Good Luck With That Public License
**2.** Short identifier: GLWTPL
**3.** License Author or steward: me-shaon
**4.** Comments:
**5.** Standard License Header:
**6.** URL: https://github.com/me-shaon/GLWTPL
**7.** OSI Status: ~Approved~ _Not approved, see comment below_

_edited by swinslow 2020-05-07 per comments in thread below_

[2020-03-19 17:25] vmbrasseur commented on #993
Contrary to the request description, [this license is not approved by OSI](https://opensource.org/licenses/alphabetical).

[2020-03-21 01:46] rafaelcastrocouto commented on #959
Since the updates and changes are only made to clarify legal meandres, fix typos or to update terms; and the main concept of the licence is cristal clear and will remain untouched; I see no reason for users to be able to declare that they want the latest revision of the license. Unless of course there's some kind of legal issue about how the licence must be declared, that I'm unaware of.

[2020-03-21 07:26] silverhook commented on #959
Let me put it this way: would you rely on a library or API that has no means of versioning whatsoever and simply someone at a conference said to you “it’s fine, we’re basically just fixing security bugs and typos in it, there’s no plans of substantial changes”? And would you write critical software that is intended to run for years and decades to simply point to the always changing master of this

[2020-03-21 08:03] silverhook commented on #993
There are already two versions of this license (and no versioning), plus several translations of it:
- https://github.com/me-shaon/GLWTPL/blob/master/LICENSE
- https://github.com/me-shaon/GLWTPL/blob/master/NSFW_LICENSE

This would make it difficult to track in SPDX, but we could just go about it the same way as with CC licenses, if it gets approved.

It is not a very well written license as the m

[2020-03-21 10:30] rafaelcastrocouto commented on #959
Yes I would, it's exactly what auto update does in your OS, and that's why there's such operator in the first place. So I guess I'll just use `Hippocratic-2.1+` for now on.

[2020-03-25 01:15] isuruf opened #994 "Templated BSD-3-Clause-LBNL"
https://github.com/pcdshub/pcdsdevices/blob/master/LICENSE.md is similar to BSD-3-Clause-LBNL except for some names. Can BSD-3-Clause-LBNL be changed to reflect a class of licenses instead of specific to one copyright holder?

[2020-03-25 13:37] swinslow commented on #994
@isuruf Good catch and thanks -- I tend to agree that BSD-3-Clause-LBNL should be templated in a way that's similar to how BSD-3-Clause is templated. (i.e. move copyright text into the copyright field, and add templating for references to the copyright holders in the middle of the license text)

I'm in favor of making this change. Can other SPDX legal team participants weigh in either with a +1 or

[2020-03-26 15:59] swinslow commented on #992
I haven't yet compared them myself, so with that caveat :) I agree with @silverhook. It's great to be able to highlight to folks in the notes when one license is basically the same as another.

[2020-03-26 16:00] jlovejoy commented on #994
I guess my question is: do we need templating? that is, is this license used in the wild with different name in clause 3 and the last paragraph?

While templating those aspects makes sense from a theoretical point of view - if, in practice, no one else is using the license, then it's not necessary.

(copyright notice has its own matching guideline rule, so that's already accommodated for differenc

[2020-03-26 17:10] swinslow commented on #994
@jlovejoy yes -- I think the issue is that the existing [BSD-3-Clause-LBNL](https://spdx.org/licenses/BSD-3-Clause-LBNL.html) names LBNL specifically in the copyright notice + clause 3 + last paragraph. But the one that was [linked to above](https://github.com/pcdshub/pcdsdevices/blob/master/LICENSE.md) names Stanford SLAC in those places but otherwise uses the same license text. (I am assuming; I

[2020-03-26 17:24] jlovejoy commented on #992
a note on each of these sounds like a good idea.
@silverhook - do you want to draft something in a PR for each?

[2020-03-26 17:28] jlovejoy commented on #991
if I understand you comment about the 73 results, seems like that tilts toward adding optional tag?

[2020-03-26 17:33] jlovejoy commented on #989
just read a few of the rights statements - I'm a bit confused as to the goal here. These are not licenses and seem to reference the need (in some of the statements) to get permission from the copyright holder for certain uses and the About page even states they "are not intended to be used by individuals to license their own creations"
Is the intention to have a standard notice that sort of descri

[2020-03-26 17:40] jlovejoy commented on #988
@pombredanne - if there are commonly found public domain dedications that have consistent associated text to express them, then please submit them to be added to the SPDX License List

as for a general public domain identifier that is *not* associated with a set text, we have discussed this many times in the past - please see this write-up as to why that is problematic: https://wiki.spdx.org/view/

[2020-03-26 17:42] jlovejoy commented on #987
@swinslow - do we still need the "discuss on legal call" label?

[2020-03-26 17:43] jlovejoy commented on #980
@pombredanne @goneall  - any input on the above question?

[2020-03-26 17:48] jlovejoy commented on #979
@Jon-Work - oops, sorry, you already said you don't represent WiX

any ideas on who we can tag for some insight on the intentions here?

as for the "lawyers can argue" comment (which comes across a bit snarky - this is the SPDX legal team, which is made up of some lawyers who have worked very hard to make the SPDX License List a consistent, reliable and usable thing!) - yes, we have a category cal

[2020-03-26 17:50] jlovejoy commented on #975
seems like there is support to add this? can we mark it as such?

[2020-03-26 17:51] jlovejoy commented on #925
closing issue, as we just merged the new guidelines!!

[2020-03-26 17:51] #925 closed

[2020-03-26 17:54] swinslow commented on #975
Agreed, I'll add the "accepted" tag.

[2020-03-26 18:02] jlovejoy commented on #959
hi folks - a couple updates and input relevant to the discussion here:

- as per @swinslow comment about inclusion guidelines, they are now update - please see: https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md
Note the guideline about versioning.  Given the goal of SPDX overall to be human and machine readable, a reliable set of text for a given license is

[2020-03-26 18:04] jlovejoy commented on #956
@silverhook - thanks! and fair enough. I hear ya. We'll close and wait for it to be raised again in about 2-3 years ;)

[2020-03-26 18:04] #956 closed

[2020-03-26 18:10] jlovejoy commented on #964
@ArthurSegato - do I understand correctly that you wrote this license based on a belief that cats need more affection and it's not actually used (yet)?

We have just updated our license inclusion guidelines, I'm not sure it meets those - see https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md

[2020-03-26 18:12] jlovejoy commented on #955
leaving this open and with "waiting for" label, but putting for Later milestone for now

[2020-03-26 18:17] isuruf commented on #994
If you add the following diff to the LBNL text, you get the license I linked above with only whitespace changes.

[code]

[2020-03-26 18:59] CoralineAda commented on #959
I really don’t think that the versioning of previous versions is critical, given that this is a new license and doesn’t have a lot of adoption.

Also, 2.1 was released today, and is considered stable. I don’t have plans for further changes to the license in the foreseeable future.

So I would be comfortable in a scenario where a scanner misses 1.x and focuses on 2.1

Is that helpful?

[2020-03-26 19:55] goneall commented on #980
Less common now than 5 to 10 years ago, but still very common in my experience

[2020-03-27 03:16] mlinksva commented on #989
I'm not sure adding these statements makes sense. FWIW the reason I [mentioned](https://github.com/spdx/license-list-XML/issues/988#issuecomment-597251864) them was to highlight that the CC Public Domain Mark is like them, and it might be helpful to think of it as such, rather than as a license with a corresponding license text.

[2020-03-27 08:18] mzeinstra commented on #989
I also think most of them are out of scope for SPDX, but when considering the Public Domain Mark, you might also consider some of the RS statements related to the public domain: https://rightsstatements.org/page/1.0/?language=en#collection-nc

Regardless, it is good to have the discussion.

[2020-03-29 10:44] adamretter opened #995 "New license request: BUSL-1.1"
**1.** License Name: Business Source License 1.1
**2.** Short identifier: BSL-1.1
**3.** License Author or steward: Adam Retter
**4.** Comments: This is a Source Available license, not an Open Source license. However it is in use and its adoption is growing. IMHO Source Available code needs even clearer licensing than Open Source as users can access the source code publicly (e.g. GitHub), but it h

[2020-03-29 12:17] zvr commented on #995
The name "BSL" is already being used for Boost Software License: https://spdx.org/licenses/BSL-1.0.html

[2020-03-29 13:32] adamretter commented on #995
@zvr Ah okay, somehow I missed that! Perhaps we could use `BUSL-1.1`

[2020-03-29 15:13] swinslow commented on #993
@vmbrasseur thanks for highlighting that this is **not** OSI-approved.

For the most part I agree with @silverhook's comments. Although it isn't versioned in the license author's text, the text that would be added to the License List (if it is included) should presumably be given a 1.0 version number -- so that if there are future updates, they could be distinguished.

Having taken a quick look at

[2020-03-29 15:16] swinslow commented on #994
Thanks for the diff @isuruf. I'm supportive of adding this templating (similar to how baseline BSD-3-Clause handles this). I can prepare a patch to the files in the license list repo if there's similar support from others on the SPDX legal team. @jlovejoy any objections?

[2020-03-29 15:17] swinslow commented on #991
@jlovejoy I agree -- I think it's worth keeping this in but as optional, and perhaps indicating it also in the Notes for the license.

[2020-03-29 15:19] swinslow commented on #987
No, I think this is OK to add given brief discussion on the call this week. I'm removing the label and marking it as approved.

[2020-03-29 15:19] swinslow commented on #987
I'll take a look at the PR that @kemitchell submitted at #949

[2020-03-29 15:21] swinslow commented on #980
I've run into it periodically in the code I'm reviewing (which is what prompted me to file the issue)  :)

Sounds like there's support to deprecate it. Unless there's objection, I'll prep a PR to move it to deprecated status and add a note explaining why.

[2020-03-29 15:54] swinslow commented on #959
Thanks @CoralineAda! That is helpful. If 2.1 is fixed text that won't be changing, and if you anticipate that people using prior versions will migrate to 2.1, then I would agree that we omit older versions from the list. If there continues to be significant community uses of earlier versions over time then that could be a separate discussion.

On the substance of whether to add it: I tend to be in

[2020-03-29 15:56] swinslow commented on #959
Updated issue title to reflect change to requested identifier per discussions in this thread.

[2020-03-29 15:57] swinslow commented on #945
Hi @jlovejoy, did you get the feedback you needed from the license author for SolderPAD 2.0? Or is this one that we should move out past 3.9?

[2020-03-29 16:01] swinslow commented on #902
The license inclusion principles have been updated; see https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md for the updated version.

That said, even with the update to the principles, I would not be in favor of adding this to the license list. The key thing is that as @jlovejoy described, exceptions are intended to be exceptions to license conditions or else

[2020-03-29 16:04] swinslow commented on #845
Hi @bradleeedmondson, the target release date for 3.9 has been moved out to the end of April. Do you expect to have a PR for it before then? If not, no worries but I may take it myself or see if someone else can take it.

Separately, I would suggest that when this is added, that it use the identifier "OGC-1.0" rather than just "OGC". I think we're trying to version licenses wherever possible even

[2020-03-29 16:26] CoralineAda commented on #959
Yes, since 2.1 is stable, I expect people to migrate up to that version.

Thanks!

[2020-03-29 16:41] swinslow commented on #767
Following up on this request: The SPDX license list inclusion principles have now been updated, see https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md.

In light of the update, I would be generally in favor of adding this one to the list. For me the evidence of use in the wild pushes this over the line, particularly given that we've already got other CC-BY-NC

[2020-03-29 16:49] swinslow commented on #763
Following up on this quite old issue. The SPDX license list inclusion principles have now been updated, see https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md.

In light of the updated principles, and a broader intent to include "source available" licenses that aren't fully compliant with the OSD or similar definitions, I would be in favor of adding this one

[2020-03-30 03:34] goneall commented on #996
Transferring this issue to LicenseListXML - this could be resolved by adding optional text at the beginning of the CC-BY licenses with the summary text.

[2020-03-30 08:35] me-shaon commented on #993
I'm the author of the License and yeah, it was written as a Joke. I didn't even know that around 250 people used this in their project. :O
Anyway, if you decide to add this to the SPDX license list, it's fine by me. Just let me know If I need to do anything on my end.

[2020-04-02 23:04] ArthurSegato commented on #964
I read the new guidelines and saw that my license does not fit it, I will reformulate it, thanks for your attention.

[2020-04-02 23:04] #964 closed

[2020-04-05 15:14] swinslow commented on #987
Closing this issue, as #949 has now been merged. Thanks all!

[2020-04-05 15:14] #987 closed

[2020-04-05 15:41] swinslow commented on #994
PR added at #998 to implement these markup edits.

[2020-04-05 15:48] swinslow commented on #991
Added #999 to fix this and add explanatory note.

[2020-04-05 16:18] swinslow commented on #975
@tsteenbe I just submitted #1001 to address this -- would be great to get your quick review as the original requester of this. Thanks!

[2020-04-05 17:43] swinslow commented on #951
@mlinksva and @royaljust, I've submitted #1003 to add O-UDA-1.0 to the license list. Take a look and if you can give it a +1, I'll get it merged. Thanks!

[2020-04-05 17:58] swinslow commented on #845
@jlovejoy @bradleeedmondson @desruisseaux I've submitted the PR at #1004 to add OGC-1.0 to the license list. If you have a moment to take a look and give it a +1 or let me know any questions / concerns, that would be great. Thanks!

[2020-04-05 18:40] ghobona commented on #845
@swinslow I have recently been assigned the task of supporting SPDX listing of the OGC license. Instead of merging PR https://github.com/spdx/license-list-XML/pull/1004 let me put some versioning information on the license and URI first, please.

[2020-04-05 18:52] swinslow commented on #845
@ghobona Sounds great, thanks! I'll close PR #1004 for now and can update / open a new one after you finish the updates on your side.

[2020-04-07 15:49] richardfontana commented on #953
Note, the OSI hasn't yet published CAL on opensource.org. (I'm reminded that in  https://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-February/004649.html I pointed out some minor textual issues with the version apparently approved by the OSI, but these wouldn't have any relevance from an SPDX point of view as they just go to capitalization.)

[2020-04-07 15:55] richardfontana commented on #959
I agree with this.

[2020-04-07 16:01] VanL commented on #953
Update for all:

I'm working on the XML version. I do want to make sure that the version
posted at opensource.org matches what is used here, including the updated
preamble we discussed (which has been sent to the OSI board as well).

I'll follow up and report back here.

Thanks,
Van

On Tue, Apr 7, 2020 at 10:50 AM Richard Fontana <notifications@github.com>
wrote:

[2020-04-07 16:03] richardfontana commented on #885
I do not see how the Polyform licenses meet the following element of the license inclusion guidelines:

"The license has actual, substantial use such that it is likely to be encountered. Substantial use may be demonstrated via use in many projects, or in one or a few significant projects. For new licenses, there are definitive plans for the license to be used in one or a few significant projects."

[2020-04-07 20:39] kemitchell commented on #885
@richardfontana this PR long predates the new license inclusion principles. The XML files are fully baked and passing tests in #903, where, IIRC, at least one user chimed in with an example of use. There's no further load for SPDX maintainers to bear on this. Very intentionally so.

You [mentioned earlier](https://github.com/spdx/license-list-XML/pull/985#issuecomment-593732369) that you're concer

[2020-04-07 21:04] richardfontana commented on #885
@kemitchell there is evidence that one of the Polyform licenses is used by one project, of unclear significance to me. That doesn't mean that all the other Polyform licenses meet the requirement of "actual, substantial use such that [they are] likely to be encountered". I'm not sure Yugabyte's trialware is likely to be encountered either. If the "actual, substantial use" requirement is going to be

[2020-04-07 21:06] kemitchell commented on #885
@richardfontana if it's going to provide cover for political objections to new licenses, it should definitely be deleted.

[2020-04-07 21:17] jlovejoy commented on #885
that requirement has been there from the beginning. The point being that SPDX aims to provide a language for exchanging information about software (and its licenses) that people use, found in the software supply chain, etc. In the early days of SPDX, we were kind of catching up to what was already out there, so this requirement was kind of obvious.

The challenge we have now is that some license a

[2020-04-07 21:27] kemitchell commented on #885
@jlovejoy I don't think SPDX included that requirement to omit licenses on political grounds. How could I? We've discussed the wording and rationales for that criterion many times.

I do believe @richardfontana invokes it here for his own reasons, unrelated to materiality of the terms or any burden on SPDX maintainers. The licenses are meaningful and new. The work of prepping for identification is

[2020-04-07 21:32] jlovejoy commented on #885
@kemitchell - based on this thread alone, I'm not sure I can see how the accusation against @richardfontana holds water.  I can guess that you both have some history here but let's try to leave that out, ok?

I appreciate that you are trying to design for and consider the use of SPDX identifiers in advance. That being said, you are probably a bit biased as to whether the licenses are "meaningful"

[2020-04-07 21:43] richardfontana commented on #885
@kemitchell I don't have any particular political objection to Polyform that I'm conscious of (other than a general deep-rooted dislike of non-FOSS licenses). I'm supportive of SPDX inclusion of non-FOSS licenses in appropriate cases, e.g. I supported addition of SSPL which I consider non-FOSS.

[2020-04-07 22:04] kemitchell commented on #885
I don't have any grudge against @richardfontana at all, much less any I'd like to bring in here. Quite the opposite, actually.

@swinslow brought these licenses up by name in the PR on the inclusion principles, and @richardfontana responded. I do think that's part of this issue, though we split it across issue numbers:

https://github.com/spdx/license-list-XML/pull/985#issuecomment-593710979

http

[2020-04-07 23:52] swinslow opened #1005 "Mark OSI approval for existing BSD-1-Clause"
BSD-1-Clause is [currently on the license list](https://spdx.org/licenses/BSD-1-Clause.html). It has now been approved by OSI, see [license-discuss](http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-April/004807.html).

* isOsiApproved should be set to "true"
* also, note that references to the interchangeable text `Berkeley Software Design, Inc.` should _perhaps_ be c

[2020-04-08 12:58] pombredanne commented on #885
@kemitchell may I suggest to use instead the upcoming SPDX license id namespace feature, e.g. having your own polyform namespace?

[2020-04-08 16:08] kemitchell commented on #885
@pombredanne, @swinslow reserved the `Polyform-` prefix for us in the standard namespace [above](https://github.com/spdx/license-list-XML/issues/885#issuecomment-519612576).

Our primary motive for submission was to give project maintainers the ability to express their license choices in package metadata and other places where SPDX IDs or expressions are required or supported. I'm interested in th

[2020-04-08 19:37] VanL commented on #953
A couple quick questions regarding the license XML.

1. Is there a list of all the available elements? (I would like to put an
<hr /> or similar in my optional section)
2. I see some text on the site about an XML/RDF spec that has a lot more
information in it than the examples I am using in the src directory of the
repo. Do I need to worry about those?

Thanks,
Van

On Tue, Apr 7, 2020 at 11:00 AM

[2020-04-08 20:13] goneall commented on #953
Hi Van,

From: VanL <notifications@github.com>
Sent: Wednesday, April 8, 2020 12:37 PM
To: spdx/license-list-XML <license-list-XML@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [spdx/license-list-XML] New license and exception request: CAL-1.0 (#953)

A couple quick questions regarding the license XML.

1. Is there a list of all the available elements? (I would li

[2020-04-09 16:06] #978 closed

[2020-04-09 16:08] #994 closed

[2020-04-09 16:11] #991 closed

[2020-04-09 16:20] jlovejoy opened #1006 "add notes to deprecated licenses as per comment in header"
I thought these were in there, but not seeing them, especially for https://spdx.org/licenses/Nunit.html and https://spdx.org/licenses/StandardML-NJ.html and any others not part of the v2 and v3.0 big changes already explained.

[2020-04-09 16:24] isuruf commented on #994
Thanks

[2020-04-09 16:27] #975 closed

[2020-04-09 16:33] #980 closed

[2020-04-09 16:39] swinslow commented on #845
@ghobona I see that "Version 1.0" has been added at https://www.ogc.org/ogc/software/1.0, is that finalized now? Are there any other changes pending?

[2020-04-09 16:41] swinslow commented on #945
Discussed on 2020-04-09 legal team call, @jlovejoy will follow up with license author.

[2020-04-09 16:42] jlovejoy commented on #1005
+ 1

[2020-04-09 16:55] ghobona commented on #845
@swinslow The changes are complete. Nothing else is pending.

[2020-04-09 16:57] pombredanne commented on #980
@jlovejoy

We see it often enough in embedded devices. I will soon have a larger DB of scans online so I will then be able pull some stats on frequencies. There are no issue with deprecating this at all.

[2020-04-09 17:18] jlovejoy commented on #885
@pombredanne @kemitchell - I think we need to be clear on the order of ask and answers here:
1) The Polyform licenses have been requested to be added on the SPDX License List  - we need to answer that question first.
2) IF the answer to that question is no, then the suggestion for use of the namespace option is a great one and the obvious next step.

@pombredanne - I wanted to clarify that because

[2020-04-09 17:27] richardfontana commented on #885
When evaluating a suite of licenses for inclusion in the SPDX license list, I think each license in the suite should stand on its own in meeting the license inclusion principles. However it could make some sense to think ahead to the eventual approval, when justified, of other licenses in the suite (for example in devising appropriate short license identifiers).

The alternative would be that anyt

[2020-04-09 20:59] kemitchell commented on #885
@jlovejoy thanks for setting things out. I have to admit, going from "Should we add the Polyform licenses?" to "What are the inclusion guidelines?" to "Let's update the inclusion guidelines first." right back to "What are the inclusion guidelines?" is frustrating. But there's no place like home, and I'm glad to get back where we started.

I've just pushed a version-number update to #903. In terms

[2020-04-10 14:13] karsten-klein commented on #976
How does this relate also to BSD-2-Clause-NetBSD.

I would argue that this should also be deprecated.

The line "This code is derived from software contributed to The NetBSD Foundation by " may - as above - not regarded as part of the license.

I hope I didn't miss anything in my cross-checking:
- BSD-2-Clause-NetBSD is not OSI-approved
- Differences between BSD-2 Clause only in the scope of place

[2020-04-10 23:16] isuruf opened #1007 "Templated openvpn-openssl-exception"
psycopg2 uses this exception as in https://github.com/psycopg/psycopg2/blob/master/LICENSE#L14-L24

Only difference is that `OpenVPN Technologies, Inc` becomes `copyright holders` and the addition of `If you delete this exceptionstatement from all source files in the program, then also delete it here.`

[2020-04-11 00:19] goneall commented on #1007
Transferred issue from license-list-data

[2020-04-15 10:51] andrewjskatz opened #1009 "New license request: CERN-OHL-2.0-P [SPDX-Online-Tools]"
**1.** License Name: CERN Open Hardware Licence Version 2 - Permissive
**2.** Short identifier: CERN-OHL-2.0-P
**3.** License Author or steward: CERN (The European Organisation for Nuclear Research)
**4.** Comments: This is the permissive variant of V2 of the CERN-OHL. Although it is primarily aimed at open hardware, it is also capable of being used for software, particularly firmware embedded int

[2020-04-15 10:54] andrewjskatz opened #1010 "New license request: CERN-OHL-2.0-W [SPDX-Online-Tools]"
**1.** License Name: CERN Open Hardware Licence Version 2 - Weakly Reciprocal
**2.** Short identifier: CERN-OHL-2.0-W
**3.** License Author or steward: CERN (The European Organisation for Nuclear Research)
**4.** Comments: This is the weakly reciprocal variant of V2 of the CERN-OHL. Although it is primarily aimed at open hardware, it is also capable of being used for software, particularly firmwar

[2020-04-15 10:59] andrewjskatz opened #1011 "New license request: CERN-OHL-2.0-S [SPDX-Online-Tools]"
**1.** License Name: CERN Open Hardware Licence Version 2 - Strongly Reciprocal
**2.** Short identifier: CERN-OHL-2.0-S
**3.** License Author or steward: CERN (The European Organisation for Nuclear Research)
**4.** Comments: This is the strongly reciprocal variant of V2 of the CERN-OHL and the variant which can be applied to projects adopting previous version of the CERN-OHL with the "or later" op

[2020-04-20 11:47] matwey opened #1012 "New license request: EPICS [SPDX-Online-Tools]"
**1.** License Name: EPICS Open License
**2.** Short identifier: EPICS
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header:
**6.** URL: https://epics.anl.gov/license/open.php
**7.** OSI Status: Not Submitted

[2020-04-21 19:34] GeertJohan opened #1013 "A code for "Missing license""
Could we assign a code to "Missing License"?

The code could be used to indicate to systems that no license has been assigned yet. In a project I'm working on we're now using "FIXME" as a license code, but it is quite unspecific and not present on the SPDX list. I believe it would help if there was consensus on a code to use for when no license is present. Perhaps there can also be some linked inf

[2020-04-21 19:57] swinslow commented on #1013
Hi @GeertJohan, thanks for reaching out. When no license is present, this is defined by the underlying SPDX specification (rather than an entry on the license list). The correct code to use would be `NONE`.

This is described in various parts of the spec, depending on the context, but here is an example from [the File level "Concluded License" section](https://github.com/spdx/spdx-spec/blob/develo

[2020-04-21 20:19] GeertJohan commented on #1013
Thanks!

I didn't see that specs and assumed if the value would exist it would be in the list of allowed values. Thanks for the fast reply and clear answer :smiley:

[2020-04-21 20:19] #1013 closed

[2020-04-21 20:31] swinslow commented on #1013
No worries at all, glad I could help  :)

[2020-04-22 12:50] swinslow commented on #885
The Polyform licenses were discussed during the SPDX legal team call on 2020-04-09. From the discussion on the call, there continued to be recognition that this is a tough call on whether to add even with the broader license inclusion principles, and viewpoints both in favor and against adding. There was also recognition that it's not necessarily an all-or-nothing decision, that all of the Polyfor

[2020-04-22 13:39] swinslow commented on #885
Here's my own take on applying the [updated license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md#candidate-license-analysis) to the Polyform licenses. Where applicable I'll address the different Polyform licenses separately, though many of the comments apply to them as a group.

Satisfied. These are new licenses that are not curren

[2020-04-22 13:50] swinslow commented on #885
Taking into account all of the factors described above, here's my _personal_ view of where it comes out. I'll stress that this is _not_ the team decision, and I'd like to see input too from others who have participated in this thread and/or are otherwise involved with the SPDX legal team.

I think that the Noncommercial and Small-Business variants can narrowly tilt in favor of being added, but Str

[2020-04-22 15:10] swinslow commented on #953
Both variants of this are now merged, at #1008 and #1014. Thanks @VanL!

[2020-04-22 15:10] #953 closed

[2020-04-22 15:10] #951 closed

[2020-04-23 16:09] swinslow commented on #720
@MarkAtwood will take a fresh look at this for 3.10.

[2020-04-23 16:19] swinslow commented on #767
Discussed on legal team call 2020-04-23, agreed to add this one; will log separate issue for broader discussion of decision-making on other ports of CC licenses.

[2020-04-23 16:23] swinslow commented on #845
Steve to update PR for version 1.0 text and re-submit.

[2020-04-23 16:33] jlovejoy commented on #885
thanks for this write-up, @swinslow - I think this is a spot-on analysis

[2020-04-23 16:56] swinslow commented on #885
Discussed on 2020-04-23 legal team call, agreed to add Noncommercial and Small-Business for 3.9, with the others pending for reconsideration in 3.10 or future.

[2020-04-23 16:56] swinslow commented on #885
@kemitchell Could you update the current PR to reflect this? Thanks!

[2020-04-23 17:03] jlovejoy commented on #945
discussed on legal call 23rd April - this is written to amend Apach-2.0 so thus should be added on the Exceptions List b/c one has to provide full text of Apache-2.0 with it, so short identifer would be:
   Apache-2.0 WITH SHL-2.0

2.1 is coming also - will deal with both at same time

[2020-04-23 17:29] kemitchell commented on #885
@swinslow I'll split #903 into license-specific PRs.

[2020-04-23 21:00] swinslow commented on #1011
This is one of the three OHL version 2.0 variants (-S is strongly reciprocal; -W in #1010 is weakly reciprocal and -P in #1009 is permissive).

Versions [1.1](https://spdx.org/licenses/CERN-OHL-1.1.html) and [1.2](https://spdx.org/licenses/CERN-OHL-1.2.html) are already on the SPDX license list and appear to be widely used. The Open Source Hardware Association lists the OHL family of licenses amon

[2020-04-24 20:57] swinslow commented on #1011
Noting significant support and indications of use being referenced in comments in PR #1015

[2020-04-27 15:46] kemitchell commented on #1011
Thanks as always, @swinslow.

As far as I can see, all outstanding questions about the content of the pull request have been resolved. It’s read to merge.

We’re only waiting on a few more nods from legal people.

[2020-04-27 15:46] kemitchell commented on #1011
Thanks as always, @swinslow.

As far as I can see, all outstanding questions about the content of the pull request have been resolved. It’s read to merge.

We’re only waiting on a few more nods from legal people.

[2020-04-27 15:57] CoralineAda commented on #959
Any idea on when this might get merged? Absolutely not trying to pressure the maintainers, just curious.

[2020-04-30 19:02] swinslow commented on #959
Hi @CoralineAda, I've mentioned this issue (along with a couple of others) on an email to the spdx-legal mailing list earlier this week, encouraging regular participants in the SPDX legal team to weigh in on whether to approve it to add to the list.

I've indicated [above](https://github.com/spdx/license-list-XML/issues/959#issuecomment-605658008) that I'm favor of adding, given the updated licens

[2020-04-30 23:56] CoralineAda commented on #959
@swinslow Thanks for all that! Please let me know if you need me for anything else, otherwise keep me in the loop over the coming weeks! Thanks for all the work you've done on this already, it's greatly appreciated.

[2020-05-01 17:34] pmadick commented on #959
Hi @swinslow count me in on adding this to the license list with the version number added to the name.

[2020-05-07 16:04] jlovejoy commented on #1011
+1

[2020-05-07 16:05] jlovejoy commented on #1010
+1 to add

[2020-05-07 16:05] jlovejoy commented on #1009
+1 to add

[2020-05-07 16:08] jlovejoy commented on #945
license is in process of moving to have FOSSI Foundation to be steward - want to have them bless the decision to add and short identifier

[2020-05-07 16:11] jlovejoy commented on #996
do most people simply link to the "human-readable summary" or are people actually including this a the license text with their content?  If not, I'm not sure it matters, as the argument I'd see for adding it would be so that scanning tools could identify the text and "match" it as representing that license

[2020-05-07 16:16] jlovejoy commented on #959
+1 to add to list for 2.1
if people are using 2.0, I'm in favor of adding that version too - not everyone can or will upgrade or we can wait an see

[2020-05-07 16:16] swinslow commented on #959
Discussed on SPDX legal team call 2020-05-07, agreed to add version 2.1 of the license to the list for now. Can review in future if a significant number of projects do not switch to 2.1 and continue to use prior versions, re: whether to add 2.0 also.

[2020-05-07 16:18] thusoy commented on #959
That's great news, thanks!

[2020-05-07 16:20] CoralineAda commented on #959
This is great news, thanks so much to everyone involved!

[2020-05-07 16:32] jlovejoy commented on #902
this issue is about whether to add Commons Clause - the addition of FreeRTOS was done some time ago and if someone wants to re-open that decision, then that is a separate issue.

We did say in the past that anything on the exceptions list should meet the license inclusions guidelines - given they have just changed, we should review in light of those

[2020-05-07 16:34] jlovejoy opened #1022 "update definition / guidelines for exceptions"
this was discussed on Nov 29th, 2018 (as well as other times here and there) - https://wiki.spdx.org/view/Legal_Team/Minutes/2018-11-29

Definition is: "These exceptions grant an exception to a license condition or additional permissions beyond those granted in a license; they are not stand-alone licenses."

Came up again on May 7th 2020 call - due to question re Commons Clause addition

Should "e

[2020-05-07 16:36] jlovejoy commented on #1022
(we probably need to add something to license inclusion guidelines to address exceptions directly - something to work on, hence this issue)

[2020-05-07 16:42] swinslow commented on #902
Discussed on 2020-05-07 legal team call, agreed that this does not currently meet the inclusion guidelines as they stand today. Since this is not an exception to a license condition or a set of additional permissions, it does not currently fit the purpose of the exceptions list, and is not a stand-alone license either. Discussion is ongoing re: whether the exceptions list should be broader, such a

[2020-05-07 16:44] jlovejoy commented on #1005
created PR #1023

[2020-05-07 16:45] jlovejoy commented on #1005
i don't really think we need to change the org name - it's aesthetic really, as it's replaceable text anyway

[2020-05-07 16:48] swinslow commented on #979
Discussed on 2020-05-07 legal team call; pending response from submitter and also looking for input from the license stewards for WiX, if they are not currently in this issue thread. The SPDX license inclusion principles include input from license steward where applicable.

[2020-05-07 16:49] jlovejoy commented on #979
@ jeffmcaffer - could you comment or point us to someone who has some direct background on this?  :)

[2020-05-07 16:52] silverhook commented on #979
@jeffmcaffer ^ ^

[2020-05-07 16:57] jlovejoy commented on #995
I think MongoDB is the license steward. @adamretter - do you work for or represent them

[2020-05-07 17:01] swinslow commented on #995
Discussed on 2020-05-07 legal team call, agreed that the license steward should be looped into the discussion on whether this should be added (if that's different from the submitter of this issue).

[2020-05-07 17:09] swinslow commented on #959
FYI for next steps, I'll be creating the XML and test files that will include the license text in the SPDX XML markup format. The next release of the license list is scheduled for the end of next week so assuming it doesn't slip, I anticipate it will appear on the license list website once the release is completed.

[2020-05-07 18:32] swinslow commented on #1005
Thanks @jlovejoy! Agreed, fine with leaving org name as-is. Merged now so I'm closing this issue.

[2020-05-07 18:32] #1005 closed

[2020-05-07 20:38] themaxdavitt opened #1024 "Update Fair License link"
The [first link listed for the Fair License](https://github.com/spdx/license-list-XML/blob/76072fc48c2b97df008b989fbb96c52c9296c178/src/Fair.xml#L5) was seemingly [taken over by domain squatters](http://fairlicense.org). [Here](https://web.archive.org/web/20171019221525/http://fairlicense.org/) is the last good version I could find of it on the Wayback Machine. I understand that [inactive URLs are

[2020-05-07 20:55] swinslow commented on #1024
Hi @themaxdavitt, thanks for reaching out.

We include links to other websites for the licenses on the license list not just to provide a source for the license text (since the SPDX License List contains the license text itself). Instead, one key reason is because often people may use URLs in their code to refer to licenses. Whether or not that's a good practice, it is one that often happens, and

[2020-05-07 20:57] bb010g commented on #902
That all makes sense; thank you for still looking into this.

[2020-05-07 20:58] Jon-Work commented on #979
If you'd like to get the WiX developers involved in this thread, I suggest you contact them through their "wix-dev" mailing list - https://wixtoolset.org/documentation/mailinglist/

Sorry if anything I wrote came across as snarky, that wasn't my intention.

As I'm not part of the WiX team, I'm just a user of WiX and a fan of the SPDX system, there's not really anything more I can contribute here,

[2020-05-07 21:26] themaxdavitt commented on #1024
That's makes sense, I had only thought about the links being used for conveying additional information about the licenses. Closing the issue!

[2020-05-07 21:26] #1024 closed

[2020-05-07 22:04] jlovejoy commented on #1012
@matwey - do you have some examples of where this license is used?

[2020-05-07 22:06] jlovejoy commented on #979
thanks @Jon-Work  - appreciate the submission. it is somewhat standard to make sure the license steward/author is aware of a submission and, in this case, it would be especially helpful. We're working on it!

[2020-05-08 06:03] bagasme commented on #996
@jlovejoy i think mostly do the former than the latter.

[2020-05-08 07:08] matwey commented on #1012
https://github.com/pyepics/epicsapps
https://git.launchpad.net/epics-base

[2020-05-08 09:37] waldyrious commented on #996
FWIW, choosealicense.com [recommends](https://choosealicense.com/licenses/cc-by-4.0/) either using the full text, or merely linking to the summary page, but not including the summary text in the license file (which is what I assume @jlovejoy means by "are people actually including this a the license text with their content?"):

I'd assume that informs how many will apply these licenses.

[2020-05-08 11:03] adamretter commented on #995
@jlovejoy @swinslow I believe the "steward" if there is one, would be MariaDB (not MongoDB) - as they created the license.

[2020-05-10 05:50] bagasme commented on #996
I thought that I mean full license text

[2020-05-11 19:06] swinslow commented on #1011
Added in #1015

[2020-05-11 19:06] #1011 closed

[2020-05-11 19:06] swinslow commented on #1010
Added in #1015

[2020-05-11 19:06] #1010 closed

[2020-05-11 19:06] swinslow commented on #1009
Added in #1015

[2020-05-11 19:06] #1009 closed

[2020-05-12 11:45] decentral1se commented on #959
:rocket:

[2020-05-12 12:37] swinslow opened #1026 "Open Group License"
Submitting issue on behalf of request sent to mailing list, see https://lists.spdx.org/g/Spdx-legal/message/2806:

= = = = =

Hi,

while adding identifiers to licenses used in the BSP (note: i am a
legal trainee, so wording may not be technical perfect), i stumbled
upon the The Open Group License, which does not have an identifier yet.
It is used in: xorg-app-iceauth, xorg-app-rgb, xorg-app-xauth,

[2020-05-12 13:11] andrewjskatz commented on #945
I've just had a meeting with FOSSi, and they have agreed to go ahead with stewardship of Solderpad, and we have been working on finalising the reference text of both Solderpad 2.0 and Solderpad 2.1.

[2020-05-12 13:30] andrewjskatz opened #1027 "Add Solderpad 2.1 Licence as exception to Apache 2.0"
Proposed SPDX Identifier:

APACHE-2.0-WITH-SHL-2.1

Solderpad 2.0 has generated a small number of issues, and this had led to a small point release of Solderpad 2.1 (which has not been officially released yet: official release will coincide with acceptance of Solderpad 2.1 onto the SPDX license list (if approved).

The changes from version 2.0 are summarised as follows:

1. The preamble has been c

[2020-05-12 14:01] swinslow commented on #1027
Thanks @andrewjskatz! Appreciate all your help with this. It sounds like the 2.1 version will be cleaner both for general use and also for adding to the license list.

A couple of things I wanted to clarify:

* Is the intention that this would align with what we'd discussed for Solderpad 2.0, where it would be added to the Exceptions list? If so, then the identifier for that list would just be `SH

[2020-05-12 14:22] andrewjskatz commented on #1027
Thanks @swinslow for responding so quickly.
1. Yes, this should go on the exceptions list.
2. Yes, of course you are right about the identifier. Oops.
3. Yes, 2.0 should still be added if possible as it is currently in use by a reasonable number of projects. We will try to persuade them to port to 2.1, but this is often easier said than done.

By the way, I assume that it's possible to use
Apache-

[2020-05-12 14:50] swinslow commented on #1027
So that's an interesting point on the `+` for the license exception operator. To my knowledge the [SPDX license expression syntax](https://spdx.github.io/spdx-spec/v2-draft/appendix-IV-SPDX-license-expressions/#overview) doesn't currently permit use of the `+` operator with exceptions, but only with licenses. @goneall @zvr or others, please feel free to weigh in if I'm wrong...

I don't see any re

[2020-05-12 15:07] andrewjskatz commented on #1027
Thanks @swinslow. To be honest, I'm hoping that we won't need another version of Solderpad for some time, to I'm not too bothered about this. Since it's highly permissive anyway, it seems unlikely that we would want to amend it in a way that wasn't compatible with previous versions anyway. To have it listed as an exception will potentially drive adoption, as it's then easier to state that any desi

[2020-05-12 16:34] andrewjskatz commented on #1027
OK, so in discussion with FOSSi, we have a further tweak to 2.1 enclose as a text file. This clarifies that it's a copy of the Solderpad licence which needs to be provided to recipients of the Work or a Derivative Work, not a copy of the Apache licence. Subsection 4(a) has been amended accordingly. Please use this version.
[Solderpad 2.1.txt](https://github.com/spdx/license-list-XML/files/4617019/

[2020-05-12 22:03] zvr commented on #1027
@andrewjskatz does the text really mean to say

it's a single section, why the plural?

[2020-05-13 15:04] #959 closed

[2020-05-13 15:07] #845 closed

[2020-05-13 15:08] andrewjskatz commented on #1027
Apologies, but making some changes has inevitably focussed minds, so we have made another couple of changes, again for clarity both in terminology and the relationship between Apache 2.0 and Solderpad. We have also adopted US English, so the noun form is now "License". This is consistent with Versions 0.5 and 0.51. We have re-adopted the Appendix of Apache 2.0 as well. We now have a persistent URL

[2020-05-13 15:29] jlovejoy commented on #1027
@swinslow - agree with your assessment above. I think it's preferable to save the course and add SHL-2.1 as an exception, rather than make (another) "exception" to how we deal with license modifiers (aka exceptions)

@andrewjskatz - do we think it's solid text now or do you expect more tweaks?

[2020-05-13 15:36] jlovejoy commented on #1027
@andrewjskatz - here's a crazy idea... any chance of adding the SPDX identifier to the Appendix on how to apply the license?
as in:

[2020-05-13 15:40] andrewjskatz commented on #1027
@jlovejoy That is certainly one of least crazy ideas I've come across! Consider it done.

[2020-05-13 15:57] jlovejoy commented on #1027
I made a PR to get this going at #1028
did not add SPDX identifier in Appendix though - easy add, when confirmed!

[2020-05-13 16:02] jlovejoy commented on #945
@andrewjskatz - I think we should have both 2.1 and 2.0 no?
2.0 is already in use, isn't that true? and we already have the set text for it, so easy add?

[2020-05-13 16:02] jlovejoy commented on #945
oops, this is not tagged as accepted to add - I thought for sure we discussed it some time ago and the pause was due to license steward change and see about 2.1 version
@swinslow  - do you recall this?

[2020-05-13 16:04] #866 closed

[2020-05-13 17:24] swinslow commented on #945
@jlovejoy yes, I think we had discussed on the call and were comfortable with adding, but it was pending confirmation on the FOSSi / license steward question. Since we know now that they're in favor I think we can mark this as accepted (i'll do so now).

[2020-05-13 17:30] andrewjskatz commented on #1027
Fantastic - thanks Jilayne. One final tweak - please in your reference version can you add a period at the end of the word Apache License version 2.0 in the Appendix so it doesn't run on to the next sentence. It should read as follows:

[2020-05-13 18:04] jlovejoy commented on #1027
@andrewjskatz  - done!

so, do you think everything is solidified to add this for the next release (in the next couple days)?

[2020-05-13 18:32] jlovejoy commented on #1006
what did I have in mind for this... @swinslow
maybe follow this example - https://spdx.org/licenses/AGPL-1.0.html  (which is the minority, but a nice Note)

[2020-05-13 19:11] jlovejoy commented on #945
so, this needs to be an exception in same way as 2.1
see #1029

not sure how to accommodate bold/italic text though

[2020-05-13 19:46] andrewjskatz commented on #945
@jlovejoy you can see why this is a reason we have removed the formatting in version 2.1. I was inspired by the canonical version of Apache 2.0 does contain formatting https://www.apache.org/licenses/LICENSE-2.0 but I can in no way blame ASF for my own idiocy.

There are two options I can propose. I can either mark up the formatting as *bold* and +italic+ - I'm happy to provide a file to do that (

[2020-05-13 20:13] jlovejoy commented on #763
see PR #1030

[2020-05-13 20:47] jlovejoy commented on #996
that is what I meant: to clarify - if people are not providing the text of the human-readable summary in with their content as the "license text" (in quotes, as it's not really the text of the license), then I don't see a reason to add it here.

If they are simply linking to a page that lands on the human-readable summary, which then actually links to the text of the licenses, that's a different t

[2020-05-13 20:48] jlovejoy commented on #995
we will work on contacting someone at MariaDB

[2020-05-14 15:26] swinslow commented on #945
@jlovejoy @andrewjskatz I'd suggest we just merge #1029 as-is, with the license in plain text since that's the only thing the license list can render.

And then (maybe as a follow-up PR) we add to the notes for SHL-2.0 a statement making it clear that the italics referenced in the license cannot be displayed in the version on the license list, but can be seen on the license steward's site. Would y

[2020-05-15 13:34] swinslow opened #1032 "Mark PHP-3.01 as OSI-approved"
see http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-May/004841.html

[2020-05-15 13:51] silverhook commented on #992
Expect the pull requests in the next few hours. Sorry for the delay…

[2020-05-15 13:53] #763 closed

[2020-05-15 13:55] swinslow commented on #992
OK, I'll hold on the release until this afternoon then  :)

[2020-05-15 13:57] swinslow commented on #1027
Completed and merged in #1028 -- thanks everyone!

[2020-05-15 13:57] #1027 closed

[2020-05-15 14:20] swinslow opened #1034 "CAL-1.0 and CAL-1.0-Combined-Work-Exception have same display name"
While preparing the release for later today, I noticed a problem:

For CAL-1.0 and CAL-1.0-Combined-Work-Exception, we gave them separate IDs to indicate whether or not the exception is being used. However, the XML files have exactly the same title in their metadata, and nothing in their notes to explain the difference.

This means that on the license list, it would correctly list the two separate

[2020-05-15 17:17] #1034 closed

[2020-05-15 17:29] swinslow commented on #945
Merged in #1029 and #1033, thanks all!

[2020-05-15 17:29] #945 closed

[2020-05-15 17:29] swinslow commented on #992
Fixed in #1036, #1037, #1038 and #1040, thanks @silverhook!

[2020-05-15 17:29] #992 closed

[2020-05-21 16:08] MarkAtwood commented on #720
I will take and eval this one

[2020-05-21 16:11] vmbrasseur commented on #767
ohai

[2020-05-21 16:16] MarkAtwood commented on #979
ill take this one

[2020-05-21 16:21] johnmhoran commented on #1012
I'll take this.

[2020-05-21 16:23] bgoldring commented on #1026
Comment to help with this.

[2020-05-21 16:25] lemance commented on #1032
@swinslow

[2020-05-21 16:31] swinslow commented on #955
Discussed on 2020-05-21 legal team call, agreed that as currently constituted this is neither drafted for general use nor likely to meet other license inclusion requirements, so it is not accepted.

[2020-05-21 16:31] #955 closed

[2020-05-21 17:10] johnmhoran commented on #931
Hi @Dominik-Hagmann .  Just wanted to follow up with you -- please advise if you've been able to identify examples where this license is in widespread use.  Many thanks!

[2020-05-21 18:05] swinslow commented on #1032
Assigned, thank you @emmanueltournier!

The entry for PHP-3.01 is defined in https://github.com/spdx/license-list-XML/blob/master/src/PHP-3.01.xml. In that file, you'll see in line 3 `isOsiApproved="false"`. Since OSI has approved, we'll just want to change the `false` to `true`.

If you can submit a PR to make that change, that would be great :)  You should be able to do that directly in the GitH

[2020-05-21 20:52] swinslow commented on #970
Discussed on 2020-05-21 legal team call. Consensus was that there is not at present a desire to overcomplicate things (from either a usability or a tooling perspective) by making the license expression syntax more complex.

This largely corresponds to option 2 from the list of options above.

Believe that the use cases for choices between different options in a license are relatively rare, and tha

[2020-05-21 20:55] swinslow commented on #720
@MarkAtwood, when you review this one you'll probably also want to look briefly at #1007, which is related.

[2020-05-22 17:09] swinslow commented on #1032
Fixed by #1041.

[2020-05-22 17:09] #1032 closed

[2020-05-25 14:04] swinslow opened #1043 "NIST-PD and NIST-PD-old"
Submitted by @rohieb initially as PR #1042 -- an older and a newer variant of US gov't works public domain notices evidently used by NIST. The newer variant includes an additional fallback license.

**Older variant**:

**Newer variant**:

[2020-05-25 14:05] swinslow commented on #1043
@rohieb, do you have a few examples of where these notices are appearing in the wild?

I understand you're seeing them in works from NIST, if you can point to some specific places then that would be helpful.

[2020-05-25 18:52] Dominik-Hagmann commented on #931
Hi John,

I'm very sorry for my long silence, but due to the Corona-Crisis I had to
move from the U.S. back to Europe in March which had been quite
troublesome, so thanks for reaching out continuously.  anyway, all is fine
now; I was able to search for some examples but finally had to realize,
that most of the data providers shifted from CC BY-SA-3.0-AT to CC BY 4.0.
As for example, the OGD of the

[2020-05-25 19:56] rohieb commented on #1043
For the (apparently) older variant:
* https://github.com/tcheneau/simpleRPL/blob/e645e69e38dd4e3ccfeceb2db8cba05b7c2e0cd3/LICENSE.txt
* https://github.com/tcheneau/Routing/blob/f09f46fcfe636107f22f2c98348188a65a135d98/README.md

and for the newer variant:
* https://github.com/usnistgov/jsip/blob/59700e6926cbe96c5cdae897d9a7d2656b42abe3/LICENSE
* https://github.com/usnistgov/fipy/blob/86aaa5c2ba2c6

[2020-05-26 11:26] rohieb commented on #1043
That looks like a typo, but it is in every copy I could find… I guess we shoud leave it in ^^

[2020-05-27 17:46] johnmhoran commented on #931
Thank you, @Dominik-Hagmann .  If, as seems to be the case, there's no evidence of current widespread use, this does not seem to be the sort of translation that would be considered for inclusion on the list.  @swinslow -- what are your thoughts?

[2020-05-29 14:44] gdgib opened #1044 "License for this repository could be more clear"
I notice that in `package.json` this repository is marked as being CC-0, but the GitHub algorithms don't pick that up clearly since there's no `LICENSE` file.  May I suggest using https://creativecommons.org/choose/zero/waiver to create such a file, so that this repository itself is more clearly licensed?

[2020-05-29 14:45] gdgib commented on #1044
(I'd open a PR myself, but it seems a little shady to actually contribute a license file)

[2020-05-31 00:45] phitattoothailand opened #1045 "Phitattoo"

[2020-05-31 16:53] swinslow commented on #1045
closing as spam

[2020-05-31 16:53] #1045 closed

[2020-06-01 21:21] vmbrasseur commented on #767
Starting initial work on adding this one (first time I'll be adding a license!). I'll be using Jilayne's PR #1030 as an example.

First, though, I should probably go read more documentation. ;-)

[2020-06-02 19:20] adamretter commented on #995
@jlovejoy Any updates?

[2020-06-02 19:38] adamretter commented on #995
This may or may-not also be of interest - https://blog.adamretter.org.uk/business-source-license-adoption/

[2020-06-04 16:28] swinslow commented on #1043
Discussed on 2020-06-04 legal team call, agreed to add both of these given usage by NIST.

For "old" variant: ID would be NIST-PD

For "new" variant: ID would be NIST-PD-fallback

[2020-06-04 16:29] jlovejoy opened #1046 "Unlicense: add OSI approval?"
http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-June/004880.html

under review, to be discussed on OSI called on June 12th

[2020-06-04 16:38] swinslow commented on #1026
Discussed on 2020-06-04 legal team call. Looks like an amalgam of ISC / HPND intro paragraph + MIT/X11 main body. Used in several still-maintained xorg applications but copyright notices date back to late 1990's.

May want to ask Open Group for input on naming / identifiers -- do we have contacts there? OGSpecs@opengroup.org from website -- @swinslow to reach out

Calling "Open Group" may discoura

[2020-06-04 16:47] swinslow commented on #1012
EPICS Open License -- see https://launchpad.net/epics-base

Discussed on 2020-06-04 legal team call, in favor of adding, link above gives EPICS Open License as name. @jlovejoy to submit bug to launchpad account for epics-base to ask them about preference for name + ID, including whether we should include a version number.

[2020-06-04 16:49] jlovejoy commented on #1012
add bug there to link to here and make license steward aware: https://bugs.launchpad.net/epics-base/+bug/1882120

[2020-06-04 18:14] jlovejoy commented on #1012
Note that the canonical URL for the license is https://epics.anl.gov/license/open.php with some discussion and history at https://epics.anl.gov/license/index.php

[2020-06-04 21:21] anjohnson commented on #1012
I am a lead developer and co-chair of the EPICS Core Developers Group, the software developers responsible for maintaining the core of the EPICS Control system toolkit. I maintain the [EPICS website](https://epics.anl.gov/) at Argonne National Laboratory where the license links @jlovejoy and @matwey posted point to. The EPICS community also maintains a more polished public website at [epics-contro

[2020-06-05 17:04] jlovejoy commented on #1012
Thanks @anjohnson ! It's always helpful to have the background on a license.

looks like the original suggestion for the full name and short identifier from @matwey is correct and in line with the usage, so we'll go with that.

You might want to have a look at https://spdx.dev/ids/ if you are not familiar with how the short ids can be used in source code (if you want any additional info on that, p

[2020-06-05 17:46] anjohnson commented on #1012
I will look at adding the short ID to our sources. Should we wait to do that until after this request has been approved, presumably when this GitHub issue gets closed?

[2020-06-05 23:22] caass opened #1047 "New license request: PPL [SPDX-Online-Tools]"
**1.** License Name: Peer Production License
**2.** Short identifier: PPL
**3.** License Author or steward: Created by John Magyar, B.A., J.D. and Dmytri Kleiner
**4.** Comments:
**5.** Standard License Header:
**6.** URL: http://www.networkcultures.org/_uploads/%233notebook_telekommunist.pdf#page=45
**7.** OSI Status: Not Submitted

[2020-06-06 13:50] swinslow commented on #1047
Copying here the text from the online tools submission (note that the URL linked above is a PDF). Notes in the PDF indicate that it is derived from CC-BY-NC-SA-3.0.

 License

THE WORK (AS DEFINED BELOW) IS PROVIDED UNDER THE TERMS OF THIS COPYFARLEFT PUBLIC LICENSE ("LICENSE"). THE WORK IS PROTECTED BY COPYRIGHT AND ALL OTHER APPLICABLE LAWS. ANY USE OF THE WORK OTHER THAN AS AUTHORIZED UNDER THI

[2020-06-06 13:54] swinslow commented on #1047
@dfridkin, thanks for submitting this for review.

We look at whether to add licenses to the License List based on the [SPDX license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md). Based on that, I have a couple of preliminary questions:

* Do you have instances of some projects that have used this license in practice? If so can you

[2020-06-06 15:02] dfridkin commented on #1047
Sure! From [here](https://wiki.p2pfoundation.net/Peer_Production_License#Examples:_Directory_of_Adopters):

* [The Internet of Ownership](https://ioo.coop/)
* [Guerilla Translation!](https://guerrillatranslation.wordpress.com/)
* [En Defensa del Software Libre (Spanish)](https://endefensadelsl.org/ppl_deed_es.html)

I'm submitting this for completely selfish reasons, and didn't contact either Dr.

[2020-06-11 02:57] MarkAtwood commented on #979
Checking in, I'm chasing down a conversation with the ED of the ,NET Foundation

[2020-06-16 07:12] mchehab commented on #970
On the specific case of the Linux Kernel (see #686), we only use 2 types of GFDL license there. So, we only need those two new types:

- GFDL-1.1-or-later-no-invariant
- GFDL-1.2-or-later-no-invariant

[2020-06-16 07:18] mchehab commented on #686
As mentioned on #970, the legal team seemed to opt creating a different SPDX header for each variant. In the case of the Linux Kernel (whose was the primary reason for opening this issue), we only use GFDL 1.1+ and GFDL 1.2+. So, this should be enough for its needs:

- GFDL-1.1-or-later-no-invariant
- GFDL-1.2-or-later-no-invariant

[2020-06-16 13:05] swinslow commented on #686
Thanks @mchehab -- yes, based on the outcome of the discussion in #970 last month we decided that these should have separate IDs. I'll get these two queued up and will aim to have them merged following the next legal team call this Thursday 2020-06-18.

They won't officially appear on the [license list website](https://spdx.org/licenses) until the 3.10 release at the end of July, but typically we'

[2020-06-16 19:53] swinslow commented on #1046
Approved by OSI board on June 12, just noted at http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-June/004890.html

[2020-06-17 10:38] vsoch opened #1049 "Link to WTFPL is 404"
Heyo! The link under "Other pages for this license" here https://spdx.org/licenses/WTFPL.html i 404. I think you could use any of the following:

 - https://spdx.org/licenses/WTFPL.html
 - www.wtfpl.net/

[2020-06-17 13:21] swinslow commented on #1049
Hi @vsoch, thanks for filing this. I transferred it to the spdx/license-list-XML repo since this is where the team works on updates to the [SPDX License List](https://spdx.org/licenses).

For the existing URL cross-reference on the [WTFPL page](https://spdx.org/licenses/WTFPL.html), we leave old cross-references in place even if they are no longer valid links. That's because old code might have us

[2020-06-17 16:09] vmbrasseur commented on #767
Those docs assume the license exists in the License Requests list.

In the case of CC-BY-NC-ND-3.0-IGO, that's not the case.

What's the answer here? Copy/modify the XML for CC-BY-NC-ND-3.0 and modify, or…?

Paging @swinslow to the white courtesy phone.

[2020-06-17 16:21] vsoch commented on #1049
All set! https://github.com/spdx/license-list-XML/pull/1050

[2020-06-17 18:05] vmbrasseur opened #1052 "Improving the license workflow acceptance documentation"
Notes from working on #993.

The doc in question: https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md#if-license-is-accepted

Reviewing 'If license is accepted'

- [x] Link `SPDX Online tools` in 7.i.
    * https://spdxtools.sourceauditor.com/
- [ ] 7.i assumes that the license exists in the License Requests list
    * In the case of #767, the CC-BY-NC-ND-3.0-IGO lice

[2020-06-17 18:33] vmbrasseur commented on #1052
I was going to assign this to myself, but it appears I lack the access to assign things. If someone with access could please do the needful…?

[2020-06-17 18:51] swinslow commented on #1052
wonderful, thanks @vmbrasseur for pulling these notes together! assigned now.

[2020-06-18 15:59] swinslow commented on #1049
Fixed in #1050, thank you @vsoch!

[2020-06-18 15:59] #1049 closed

[2020-06-18 16:58] vmbrasseur commented on #767
Discussing on today's call. Surprised this isn't in the license requests list, since it was submitted via the tool.

Turns out it's in the Archived Requests list. Steve unarchived it.

[2020-06-19 08:18] Dominik-Hagmann commented on #931
Dear Steve,

thanks for the news! Regarding Autstrian open government data you'll find
all available datasets using the license looking at this portal:
https://www.data.gv.at/suche/?searchterm=&searchin=data&licenseFilter%5B%5D=cc-by-at-30

another collection providing loads of datasets using the license can be
found here https://data.opendataportal.at/dataset?license_id=cc-by where
you can see th

[2020-06-19 13:52] swinslow commented on #931
Thank you @Dominik-Hagmann! From just that first link it looks like it's over 400 data sets from the Austrian government released under the license. Based on the legal team discussion yesterday I think that is sufficient use in the wild for this translation to be added.

One complication, though: Looking closely at that link, it looks to me like it is showing CC-BY-3.0-AT, not CC-BY-**SA**-3.0-AT.

[2020-06-19 17:24] Dominik-Hagmann commented on #931
Dear Steve, thanks for the quick response and also for pointing out the
issue. Indeed, I sent some references for CC BY 3.0 AT and not CC BY-SA 3.0
AT. Anyway, both sites provide resources for the ShareAlike variant too,
but there aren't that many examples available (like for CC BY 3.0) though:
https://data.opendataportal.at/dataset?license_id=cc-by-sa&_license_id_limit=0
 and https://www.data.gv.

[2020-06-20 05:54] alandtse opened #1054 "HPND template may be broken"
Was testing something and noticed the HPND template is missing at least one `<<endOptional>>`.

I've cut out everything that passed until the double `<<beginOptional>>`

[code]

I couldn't find the matching guidelines on `beginOptional` so perhaps there's nesting behavior that's allowed that I missed?

[2020-06-20 18:45] swinslow commented on #1054
Thanks @goneall and @alandtse. Looks like this one is nested because of the original bracketing on the OSI site: https://opensource.org/licenses/HPND

Not sure we should really remove the nesting, given the OSI-approved definition here, if there's a way that we can appropriately accommodate it.

@goneall I'm not sure if I understood your suggestion, but I defer to you on what's feasible here...

[2020-06-20 19:03] goneall commented on #1054
@swinslow The LicenseListPublish and the Java tools do accommodate this nesting already.  The spec, however, doesn't allow it.  I would recommend updating the spec.

If there are other's who are implementing the license matching templates, it may well complicate their design and implementation.

I submitted an issue against the spec to track: https://github.com/spdx/spdx-spec/issues/429

[2020-06-20 21:23] swinslow opened #1055 "Travis CI running but not showing in some PRs"
Travis CI still appears to be running for all PRs, but for some it is not showing up in the checks.

For instance, see https://travis-ci.org/github/spdx/license-list-XML/pull_requests -- currently #1051 and #1053 are showing up in the list on Travis, but if you look at those PRs themselves, the checks are not showing up there (so they are not showing up as failing or passing).

@goneall I'm not su

[2020-06-20 22:39] goneall commented on #1055
@swinslow I took a look and indeed they are not showing up in the PR's.  The webooks are configured.  I'm not quite sure what the cause could be.

@tsteenbe @pombredanne any ideas?

[2020-06-23 12:29] swinslow opened #1056 "Review ANTLR-PD for potential omission"
(copied from mailing list, see https://lists.spdx.org/g/Spdx-legal/message/2838)

= = = = =

Hello list,

I just found out that there is a deviation from
https://spdx.org/licenses/ANTLR-PD.html#licenseText to the linked text from
http://www.antlr2.org/license.html which contains the following language:

"In countries where the Public Domain status of the work may not be valid,
the author grants a

[2020-06-23 12:37] swinslow commented on #1056
Note that the original version of the ANTLR 2 License on the ANTLR site did _not_ have this additional paragraph; see e.g. http://web.archive.org/web/20130401024631/https://www.antlr2.org/license.html

I haven't done a deeper dive on the Wayback Machine yet to figure out when it was added.

Propose adding the additional paragraph but marking it as optional so that it doesn't break matches with old

[2020-06-30 01:01] MarkAtwood opened #1057 "Two versions of LGPL-2.1"

[2020-06-30 22:34] johnmhoran commented on #931
@swinslow Let's discuss when you have time -- I have a few questions.  Among other things, it's not clear to me how you concluded which license is provided (`CC-BY-3.0-AT` vs. `CC-BY-SA-3.0-AT`).

I've looked at https://github.com/spdx/license-list-XML/blob/master/src/CC-BY-SA-3.0.xml and https://github.com/spdx/license-list-XML/blob/master/src/CC-BY-3.0.xml, and both seem to have some text that d

[2020-07-02 13:18] swinslow commented on #1012
Hi @anjohnson, this has now been merged in #1053.

It won't show up on the main SPDX license list at https://spdx.org/licenses until the next release (likely end of July), but you can feel free to start using the `EPICS` license identifier anytime since it has now been merged.

Thanks! And thank you @matwey for reporting and @johnmhoran for submitting the PR.

[2020-07-02 13:18] #1012 closed

[2020-07-02 16:06] #686 closed

[2020-07-02 16:37] swinslow commented on #1052
Example text from an error:

[code]

[2020-07-02 16:41] vmbrasseur commented on #1052
# Notes from the call on 2020-07-02

* Steve walking through what he does to add a license
    * From the XML adding step
* Have a license we've decided to accept
    * 2 parts to add
        * XML file: markup of the license
        * Test file: plain text of the license for testing
    * Doesn't normally use the GH editor, uses VSCode
* 0BSD as an example
    * XML file
    * test/SimpleTestForG

[2020-07-02 16:53] swinslow commented on #686
Hi @mchehab, these have all now been merged into the main branch. As mentioned above they won't show up on the license list website until the 3.10 release (likely end of July) but the identifiers are fine to use now.

As we discussed in the PR thread (just recording here for visibility) the identifier format was switched to put the `-or-later` at the end, so the identifiers I think you'll be using

[2020-07-03 09:36] lal12 opened #1058 "vsftpd OpenSSL exception"
I've seen that there already is an exception `openvpn-openssl-exception`.
This one is basically the same just for vsftpd:

As far as I read I can submit an adding request via the webform, but this seems to be meant for new licenses not exceptions...

I am not sure if it would be suitable to add a more general "linking with openssl" exception, since I can imagine that this is not an uncommon thing.

[2020-07-03 10:23] amallayev opened #1059 "New license request: OCB [SPDX-Online-Tools]"
**1.** License Name: License for Open-Source Software Implementations of OCB
**2.** Short identifier: OCB
**3.** License Author or steward: Phillip Rogaway
**4.** Comments: This is a license for open-source software that is missing from SPDX license list.
**5.** Standard License Header:
**6.** URL: https://www.cs.ucdavis.edu/~rogaway/ocb/license.htm
**7.** OSI Status: Not Submitted

[2020-07-04 18:17] ge-fa commented on #986
Dear maintainers,

Any information regarding this?

Thanks!

[2020-07-06 11:17] lal12 opened #1060 "New license request: GD license"
I found a "new license" in the image manipulation library "GD" or "libgd", I could not find any simular license in this repo.
URL: https://libgd.github.io/manuals/2.3.0/files/license-txt.html

[2020-07-08 20:04] tillulen opened #1063 "New license request: Creative Commons Attribution 3.0 United States"
**1.** License Name: Creative Commons Attribution 3.0 United States License
**2.** Short identifier: CC-BY-3.0-US
**3.** License Author or steward: Creative Commons Corporation
**4.** Comments: See below
**5.** Standard License Header:
**6.** URL: https://creativecommons.org/licenses/by/3.0/us/legalcode
**7.** OSI Status: Not Submitted

_Comments_

I believe this US variant of the CC-BY-3.0 family

[2020-07-09 07:24] tisoft opened #1064 "New license request: HTMLTIDY"
_edited by @swinslow 2020-11-19_ -- note in comments below that the final accepted identifier was HTMLTIDY, not JTIDY

**1.** License Name: Java HTML Tidy - JTidy
**2.** Short identifier: JTIDY
**3.** License Author or steward:
**4.** Comments: Prepared by spdx-license-diff 0.5.3
Used by JTidy, couldn't find a matching license in the list.
**5.** Standard License Header:
**6.** URL: http://jtidy.s

[2020-07-13 17:52] MarkAtwood commented on #979
The of .NET Foundation is Claire.Novotny@microsoft.com

Email inviting their participation has been sent.

[2020-07-14 22:59] johnmhoran commented on #931
1 test failed, a bit hard to troubleshoot but: I somehow dropped the initial V in `Vergütungsansprüche`.  Yikes.

[2020-07-14 23:12] johnmhoran commented on #931
Fixed, pushed, all tests passed.  Sehr gut.  Auf Wiedersehen.

[2020-07-15 17:07] vmbrasseur opened #1066 "vim backup files not in .gitignore"
These keep coming up in my Github Desktop client when I'm committing things.

Gonna just go ahead and add a section for these to the .gitignore so they won't accidentally get added to the repo.

[2020-07-15 17:07] vmbrasseur commented on #1066
@swinslow Could you please assign me to this issue?

[2020-07-15 18:48] swinslow commented on #993
Added via #1051, thank you @vmbrasseur!

[2020-07-15 18:48] #993 closed

[2020-07-15 18:51] swinslow commented on #1066
This is great, I just recently started switching to using vim more often, and was noticing the same thing. Thanks for taking the initiative and fixing it.

Re: the issue number, I'm trying to figure out some way to work [Konqueror](https://kde.org/applications/internet/org.kde.konqueror) into a joke, but I'll just let it pass  :)

[2020-07-15 18:53] swinslow commented on #1066
Fixed in #1067.

[2020-07-15 18:53] #1066 closed

[2020-07-15 21:56] goneall opened #1069 "New license request: testid [SPDX-Online-Tools]"
**1.** License Name: Test License [Please Ignore]
**2.** Short identifier: testid
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header:
**6.** URL: http://example.com
**7.** OSI Status: Pending

[2020-07-15 21:57] #1069 closed

[2020-07-16 07:18] robmen commented on #979
@jlovejoy has it right. The WiX Toolset is available under the MS-RL.

The purpose of the extra text is this:

I requested that Outercurve Foundation provide us a small blurb of text to serve as a quick rebuttal to corporate lawyers who argued the MS-RL was viral. Outercurve provided the text and it was reaffirmed by .NET Foundation when the WiX Toolset copyright was transferred (due to Outercurve

[2020-07-16 15:18] swinslow commented on #1026
I've emailed them to request their input, will let you know what I hear back (or they may feel free to respond here directly!)

[2020-07-16 15:20] swinslow commented on #970
The GFDL identifiers have been added to the list for the upcoming 3.10 release.

On the general discussion of selecting options, there haven't been further responses to the conclusion [discussed above](https://github.com/spdx/license-list-XML/issues/970#issuecomment-632339557), so I'll go ahead and close this issue. Thanks all!

[2020-07-16 15:20] #970 closed

[2020-07-16 15:42] swinslow commented on #1055
It looks like this has resolved itself (or maybe @goneall fixed it behind the scenes!) I'll go ahead and close the issue, and will re-open if it reoccurs.

[2020-07-16 15:42] #1055 closed

[2020-07-16 16:11] #1043 closed

[2020-07-16 16:15] swinslow commented on #931
Added in #1065, thanks @johnmhoran!

[2020-07-16 16:15] #931 closed

[2020-07-16 16:15] vmbrasseur opened #1072 "Consider standardising CC (and other) titles?"
Currently the titles of the CC licenses in the list don't exactly match the ones in the licenses themselves. For instance:

* In list: _Creative Commons Attribution Non Commercial No Derivatives 3.0 IGO_
* In license: _Creative Commons Attribution-NonCommercial-NoDerivs 3.0 IGO_

This is a historical artefact from the bygone spreadsheet-based days of the SPDX list, but it leads to the question of

[2020-07-16 16:19] swinslow commented on #902
Discussed on 2020-07-16 legal team call, agreed that for now this does not meet the inclusion guidelines and does not fit on the exceptions list. This might be revisited at some time in the future if there is an extensive change to the nature of the exceptions list, but unless and until that happens this one won't be added.

[2020-07-16 16:19] #902 closed

[2020-07-16 16:37] swinslow commented on #996
Discussed on 2020-07-16 legal team call, agreed that the summary itself is distinct from the license. The summary text should not be added to the matching text.

For cross-references, if there is a volunteer from the community to go through and add additional cross-references to the summary pages, we would be open to that, but don't see it as a priority.

[2020-07-16 16:38] swinslow commented on #1007
@markatwood Can you take a look at this too?

[2020-07-16 16:39] MarkAtwood commented on #1007
I'll take it

[2020-07-16 16:44] swinslow commented on #1056
Discussed on 2020-07-16 legal team call, disagreed with my earlier comment -- should add as a separate license. Will use ANTLR-PD-fallback to mirror NIST-PD-fallback which was just added today.

[2020-07-17 15:38] karsten-klein commented on #988
Skimming over the above comments I would argue:

That the text can be extracted from [https://creativecommons.org/publicdomain/mark/1.0/](url) as @mlinksva pointed out earlier.

The relevant phrases for matching the CC Public Domain Mark 1.0 would then be
    - "This work has been identified as being free of known restrictions under copyright law, including all related and
       neighboring right

[2020-07-18 03:53] tomas1971 opened #1073 "New license request: Tomas [SPDX-Online-Tools]"
**1.** License Name: Tomas madbullortiz
**2.** Short identifier: Tomas
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header:
**6.** URL: http://13.57.134.254/app/submit_new_license/
**7.** OSI Status: Approved

[2020-07-18 15:13] swinslow commented on #1073
no license proposed; closing

[2020-07-18 15:13] #1073 closed

[2020-07-22 18:20] esplinr commented on #995
My project also uses the BUSL, so I created a PR to help the process along.

[2020-07-22 19:30] defensivedepth opened #1075 "New license request: DRL"
1. License Name: Detection Rule License - DRL
2. Short identifier: DRL
3. License Author or steward: Author -  Florian Roth, Steward - Josh Brower, Josh@defensivedepth.com
4. Comments: N/A
5. Standard License Header:
6. URL: https://github.com/Neo23x0/sigma/blob/master/LICENSE.Detection.Rules.md
7. OSI Status: Not Submitted

[2020-07-24 15:23] uiopaubo opened #1076 "Textual licence formatting is broken"
While double-checking the output of the REUSE tool (https://reuse.software/), I noticed that the licence texts it downloads in order to populate a licensing manifest did not match those traditionally distributed with software. At least the GPL3 licence text differs in formatting from the more established form:

https://github.com/spdx/license-list-data/blob/master/text/GPL-3.0-or-later.txt

In thi

[2020-07-24 22:46] goneall commented on #1076
I took a look at the source XML for the GPL license.  The space and line break are caused by the `<alt` matching text at https://github.com/spdx/license-list-XML/blob/531e5b5ce30672467825fe7f8041bc6c2e625de7/src/GPL-3.0-or-later.xml#L838

I can think of 2 solutions - we could remove the `<alt` from the URL or we could add a spacing attribute similar to what we did for the `<optional` tag.

If some

[2020-07-26 14:38] swinslow commented on #976
Discussed on 2020-07-26 legal team call, noted that -NetBSD was already handled previously; agreed to deprecate -FreeBSD variant and to add a more general one; @swinslow to prepare and submit PR.

See https://github.com/spdx/meetings/blob/master/legal/2020-07-16.md for cross-ref

[2020-07-26 15:08] swinslow commented on #1026
No response yet from email; I am moving this one to 3.11

[2020-07-27 13:17] uiopaubo commented on #1076
I'm not advocating anyone changing the format of anything. As the referenced issue points out, the upstream licence files should be the canonical form of the licence in those formats. Otherwise, one has to verify that the content has not been modified semantically, which is far more work than just comparing data byte for byte. Indeed, I can imagine these reformatted text versions causing all sorts

[2020-07-29 13:54] swinslow commented on #767
This was merged in #1068. Thank you @vmbrasseur!

[2020-07-29 13:54] #767 closed

[2020-07-29 14:03] swinslow commented on #1052
Updated checkbox list above to mark the ones that were fixed in #1070. I'll submit a PR to finish off the others.

[2020-07-29 14:12] swinslow commented on #1052
Added #1081 which will finalize this.

[2020-07-29 14:16] swinslow commented on #996
No further comments, so closing issue.

[2020-07-29 14:16] #996 closed

[2020-07-30 16:09] vmbrasseur commented on #976
👍 once the templating is fixed.

[2020-07-30 16:21] #1052 closed

[2020-07-30 16:28] jlovejoy commented on #690
I think the issue here is maybe one of deprecation (in SPDX terms) versus what OSI defines as "retired" or whatever other terms they may. We might update our description/definition of "deprecated license" instead - will make new issue for general issue

[2020-07-30 16:28] #690 closed

[2020-07-30 16:28] vmbrasseur commented on #1046
ohai

I'll take this one. :-)

[2020-07-30 16:31] jlovejoy opened #1082 "update definition of "deprecated" on license page"
Question came up relating to OSI's list of retired license or licenses no longer recommended by the license steward and other flavors of that. We have generally accommodated this information in NOTES

For SPDX purposes, deprecated licenses is more about "don't use this SPDX identifier, b/c we've updated it for some reason" - not about "don't use this license"

was discussed on #711

[2020-07-30 16:39] jlovejoy commented on #1006
put comment on all re:
- why deprecated (short version)
- what to use instead

make PR on a few and have legal team review for

[2020-07-30 16:41] mbaushke commented on #1007
I will note that the latest OpenSSL code base (3.0 Alpha4)
moves to the Apache 2.0 License.

[2020-07-30 16:47] swinslow commented on #995
We are checking with contacts at MariaDB to get their input on this. @esplinr thanks for the PR, will review for 3.11 in line with getting MariaDB feedback on whether this should be added to the list.

[2020-07-30 17:02] jlovejoy commented on #995
discussed on 30th July call re: acceptance criteria: agreed it meets main criteria, but want to be sure steward is aware

issue on how to accommodate variability in license - namely additional grants - and how tools will handle that - be sure to run by tech team folks for input (and examples of use cases). This could be accommodated in a license expression by way of "WITH LicenseRef" but we don't

[2020-07-31 08:57] cawayee opened #1095 "GPL-x.x license "name" clash wih GPL-x.x-only license "name" in json version"
In the master branch of json version foder _json/details/_, the value of "name" in **GPL-x.x.json**  and **GPL-x.x-only.json** are the same. It seems the "name" in **GPL-x.x.json** shuld be "GNU General Public License vx.x" instead of "GNU General Public License vx.x only".

[2020-08-03 18:51] #1046 closed

[2020-08-03 19:15] #976 closed

[2020-08-04 16:04] goneall opened #1085 "Improve the performance for license list checking and publishing"
Currently, on each merge to the master branch we are running the [LicenseListPublisher](https://github.com/spdx/licenselistpublisher) for all of the licenses to generate the license list data and/or check the validity of the licenseXML.

With the size of the license list and the number of checks and file generated, it is now taking a significant amount of time per checkin even if only one license

[2020-08-04 16:06] goneall commented on #1085
Could use some help on this one from anyone familiar with Makefiles.

@swinslow as the person doing the license list releases, let me know if you have any other additions / updates to the list of changes

[2020-08-06 09:25] zvr commented on #1085
I can definitely help with Makefiles...
But can you, @swinslow or @goneall, describe the desired workflow? I can understand what the Makefile currently does, but it might worth it to start from a blank slate. What would be the ideal way to handle checking and publishing?

[2020-08-07 04:56] goneall commented on #1085
Here's my thoughts on the desired workflow - @swinslow feel free to add/subtract/or disagree

* On any pull request, any modifications to a license is validated
  * It is checked against the schema
  * Only the new or modified files are run through the license list publish to see if there are any errors or warning (rather than all of the licenses being check as of today)
  * Any failures block the

[2020-08-07 13:20] swinslow commented on #1085
@goneall I think that all makes sense. The only question I've got is about running the checks on all licenses vs. just the license(s) being added/modified in a PR.

Checking all licenses on each PR / commit does take a long time and can slow down the process. However, it also catches instances where a duplicate license is being added. Although that's rare -- and rarer still for it to happen by acc

[2020-08-07 15:25] swinslow commented on #686
Hi @mchehab, just circling back to let you know that the 3.10 version of the license list has been released, so these identifiers are now present on the published site at https://spdx.org/licenses:

- [GFDL-1.1-no-invariants-or-later](https://spdx.org/licenses/GFDL-1.1-no-invariants-or-later.html)
- [GFDL-1.2-no-invariants-or-later](https://spdx.org/licenses/GFDL-1.2-no-invariants-or-later.html)

[2020-08-07 16:46] goneall commented on #1085
The proposed process is to only scan the licenses being added/modified in the PR.  The exception being on a release, everything would be checked.  I've updated the description to be a bit clearer on this.

[2020-08-08 13:40] lsteube opened #1086 "New license request: xenomai-exception-2.0 [SPDX-Online-Tools]"
**1.** License Name: Xenomai exception 2.0
**2.** Short identifier: xenomai-exception-2.0
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header:
**6.** URL: https://gitlab.denx.de/Xenomai/xenomai/blob/master/include/COPYING#L2-22
**7.** OSI Status: Not Submitted

[2020-08-08 23:29] winny- opened #1087 "New license request: BSD-4-Clause-Shortened [SPDX-Online-Tools]"
**1.** License Name: BSD 4 Clause Shortened
**2.** Short identifier: BSD-4-Clause-Shortened
**3.** License Author or steward: Unknown
**4.** Comments: This appears only used for arpwatch. The license name is copied from the Debian license name for arpwatch. The license text is copied from arpwatch.c located in the arpwatch distribution tarball, with the comment prefixes stripped.
**5.** Standard L

[2020-08-10 20:18] niftylettuce commented on #995
Would love to see this implemented!  Thanks for your work everyone, I'm using this license on @SpamScanner and @ForwardEmail.

[2020-08-12 13:46] zvr commented on #1085
OK, let me try to re-state all this, for my understanding

**Functionality**
*F1*. check that a license XML file validates against the schema
*F2*. update the `license-list-data` repo to be in sync with this repo (license files may have been added/removed/changed)
*F3*. make new release, validating and re-creating everything, and tagging the repo

**Automation**
*A1*. when a PR is submitted and it

[2020-08-12 17:06] goneall commented on #1085
I would also add F1:

A2. when the master branch is changed, run F1 from master branch (only on changed files) and if it passes run F2 from the master branch

Also - I checked and the current version of licenseListPublish does support running against just a single file.  You just pass in the file name rather than a directory name and it will only run against that specific file.

I'll leave that up

[2020-08-20 20:31] salifm opened #1088 "New license request: Anepokis-1.0 [SPDX-Online-Tools]"
**1.** License Name: Anepokis License 1.0
**2.** Short identifier: Anepokis-1.0
**3.** License Author or steward: Lawrence Rosen & Salif Mehmed
**4.** Comments:
**5.** Standard License Header: Licensed under the Anepokis License version 1.0
**6.** URL: https://salifm.com/anepokis-license
**7.** OSI Status: Not Submitted

[2020-08-20 20:56] salifm commented on #1088
It's modified from **Open Software License ("OSL") v. 3.0**

The differences are in the ways to apply the license to the your project

**OSL**:

[code]

**Anepokis**:

[code]

---

and in **Section 9**:

**OSL**:

[code]

**Anepokis**:

[code]

[2020-08-22 08:35] ZhouJiatai opened #1089 "New license request: 156-laws-exception [SPDX-Online-Tools]"
**1.** License Name: 156 Laws Exception
**2.** Short identifier: 156-laws-exception
**3.** License Author or steward: Heymmy-Zhou Studio
**4.** Comments: 156 法律扩展针对于软件许可证，采用中英双语书写，要求使用者必须遵守中华人民共和国法律。
For software license, it is written in both Chinese and English, which requires users to abide by the laws of the People’s Republic of China.
**5.** Standard License Header:
**6.** URL: https://156-la

[2020-08-22 15:44] #1089 closed, assigned to nobody

[2020-08-26 07:29] mchehab commented on #686
Thanks!

Just submitted upstream the Linux Kernel patches to use those.

[2020-08-26 10:43] ZhouJiatai opened #1091 "Dual license file format"
If my software source code is licensed under a dual license (e.g., MIT OR GPL-3.0-only). How to write a license file?

[2020-08-26 15:12] swinslow commented on #1091
Hello @ZhouJiatai, thank you for your question.

The SPDX project does not provide recommendations on how to write license files, or how to comply with particular license requirements.

However, the REUSE Software project (https://reuse.software), which builds on top of SPDX, does provide recommendations about how to structure repositories and license file texts within a project. You may want to r

[2020-08-26 15:12] #1091 closed

[2020-08-27 16:10] swinslow commented on #1022
Discussed briefly on 2020-08-27 legal team call; agreed this needs more discussion and would need to be a broader conversation with the community, including the general team call if there is actually a desire for a change.

[2020-08-27 16:21] swinslow commented on #1058
@MarkAtwood - I know you're looking at some of the other OpenSSL exceptions, can you look at this as well?

[2020-08-27 16:22] emmanueltournier commented on #1057
I'll be looking at this one.

[2020-08-27 16:22] johnmhoran commented on #1059
I'll take this @swinslow .

[2020-08-27 16:24] bgoldring commented on #1060
Comment to assign.

[2020-08-27 16:28] johnmhoran commented on #1064
@swinslow -- I'll tackle this one as well.

[2020-08-27 16:29] swinslow commented on #1072
@jlovejoy - Do you happen to recall why the original license list versions used titles for CC licenses that differed a bit from CC's own titles?

[2020-08-27 16:30] swinslow commented on #1075
@defensivedepth Thanks for this -- are you aware of any projects using this other than the URL you listed above?

[2020-08-27 16:33] emmanueltournier commented on #1086
Here

[2020-08-27 16:33] swinslow commented on #1086
@lsteube -- Thanks for this, are you aware if this exception is used anywhere other than the URL you sent?

[2020-08-27 16:35] swinslow commented on #1087
@pombredanne Are you familiar with arpwatch, is this something that is widely used or reoccuring from some of the scans you've done?

[2020-08-27 16:46] defensivedepth commented on #1075
@swinslow I don't think there are any other public projects, but there are internal teams that make use of that license when authoring their own rules. I do not know how widespread it is.

I am submitting this license for inclusion because I help maintain an open source project that is a frontend for the rule. As part of each rule's metadata, it includes a license, which we point to https://spdx.o

[2020-08-27 20:25] lsteube commented on #1086
@swinslow as far as I know this is a Xenomai project specific license exception which appears to apply to at least the 2.x and 3.x project branches.

________________________________
From: Steve Winslow <notifications@github.com>
Sent: Thursday, August 27, 2020 6:33:38 PM
To: spdx/license-list-XML <license-list-XML@noreply.github.com>
Cc: Steubesand, Lars <lars.steubesand@philips.com>; Mention <me

[2020-08-29 04:03] bgoldring commented on #1060
@swinslow This version of the LibGD license is only used for LibGD. I cannot find any indication that it is used for any other project, as well it is specifically drafted referencing "gd" in the license itself. As such, it appears this license was only intended to be used with LibGD. Based on that, and the SPDX guidelines for license inclusion I would be of the recommendation it's not fit for incl

[2020-08-29 08:30] lal12 commented on #1060
I don't know about the guidelines, but it seems to me that this is the case for a bunch of licenses with SPDX identifier: libpng, ntp, php, postgresql, python, ssh-openssh, vim, libpng, libtiff, imagemagick.

[2020-08-31 03:13] vmbrasseur opened #1092 "MIT-0 is now OSI approved"
Per [this message from Pam](http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-August/004917.html):

[2020-08-31 03:54] #1092 closed

[2020-09-04 18:23] emmanueltournier commented on #1057
@swinslow just to clarify, we should have something like this? :

<optional>&lt;</optional>one line to give the library's name and an idea of what it does.<optional>&gt;</optional>
<optional>&lt;</optional>one line to give the library's name and a brief idea of what it does.<optional>&gt;</optional>

[2020-09-08 21:11] Moisan opened #1094 "New license request: BSD-3-Clause-Modification"
Based on the license of `Supervisor`: https://salsa.debian.org/python-team/applications/supervisor/-/blob/debian/master/debian/copyright

It seems to be a BSD 3-Clause variant with an additional clause regarding modifications:

  carry prominent notices stating that you changed the files and
  the date of any change.

[2020-09-10 13:50] swinslow commented on #1057
Hi @emmanueltournier, this one will involve creating an `<alt>` tag with a match option for the two different formats. You can see examples of this, for instance, at https://github.com/spdx/license-list-XML/blob/af50167c006737d07f97c4aec779cc594b36a0b1/src/Apache-1.1.xml#L43

Let's plan to discuss during today's spdx-legal team call (if you're able to join) and I can show specifically how this wou

[2020-09-10 16:19] vmbrasseur opened #1096 "Update inclusion principles to reflect intention of who applies the statement/license"
We've just rejected two requests (#989 and #988) because they're things that can be applied retroactively by anyone (also they weren't licenses).

Intention of the text is that it will primarily be used by the creator/author of the work" or something like that. It'll take a bit to come up with the right wording here.

[2020-09-10 18:34] pmadick commented on #989
This issue was raised during the meeting on September 10, 2020 and it was concluded that these statements do not meet the inclusion guidelines and as such will not be added to the SPDX License List at this time.  Please note that the statements include the following disclaimer, "It is not a License, and should not be used to license your Work. To license your own Work, use a License..."

[2020-09-10 18:51] pmadick commented on #988
The SPDX Legal Team considered this request during the September 10, 2020 meeting.  At this time the request to add the CC Public Domain Mark is denied, but may be reconsidered at a different time.  A good explanation of the standards for such a request can be found at https://wiki.spdx.org/view/Legal_Team/Decisions/Dealing_with_Public_Domain_within_SPDX_Files_(DRAFT) .  The Public Domain Mark is

[2020-09-11 07:48] agmlego opened #1098 "New license request: FAFOL [SPDX-Online-Tools]"
**1.** License Name: The Fuck Around and Find Out License v0.2
**2.** Short identifier: FAFOL
**3.** License Author or steward: boringcactus (Melody Horn)
**4.** Comments: FAFOL intends to be a license that clarifies the ground explored by the JSON license ("The Software shall be used for Good, not Evil.") by defining such terms as the domain of the author's discretion. It also furthers the concep

[2020-09-11 16:41] boringcactus commented on #1098
oh hey, that's me! in case it helps, some additional information:
- the FAFOL v0.1 does also exist, and is more directly adapted from the JSON License, as opposed to v0.2 which is derived from the Blue Oak Model License. I'm not aware of anyone using v0.1 though.
- currently I have no plans to write a v0.3 of the license, but it is possible that I will eventually if there is some compelling reason

[2020-09-14 19:06] singerjoshua opened #1099 "New license request: BAPL [SPDX-Online-Tools]"
**1.** License Name: Booz Allen Public License
**2.** Short identifier: BAPL
**3.** License Author or steward: Booz Allen Hamilton Inc.
**4.** Comments:
**5.** Standard License Header: Unmodified Product Notice: “This software package is licensed under the Booz Allen Public License. Copyright © 20__ [Copyright Holder Name]. All Rights Reserved.”

Derivative Notice: “This software package is licens

[2020-09-15 03:45] vmbrasseur opened #1100 "Review docs and update for new tools URL"
Reference: https://lists.spdx.org/g/Spdx-legal/message/2865

[2020-09-15 03:46] vmbrasseur commented on #1100
Feel free to assign this one to me, @swinslow.

[2020-09-15 13:08] swinslow commented on #1100
Done, thank you @vmbrasseur!

[2020-09-15 17:14] goneall opened #1101 "New license request: testid [SPDX-Online-Tools]"
**1.** License Name: Test License [Please Ignore]
**2.** Short identifier: testid
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header:
**6.** URL: http://example.com
**7.** OSI Status: Not Submitted

[2020-09-15 17:33] goneall commented on #1101
Oops

[2020-09-15 17:33] #1101 closed

[2020-09-16 04:46] mohdhafis322 opened #1103 "New license request: Mohdhafis85 [SPDX-Online-Tools]"
**1.** License Name: Mohamad Hafis Mustapa
**2.** Short identifier: Mohdhafis85
**3.** License Author or steward: Mohamad Hafis bin Mustapa
**4.** Comments: Thanks for the guide
**5.** Standard License Header: SPDX
**6.** URL: http://www.swtnp.blogspot.com
**7.** OSI Status: Approved

[2020-09-16 05:45] silverhook commented on #1103
This is spam (checked the URL). Please close.

[2020-09-16 14:06] #1103 closed

[2020-09-18 23:24] alandtse opened #1104 "Should PSF-2.0 be templatized further for projects?"
In our description of PSF-2.0 we mention that some projects have adopted it as their license.

I recently ran into a project that has made changes to the license to address their project. Should we consider templatizing the license further to recognize this?
https://cx-freeze.readthedocs.io/en/latest/license.html#license

Here's an image of the diff where you can see pretty quickly what should be

[2020-09-18 23:27] alandtse commented on #1085
Given the thought to rethink the process, I would suggest looking at GitHub actions so it's handled as part of the CI. You can configure Actions to just run make so you still have a manual way to do it.

[2020-09-21 21:22] #1100 closed

[2020-09-22 14:08] rpurdie opened #1106 "New license request: CC-BY-SA-2.0-UK [SPDX-Online-Tools]"
**1.** License Name: Creative Commons Attribution Share Alike 2.0 England and Wales
**2.** Short identifier: CC-BY-SA-2.0-UK
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header: There is no standard license header for the license
**6.** URL: https://creativecommons.org/licenses/by-sa/2.0/uk/legalcode
**7.** OSI Status: Not Submitted

[2020-09-22 14:35] swinslow commented on #1106
Hi @rpurdie, thanks for this! For the many combinations of translations / ports of CC licenses, the SPDX team's practice has typically been that particular translations might be considered for inclusion on the list, if there is evidence of their widespread use in practice. (This is also one of the factors that is looked at for all other licenses as well.) You can see a recent discussion of this at

[2020-09-22 14:53] rpurdie commented on #1106
Hi @swinslow, The reason for the request was that the Yocto Project documentation is under this license for historical reasons (it was originally created by a UK company). http://git.yoctoproject.org/cgit.cgi/yocto-docs We added SPDX headers, only to realise the license tag we used doesn't exist! We're therefore trying to reconcile that.

[2020-09-22 17:21] swinslow commented on #1106
Thanks @rpurdie! That's very helpful context to know.

Given the prominence of Yocto Project in various downstream distributions and projects / products (https://www.yoctoproject.org/ecosystem/yocto-project-compatible-product-showcase/ for instance, also use in AGL, etc.) I'd be in favor of adding CC-BY-SA-2.0-UK to the list.

@jlovejoy @pmadick @vmbrasseur @johnmhoran or others, would welcome you

[2020-09-22 18:33] rpurdie commented on #1106
I should also mention that Yocto Project is trying hard to support and promote SPDX where we can, we understand the complexities of it and the need for standards like the license identifier. That is one reason we're trying to adopt that across all our repositories.

The documentation in question has been evolving for about 15 years and predates the existence of Yocto Project! Its a huge and import

[2020-09-23 20:22] sambacha opened #1107 "New license request: ASC-X12 [SPDX-Online-Tools]"
**1.** License Name: Accredited Standards Committee X12
**2.** Short identifier: ASC-X12
**3.** License Author or steward: X12.org
**4.** Comments: I am submitting this by my own accord, I am not acting on behalf of X12.org nor represent them in any capacity.
**5.** Standard License Header: Accredited Standards Committee X12 (#transaction_set), [#transaction_version]. X12 Incorporated, [MM YY]. <h

[2020-09-24 02:15] vmbrasseur opened #1108 "Alter 'new license request' template to better reflect inclusion principles?"
The current 'new license request' issue template (by way of tools.spdx.org, I believe) has these fields:

It may make sense to evolve this template a bit to include more of the information needed for the inclusion principles. For instance, maybe add a field for listing example projects using the license.

What do folks think of reconsidering the fields on this template?

[2020-09-24 03:45] goneall commented on #1108
This would be an ideal time to improve the template.  We are currently testing a new implementation at http://52.32.53.255/app/

If there is consensus to add new fields, please open an issue on the [SPDX online tools repo issues list](https://github.com/spdx/spdx-online-tools/issues)

[2020-09-24 10:36] shujisado opened #1109 "New license request: CDL-1.0 [SPDX-Online-Tools]"
**1.** License Name: Common Documentation License v1.0
**2.** Short identifier: CDL-1.0
**3.** License Author or steward: Apple Computer, Inc.
**4.** Comments: I remember it being a rather common license before Creative Commons was invented.
**5.** Standard License Header:
**6.** URL: https://fedoraproject.org/wiki/Licensing/Common_Documentation_License
**7.** OSI Status: Not Submitted

[2020-09-24 10:43] shujisado opened #1110 "New license request: OPUBL-1.0 [SPDX-Online-Tools]"
**1.** License Name: Open Publication License v1.0
**2.** Short identifier: OPUBL-1.0
**3.** License Author or steward: Open Publication
**4.** Comments: I remember it being a rather common license before Creative Commons was invented.
**5.** Standard License Header:
**6.** URL: http://opencontent.org/openpub/
**7.** OSI Status: Not Submitted

[2020-09-24 11:39] shujisado opened #1111 "New license request: FreeBSD-DOC [SPDX-Online-Tools]"
**1.** License Name: FreeBSD Documentation License
**2.** Short identifier: FreeBSD-DOC
**3.** License Author or steward: The FreeBSD Project
**4.** Comments: This license is the license in common use for FreeBSD-related documentation.
**5.** Standard License Header:
**6.** URL: https://www.freebsd.org/copyright/freebsd-doc-license.html
**7.** OSI Status: Not Submitted

[2020-09-24 15:26] swinslow commented on #1108
Big +1 from me, in particular listing example projects using the license -- that's almost always my first question back to the requester.

I filed https://github.com/spdx/spdx-online-tools/issues/240 at @goneall's request, will close this issue and we can discuss over there.

[2020-09-24 15:26] #1108 closed

[2020-09-24 17:12] emmanueltournier commented on #1057
Hi @swinslow. I was planning to make the modification below. Let me know if you want to discuss before our next meeting. Thanks.

`<p>
	<optional>&lt;</optional>one line to give the library's name
	and <alt match="an idea">a brief idea</alt> of what it does.<optional>&gt;</optional>
        <br></br>
        Copyright (C)
        <optional>&lt;</optional>year<optional>&gt;</optional>
        <opti

[2020-09-24 22:02] johnmhoran commented on #1059
@amallayev Thank you for your new license request.  I see that the URL you provided (https://www.cs.ucdavis.edu/~rogaway/ocb/license.htm) lists three different licenses from Prof. Rogaway.

1.  Which of these licenses are you seeking to add to the SPDX License List?

2.  For each license you want to add, please provide several examples (with URLs) of how that license is being used.

[2020-09-25 06:26] amallayev commented on #1059
Hello John,

I am seeking specifically the first license in the list: “License for Open-Source Software Implementations of OCB".

https://www.cs.ucdavis.edu/~rogaway/ocb/license1.pdf

Sorry for not being elaborate.

As for the usage, parts of the libgcrypt20 obtained from OCB (confirmed with version 1.8.4-5, possibly earlier) are licensed under “Open-Source Software Implementations of OCB".

Sourc

[2020-09-25 23:19] liuxinyu970226 opened #1112 "New license request: OGDL-Taiwan-1.0 [SPDX-Online-Tools]"
**1.** License Name: Taiwan Open Government Data Licence
**2.** Short identifier: OGDL-Taiwan-1.0
**3.** License Author or steward: Taiwan National Development Council
**4.** Comments: This is useful to identify Taiwanese free and open access government works. See more examples at https://data.gov.tw/about
**5.** Standard License Header: Open Government Data License, version 1.0
**6.** URL: https:

[2020-09-27 21:00] mlinksva commented on #1112
I'd suggest a short name of `OGDL-Taiwan-1.0` as similar to `OGL-Canada|UK-version` licenses already cataloged.

The licensor is stipulated to be a government agency, and the governing law is Taiwan, so it's fairly specific.

FWIW it was submitted to https://discuss.okfn.org/t/license-approval-request-open-government-data-license-taiwan-1-0/4593 which has roughly equivalent to OSI criteria for ope

[2020-09-27 21:20] liuxinyu970226 commented on #1112
@mlinksva +1

[2020-09-30 06:57] audreyt commented on #1112
@mlinksva +1

As Taiwan’s digital minister and originator of the OKFN request, I’m happy to echo this proposal.

I changed the `License` in the name from the `Licence` spelling to agree with the name used in the original text; otherwise kept verbatim.

1. License Name: Taiwan Open Government Data License
2. Short identifier: OGDL-Taiwan-1.0
3. License Author or steward: Taiwan National Development

[2020-10-03 06:22] jonchang opened #1113 "New license request: nmap [SPDX-Online-Tools]"
**1.** License Name: Nmap Public Source License
**2.** Short identifier: nmap
**3.** License Author or steward: The Nmap Project
**4.** Comments: Nmap is a commonly used suite of security software.

As the Fedora project notes, the license is GPL-derived, but with substantial changes that make the interpretation substantially different:

https://fedoraproject.org/wiki/Licensing/Nmap
**5.** Standar

[2020-10-05 16:25] johnmhoran commented on #1059
Thank you @amallayev .  I've found a copy of the example file here as well:  https://github.com/gpg/libgcrypt/blob/master/cipher/cipher-ocb.c

As for the license itself (https://www.cs.ucdavis.edu/~rogaway/ocb/license1.pdf), it appears to include a patent license grant (Section 2.1), but I see no reference to a copyright license grant.  If that is indeed the case, this license may not be suitable

[2020-10-06 13:59] spoenemann opened #1115 "Typo in AGPL-3.0"
License comparison, e.g. with `LicenseCompareHelper`, does not work for AGPL-3.0. The issue is an extraneous space in the word "sue" in line 179 of the template. The full statement containing the misspelling is as follows:

I could find this problem in several files in this repository (templates and test files) by searching for "s ue for patent infringement".

[2020-10-06 18:21] swinslow commented on #1115
Good catch @spoenemann -- and thanks @goneall for already submitting a PR to fix this! I'll go ahead and merge it.

@spoenemann note that this will not update it on the [SPDX License List website](https://spdx.org/licenses) until the next license list release.

[2020-10-07 06:29] spoenemann commented on #1115
Thanks!

[2020-10-07 06:29] #1115 closed

[2020-10-07 07:08] spoenemann opened #1117 "Copyright sign in GPL-3.0 does not match all instances"
The current license template of GPL-3.0 contains the line

However, the copyright sign `©` is represented as `(C)` in many instances of the license found in the wild. The template should be able to match both variants.

[2020-10-07 07:42] zvr commented on #1117
It does, by means of the Matching Guidelines (https://spdx.github.io/spdx-spec/appendix-II-license-matching-guidelines-and-templates/#9-copyright-symbol) which explicitly say:

[2020-10-07 10:12] spoenemann commented on #1117
What about an uppercase C, as in `(C)`?

[2020-10-07 13:40] jwillemsen opened #1118 "Update license request: DOC"
The DOC license (see https://spdx.org/licenses/DOC.html) has a broken link, http://www.cs.wustl.edu/~schmidt/ACE-copying.html should be updated to http://www.dre.vanderbilt.edu/~schmidt/ACE-copying.html

[2020-10-07 16:03] goneall commented on #1117
This is covered by [Matching Guidelines section 4:](https://spdx.github.io/spdx-spec/appendix-II-license-matching-guidelines-and-templates/#4-capitalization):

[2020-10-07 16:12] goneall commented on #1117
Note that many of the guidelines are not implemented in the templates themselves, but are implemented in tools which support the license matching guidelines.

There are now 3 tools that compare license text using the matching guidelines and text:

- The SPDX online tools at tools.spdx.org
- The SPDX Java commandline tool - [latest version](https://github.com/spdx/tools-java), [previous (more stabl

[2020-10-07 19:18] swinslow commented on #1118
Fixed by #1119

[2020-10-07 19:18] #1118 closed

[2020-10-08 07:50] spoenemann commented on #1117
I'm using the Java library to detect licenses with `LicenseCompareHelper` here:

https://github.com/eclipse/openvsx/blob/37288e214643c943423b29c55258899e36375460/server/src/main/java/org/eclipse/openvsx/util/LicenseDetection.java#L65

I have a unit test that tries to detect this license text, which starts with `Copyright (C)`:

https://github.com/eclipse/openvsx/blob/master/server/src/test/resourc

[2020-10-08 11:07] mohdhafis322 opened #1120 "New license request: Mohdhafis85 [SPDX-Online-Tools]"
**1.** License Name: Mohamad Hafis Mustapa
**2.** Short identifier: Mohdhafis85
**3.** License Author or steward: Mohamad Hafis bin Mustapa
**4.** Comments: thanks for your guide sir
**5.** Standard License Header: yes
**6.** URL: http://www.swtnp.blogspot.com
**7.** OSI Status: Approved

[2020-10-08 14:27] swinslow commented on #1120
Closing, as no license text was provided and this does not appear to be an actual request for a new license.

[2020-10-08 15:37] goneall commented on #1117
@spoenemann Thanks for the detailed description and unit test reference.  The Java matching tools should be normalizing the copyright and case.  I'll look into the code over the weekend and see if I can find out why it isn't matching.

[2020-10-08 18:45] dcantrell opened #1121 "New license request: NPSL [SPDX-Online-Tools]"
**1.** License Name: Nmap Public Source License Version 0.92
**2.** Short identifier: NPSL
**3.** License Author or steward: Gordon Lyon
**4.** Comments: There does not appear to be a standard license header block, but the nmap source code does have one it uses consistently across files.  The license is described as based on the GPL version 2.0 but with additional clarifications.  The license does

[2020-10-19 16:59] machineghost opened #1124 "New license request: PL [SPDX-Online-Tools]"
**1.** License Name: Pixabay License
**2.** Short identifier: PL
**3.** License Author or steward: Pixabay (https://pixabay.com/)
**4.** Comments: I realize this is a license exclusive to a single site ... but it *is* a creative-commons style license ("All content on Pixabay can be used for free for commercial and noncommercial use across print and digital, except in the cases mentioned in 'What i

[2020-10-19 22:31] pmadick commented on #1075
This license appears to meet most of the license inclusion guidelines to be added to the SPDX license list with the exception that the license does not appear to be widely used.  However, the project encourages others to make Rules and then place those rules under the license so it may make sense to add it to the SPDX LL.  If it is added the short identifier and the license name should both includ

[2020-10-20 02:09] #1124 closed

[2020-10-22 15:08] #988 closed

[2020-10-22 15:08] #989 closed

[2020-10-22 15:36] swinslow commented on #1056
question now posted to ANTLR community at: https://groups.google.com/g/antlr-discussion/c/XmeRzJ4xUeU

[2020-10-22 15:41] swinslow commented on #1063
Hi @tillulen, thanks for submitting this. I will raise this with the SPDX legal team during today's meeting for discussion.

Based on your input here, I am in favor of adding CC-BY-3.0-US to the License List. Our general approach towards the Creative Commons license jurisdiction-specific ports has been not to include them by default, but to add them if there is evidence that a particular jurisdict

[2020-10-22 15:45] swinslow commented on #1106
Thanks @rpurdie! I'll be bringing this up on today's SPDX legal team call, and will circle back afterwards.

[2020-10-22 15:47] swinslow commented on #1026
No response yet from email. I would suggest we move forward with adding this and choosing a name / identifier since we have not been able to find an upstream contact for their input.

[2020-10-22 16:05] swinslow commented on #720
@MarkAtwood any progress on this one?

[2020-10-22 16:10] jlovejoy commented on #1087
looks like this is functionally the same as BSD-4-Clause, but has some modifications in how the opening paragraph and conditions are expressed (which I don't think can be accommodated via matching guidelines)

The disclaimer is shortened, so that is a more significant change.

@winny - can you site other examples of project that use this?

[2020-10-22 16:16] jlovejoy commented on #979
coming back to this - I only see this text on the website, but it does not appear to be included WITH the MS-RL in the LICENSE.txt file. We have not included other "commentary" about licenses on websites, should we do so here? Would that then set a dangerous precedent?

[2020-10-22 16:25] swinslow commented on #979
Discussed on 2020-10-22 SPDX legal team call. Since the text appears on the website, but does not appear to be included in any of the WiX code itself, it doesn't appear to fit the typical model of being a license exception used in code.

If the WiX project plans to incorporate it into its code, then it might be more appropriately viewed as an exception / modification that is appropriate for inclus

[2020-10-22 16:39] swinslow commented on #1026
Discussed on 2020-10-22 SPDX legal team call; agreed to add and to proceed with choosing a name / identifier. Scancode uses MIT-open-group, we'll go with that here.

[2020-10-22 16:40] jlovejoy commented on #995
reached out to a network I'm on for MariaDB contact...

[2020-10-22 16:44] swinslow commented on #1063
Discussed on 2020-10-22 legal team call, agreed to add.

[2020-10-22 16:44] swinslow commented on #1106
Discussed on 2020-10-22 legal team call, agreed to add.

[2020-10-22 16:57] jlovejoy commented on #1059
so, seems like the example is really LGPL-2.1-or-later, plus this specific patent grant/license?

[2020-10-22 20:03] swinslow commented on #1056
Received confirmation from email with project author -- new entry should include the first three paragraphs from https://www.antlr2.org/license.html, but should not include the fourth paragraph ("The Python parser generator code...")

[2020-10-23 01:54] winny- commented on #1087
@jlovejoy no, sorry, I believe arpwatch is alone in its adoption of this license.

[2020-10-23 13:40] silverhook opened #1125 "Clarify that ImageMagick is a modified Apache-2.0"
I just plowed through `ImageMagick` and the license looked surprisingly familiar.

Upon diffing it against `Apache-2.0` I found out that it is the exact same text with some small changes:

- ImageMagick introduces a lengthy 69-line preamble
- ImageMagick, for whatever reason, omits the “(except as stated in this section)” part from the _§3. Grant of Patent License_
- (and the name of the license)

[2020-10-23 14:16] silverhook commented on #1125
Enquired the copyright holders about this: https://github.com/ImageMagick/ImageMagick/discussions/2758

[2020-10-25 21:04] goneall commented on #1117
I found the issue in the SPDX java tools - transferring to the tools repo

[2020-10-26 08:18] amallayev commented on #1059
From what I see, it is indeed a LicenseRef case, agree.

[2020-11-03 16:15] #1106 closed

[2020-11-03 20:51] alamegoMS opened #1130 "New license request: syncfusion [SPDX-Online-Tools]"
**1.** License Name: Syncfusion commercial license
**2.** Short identifier: syncfusion
**3.** License Author or steward: syncfusion
**4.** Comments: Submitting this license as a consumer.
Me or my organization (Microsoft) are not authors of this license.

I am not clear on the OSI status.
**5.** Standard License Header: This is a commercial product and requires a paid license for possession or use

[2020-11-03 21:34] silverhook commented on #1130
Is this about the commercial or the community license?

In either case, it seems to me that both are neither FOSS, nor wide-spread enough to warrant being added to the SPDX License List.

If you need an SPDX identifier, you can simply prepend the `LicenseRef-` prefix like e.g. `LicenseRef-Syncfusion-commercial` and `LicenseRef-Syncfusion-community`.

[2020-11-05 01:59] johnmhoran commented on #1064
From the research I did back in September:

tldr: The JTidy project is dated, not widely used and not maintained; but there is a GH repo looking for help, and there have been citations to the license in a handful of projects/products in the past few years.

No license author/steward listed.

Similar to zlib license: compare http://jtidy.sourceforge.net/license.html with https://spdx.org/licenses/Z

[2020-11-05 15:59] swinslow commented on #1064
Thanks @johnmhoran, this is very helpful. The reference to "HTML Tidy" led me to https://github.com/htacg/tidy-html5/blob/next/README/LICENSE.md, which appears to be sizable (and notable enough to have [its own Wikipedia page](https://en.wikipedia.org/wiki/HTML_Tidy), anyway).

Given all of the above, and given that it appears to fall within the OSI definition from my read (looks to be [Zlib](http

[2020-11-05 16:12] jlovejoy commented on #995
have found a contact at MariaDB and emailed them with link to issue and asked for review

[2020-11-05 16:15] jlovejoy commented on #995
#1074 is prepared already for this

[2020-11-05 16:35] jlovejoy commented on #1064
+1 to add. it's like zlib, but has a more robust disclaimer of warranties and extra bit at end.

I would consider the license text to be only from after "COPYRIGHT NOTICE:" (or make stuff above it optional?)

[2020-11-05 16:39] jlovejoy commented on #1060
@lal12 - the license inclusion guidelines are https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md

[2020-11-05 16:57] jlovejoy commented on #1059
@amallayev - in that case, we will mark this as not approved for the SPDX License List.
Thanks for your additional info!

[2020-11-05 17:00] swinslow opened #1131 "Add docs or website details re: LicenseRef-"
There are some instances where submitted licenses are not appropriate for inclusion on the SPDX License List, but where users of SPDX could still represent those licenses via their own custom LicenseRef- ID's.

It would be great to add some language clarifying this process, either to the docs in this repo and/or on the spdx.dev website, so that we can point people to that when closing the issue so

[2020-11-05 17:03] #1059 closed

[2020-11-05 17:19] swinslow commented on #1064
Title: Java HTML Tidy License

ID: JTIDY

[2020-11-05 17:19] swinslow commented on #1064
no version number needed here

[2020-11-05 17:22] #1063 closed

[2020-11-05 17:24] #979 closed

[2020-11-05 17:27] swinslow commented on #995
Keeping open for comment from MariaDB, if not will merge on next legal team call in 2 weeks

[2020-11-05 17:40] jlovejoy commented on #1047
@dmytri - can we get your input on this? That is, how the license applies to https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md

It looks like this license only lives on the wiki page. It's not clear if it's in use substantially. Also, is the license text finalized?

[2020-11-05 17:42] swinslow commented on #1057
[code]

[2020-11-05 17:46] MarkAtwood commented on #1058
Ill take it

[2020-11-05 17:47] swinslow commented on #1086
Discussed on 2020-11-05 legal team call, agreed that since it is limited to one project it is likely not appropriate for inclusion on the exceptions list. If you want to use a custom LicenseRef- to refer to the license + exception together, that could be an approach for you to use.

[2020-11-05 17:47] #1086 closed

[2020-11-05 17:57] jlovejoy commented on #1044
discussed on legal call 5th Nov: ok to put CC-0 to the extent anything here is copyrightable, but want to be clear we are not making an opinion or implying license files themselves are copyrightable.

need to do a bit of research of how a license file and Github identification works as well (so moving to next release)

[2020-11-05 18:00] jlovejoy commented on #1088
@salifm - sorry, this fell through the cracks! tagging for next release so that it gets addressed

[2020-11-05 18:13] johnmhoran commented on #1064
The jtidy sourceforge project does indeed have a presence on the Wayback, with its license found here: https://web.archive.org/web/20180427223718/http://jtidy.sourceforge.net/license.html

[2020-11-05 18:20] lal12 commented on #1060
Well after reading the guidelines IMHO I would say that this license fits, apart from point 2 and 3 which are debatable.

I would say it is structured to be generally usable by anyone. I think it is not necessary specific in terms of structure, though depending on the interpretation debatable.

Well it is hard to know what exactly is "one significant project" though comparing it to e.g. libpng, li