[2020-11-08 14:17] tisoft commented on #1064
If you consider only the text after COPYRIGHT NOTICE as license, it would probably be better to use "HTML Tidy License" as license name with identifier "HTMLTIDY". HTML Tidy is the original project, JTidy is a java fork of that. The license text is basically the same, the JTidy license misses a single "held", added numbers for the restrictions and changed the spelling of acknowledg(e)ment: https:/

[2020-11-08 17:50] johnmhoran commented on #1064
Thanks @tisoft -- that's my inclination as well.  @swinslow @jlovejoy -- what are your thoughts?

[2020-11-08 18:23] swinslow commented on #1064
+1 -- I don't know the history here but I defer to @tisoft, if HTML Tidy was the original project then makes sense to reference it in the name and identifier. Thanks!

[2020-11-09 09:39] jeanm opened #1133 "New license request: C-UDA-1.0 [SPDX-Online-Tools]"
**1.** License Name: Computational Use of Data Agreement v1.0
**2.** Short identifier: C-UDA-1.0
**3.** License Author or steward: Microsoft Open Data Campaign
**4.** Comments: The license was released by Microsoft's Open Data Campaign on 2019-11-07. I am not affiliated with them.

This license is becoming quite popular for academic datasets which are distributed alongside software. It allows rese

[2020-11-09 21:33] jlovejoy commented on #1064
+1 on name and identifier comments made by @tisoft

"The license text is basically the same, the JTidy license misses a single "held", added numbers for the restrictions and changed the spelling of acknowledg(e)ment: https://editor.mergely.com/OysSHMBn/"
We might want to have a closer look at this - is this something markup could accomodate?

[2020-11-09 22:03] jlovejoy commented on #1133
Looks similar to https://spdx.org/licenses/O-UDA-1.0.html
@mlinksva - do you have any thoughts on this, since you requested O-UDA-1.0?

[2020-11-09 22:13] swinslow commented on #1133
cc @royaljust also for weighing-in, as Microsoft is license steward for the O-UDA and C-UDA licenses.

[2020-11-10 21:34] Mentors4EDU opened #1134 "New license request: OPNL [SPDX-Online-Tools]"
**1.** License Name: Open Innovation License
**2.** Short identifier: OPNL
**3.** License Author or steward: Stark Drones Corporation, Andrew Magdy Kamal
**4.** Comments: If you need anything, let me know and I will get back to you right away.
**5.** Standard License Header:
**6.** URL: https://github.com/StarkDrones/OPNL/blob/main/LICENSE.md
**7.** OSI Status: Pending

[2020-11-11 05:56] mlinksva commented on #1133
I don't really remember, but perhaps I didn't submit C-UDA-1.0 at the same time because I wasn't sure whether it qualified for inclusion. I know the inclusion principles were updated earlier this year, though I didn't follow that discussion, so maybe C-UDA-1.0 does qualify now. If so, this submission looks pretty similar to #951 so should be good to go.

Which are the current inclusion guidelines?

[2020-11-11 14:59] jlovejoy commented on #1134
@Mentors4EDU - is this license actually in use? It's labeled as a proposal.

Please see https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md and comment as to how you think it meets the guidelines.

Also, you might want to consider a different acronym - OIN stand for the well-known patent pool for open source, the Open Innovation Network https://openinventionne

[2020-11-11 15:05] jlovejoy commented on #1133
@mlinksva - yeah, so, we are in the midst of updating links, which you discovered! (I just made a PR to do so #1135 )

The updated license inclusion principles are here: https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md

[2020-11-11 17:12] Mentors4EDU commented on #1134
1) Hi, regarding your inquiry, they are a network/license agreement. I was going to do "OIL" but oil is a commodity and a word, therefore I thought that would be a bad idea for a license acronym and may also present unwarranted liabilities since OIL is a commodity. I also thought of OINN but thought two Ns would be more confusing, and I still think OIN should work for now.
2) Yes, the license is t

[2020-11-11 17:31] jlovejoy commented on #1056
@swinslow , is #1079 ready to be reviewed and merged?

[2020-11-11 17:33] jlovejoy commented on #1026
@swinslow -
"MIT-open-group" is short identifier
but did we decide on a full name?

[2020-11-11 17:42] swinslow commented on #1026
I'm not sure we did, I'd suggest "MIT Open Group variant"

[2020-11-11 18:50] armijnhemel opened #1136 "New license request: NAIST-2003"
It might be worthwhile to add the following license:

https://enterprise.dejacode.com/licenses/public/naist-2003/#license-text

*edited by @swinslow 2021-02-14: edited issue title to change ID from `NAIST` to `NAIST-2003`, see comments below*

[2020-11-11 18:55] mlinksva commented on #1133
I'm not certain what "with limited restrictions" applies to--distribution? C-UDA-1.0's restrictions that go beyond those typically found in open licenses are on use, not distribution, so I guess it qualifies?

[2020-11-12 01:00] RishabhBhatnagar commented on #1026
I would like to work on this issue if it is not being worked upon by anyone else. 😀.

[2020-11-12 02:22] swinslow commented on #1026
All yours, thanks @RishabhBhatnagar!

[2020-11-15 00:01] silverhook opened #1139 "Reconcile names of Open Data Commons’ licenses"
We currently include all three of the Open Data Commons licenses:

- ODC Open Database License v1.0 (ODbL-1.0)
- Open Data Commons Attribution License v1.0 (ODC-By-1.0)
- ODC Public Domain Dedication & License 1.0 (PDDL-1.0)

At a first glance, one would not realise these are all three of the same origin or in any way related – especially between the _ODbL-1.0_ and _ODC-By-1.0_.

The (long) names

[2020-11-18 20:49] johnmhoran commented on #1064
@swinslow  @jlovejoy  Created `.xml` and `.txt` files, committed and pushed (forgot to add this issue # to my commit message -- apologies!), opened a PR about 30 minutes ago, still waiting for the 2 Travis build jobs to start: https://github.com/spdx/license-list-XML/pull/1143

[2020-11-19 14:08] swinslow commented on #1056
@jlovejoy I just need to update it from 3.10 to 3.11 in the listVersionAdded -- doing that now, and also giving it a once-over to confirm otherwise looks good.

[2020-11-19 14:14] swinslow commented on #1056
ok, after tests pass this one should be good to go, if we can get a +1 from folks

[2020-11-19 14:18] swinslow commented on #995
@jlovejoy I haven't seen any comment from MariaDB, so will plan to merge #1074 during the call today -- let us know if there's any reason we shouldn't proceed. Thanks!

[2020-11-19 14:19] swinslow commented on #1006
@jlovejoy If you don't expect to have a PR ready today for review on the legal team call, I'll plan to move this one to 3.12 since the 3.11 release will be next week. Thanks!

[2020-11-19 15:09] swinslow commented on #1076
Hi @goneall, I'm happy to update the `<alt` tags to include the `spacing` attribute. Did the latest updates to the license list publisher tools include functionality to handle this? If so then I'll make the change before 3.11 goes out, if not then I can push this issue out.

[2020-11-19 15:14] swinslow commented on #1075
@pmadick, I agree, I'm in favor of adding this to the list based on the inclusion guidelines. I'll bring this up during the legal team call today to get input from the other attendees.

[2020-11-19 15:15] swinslow commented on #1082
Hi @jlovejoy, is there anything here that you expect to have for the 3.11 release next week, or should I move this to 3.12?

[2020-11-19 16:45] jlovejoy commented on #995
@swinslow - I've reached out to them again to let them know we are prepping for the next release this week. will comment here if/when I get a response

[2020-11-19 17:08] swinslow commented on #995
Okay, I'll wait until tomorrow afternoon and then will merge if we haven't heard back by then.

[2020-11-19 17:17] #1056 closed

[2020-11-19 17:36] swinslow commented on #1060
Bumping to 3.12, Steve to take a closer look against existing list entries; Steve and Paul in favor of adding. Steve will add more details in a subsequent comment.

[2020-11-19 17:40] swinslow commented on #1075
Discussed on 2020-11-19 legal team call, agreed to add.

[2020-11-19 18:37] goneall commented on #1076
The license text file issue may already be resolved by https://github.com/spdx/LicenseListPublisher/pull/83

This can be confirmed by reviewing the text files in the license-list-data repo (e.g. [GPL-3.0-or-later.txt](https://github.com/spdx/license-list-data/blob/master/text/GPL-3.0-or-later.txt)).

There is still an issue with the HTML formatting, however (reference https://spdx.org/licenses/GPL

[2020-11-20 00:57] goneall opened #1144 "New license request: testid [SPDX-Online-Tools]"
**1.** License Name: Test License [Please Ignore]
**2.** Short identifier: testid
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/license_requests/93
**7.** URL(s): http://sourcee1.com
**8.** OSI Status: Not Submitted
**9.** Example Projects: http://example1.com

[2020-11-20 00:59] #1144 closed

[2020-11-20 01:56] goneall opened #1145 "New license request: testid [SPDX-Online-Tools]"
**1.** License Name: Test License [Please Ignore]
**2.** Short identifier: testid
**3.** License Author or steward:
**4.** Comments:
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/license_requests/94
**7.** URL(s): http://source1.com
**8.** OSI Status: Approved
**9.** Example Projects: http://example1.com

[2020-11-20 01:57] #1145 closed

[2020-11-20 17:44] jlovejoy commented on #1136
@armijnhemel - can you add the info as per https://github.com/spdx/license-list-XML/blob/master/CONTRIBUTING.md
thanks!

[2020-11-22 20:24] alandtse opened #1146 "GPL-3.0-or-later template has extra spaces"
This appears to be an issue converting the xml to the template text.

The template for GPL-3.0-or-later includes extra spaces around the alternatives (philosophy/licenses) for the url:
<https://www.gnu.org/licenses/why-not-lgpl.html>.

The source file looks fine:
https://github.com/spdx/license-list-XML/blob/master/src/GPL-3.0-or-later.xml#L838

But the generated template has the extra spaces:
htt

[2020-11-22 22:55] goneall commented on #1146
You can add a `spacing="none"` attribute value to the `<optional>` element (e.g. `http<optional spacing="none">s</optional>`).

[2020-11-22 23:02] goneall commented on #1146
Issue #1076 is also requesting this feature.

[2020-11-22 23:35] alandtse commented on #1146
I'm not sure what the attribute does for downstream users of the generated template. They don't see that tag at all so they can't manipulate it. It also makes the template incorrect as it won't match the canonical license. The issue is whatever is parsing the xml file and adding in spaces to the generated files.

[2020-11-23 00:04] goneall commented on #1146
It is a hint to the licenseListPublisher which generates the template.  The downstream will have the correct spacing based on the hints.

The problem is that when an element is added in the XML, you can not reliably determine what the spacing should be.  I fear removing the space for all occurrences would re-introduce a previous formatting bug.

For reference, here is the code that interprets the

[2020-11-23 00:08] goneall commented on #1146
Added issue https://github.com/spdx/LicenseListPublisher/issues/87 to track the tool changes.

[2020-11-23 04:07] alandtse commented on #1146
Given we now have the Python license matcher, is there a unit test to make sure that all templates will actually match their text? This is basically how I found the GPL-3.0 issue, but it feels like it should be part of the CI.

[2020-11-23 04:20] goneall commented on #1146
It is already part of the CI - The LicenseListPublisher does a number of checks including if there are any duplicate licenses in the licenseXML and verify the license text matches test text submitted.

For reference, the code which does the checking can be found here: https://github.com/spdx/LicenseListPublisher/blob/23ff8ef1a8bf5aff20944b2e2571c28f44056f14/src/org/spdx/licenselistpublisher/Licens

[2020-11-23 04:22] goneall commented on #1146
Note that there are some implementation differences between the Python and Java validation.  A difference may indicate an issue in one (or both) of the libraries.

[2020-11-23 06:42] alandtse commented on #1146
I'm surprised that this wasn't caught earlier if we are doing the test. Even if there are different implementations, the space in a url would stop a match which is how I found it.

[2020-11-23 12:47] rvsoni opened #1149 "New license request: EDL 1.0"
1. License Name: Eclipse Distribution License - v 1.0
2. Short identifier: EDL 1.0
3. License Author or steward: Eclipse Foundation
4. Comments:
5. Standard License Header:
6. URL: https://www.eclipse.org/org/documents/edl-v10.php
7. OSI Status: Yes

Following libraries are using it,
1) https://mvnrepository.com/artifact/com.sun.activation/jakarta.activation/1.2.1
2) https://mvnrepository.com/arti

[2020-11-23 14:32] swinslow commented on #1146
Thanks @goneall, I've merged #1147 and #1148. Between that and the open issue at https://github.com/spdx/LicenseListPublisher/issues/87, is it okay to close this one or is there anything here for which we should keep this issue open?

[2020-11-23 14:33] swinslow commented on #1076
@goneall, is this sufficiently resolved by #1147 and #1148, or should I keep this one open?

[2020-11-23 14:38] swinslow commented on #1149
Hi @rvsoni, thanks. This is identical to [BSD-3-Clause](https://spdx.org/licenses/BSD-3-Clause.html) when the [SPDX matching guidelines](https://spdx.github.io/spdx-spec/appendix-II-license-matching-guidelines-and-templates/) are taken into account.

That means we won't add a separate entry for the Eclipse Distribution License. The appropriate SPDX identifier to use for this is `BSD-3-Clause`.

[2020-11-23 14:38] #1149 closed

[2020-11-23 16:55] goneall commented on #1146
Me too. I suspect this may be an issue with the Java license matching code.  It needs more investigation to confirm, but I added an issue to track.

@swinslow I think we can now close this one as we have more specific issues opened to track the identified problems.

[2020-11-23 16:57] goneall commented on #1076
@swinslow I think we should close this issue since there are no more specific pull requests and issues logged to track the solution implementation.

[2020-11-23 18:14] swinslow commented on #1076
Thanks @goneall!

[2020-11-23 18:14] #1076 closed

[2020-11-23 18:15] swinslow commented on #1146
Thanks @alandtse and @goneall!

[2020-11-23 18:15] #1146 closed

[2020-11-24 19:02] swinslow commented on #995
I've merged #1074 now, thank you @esplinr!

[2020-11-24 19:02] #995 closed

[2020-11-24 19:05] swinslow commented on #1064
#1143 is now merged, thank you @johnmhoran!

[2020-11-24 19:05] #1064 closed

[2020-11-24 19:14] swinslow commented on #1006
moving to 3.12

[2020-11-24 19:15] swinslow commented on #1075
I don't think we're going to get this added for this release, so I'm bumping it to 3.12 -- we'll get it added early in the 3.12 cycle.

[2020-11-24 19:27] adamretter commented on #995
Thank you everyone :-)

[2020-11-25 13:32] #1026 closed

[2020-11-25 15:12] #1057 closed

[2020-11-30 00:56] mandel59 opened #1154 "SPDX-Online-Tools shows error message for License in Japanese"
I've submitted the license text from https://creativecommons.org/licenses/by-sa/2.1/jp/legalcode, and I've got the following message:

![image](https://user-images.githubusercontent.com/1079715/100558353-6a7cc100-32f1-11eb-9919-87f500c51e25.png)

[2020-11-30 01:01] mandel59 opened #1155 "New license request: CC-BY-SA-2.1-JP"
1. License Name: Creative Commons Attribution-Share Alike 2.1 Japan
2. Short identifier: CC-BY-SA-2.1-JP
3. License Author or steward: Creative Commons
4. Comments: The List of MJ Characters, one of fundamental data for Japanese text processing in Japan, is licensed under CC-BY-SA-2.1-JP. Some open data are also available under CC-BY-SA-2.1-JP.
5. Standard License Header:
6. URL: https://creativec

[2020-11-30 01:04] mandel59 commented on #1155
Example project URLs
- MJ文字情報一覧表 (The List of MJ Characters) <https://moji.or.jp/mojikiban/mjlist/>
- 塙町オープンデータ利用規約 (Hanawamachi Open Data Terms of Use) <http://www.town.hanawa.fukushima.jp/page/page001231.html>

[2020-11-30 01:10] mandel59 commented on #1154
License Text: https://gist.github.com/mandel59/527db04e7655f28edb0e8db2bda7c328#file-gistfile1-txt

[2020-11-30 01:11] mandel59 commented on #1155
License Text: https://gist.github.com/mandel59/527db04e7655f28edb0e8db2bda7c328#file-gistfile1-txt

[2020-11-30 06:46] goneall commented on #1154
Transferring this issue to the spdx-online-tools repo issues list.

[2020-11-30 19:23] daeatough opened #1157 "Update BSD-3-Clause to allow matching to the included text"
**1.** License Name: V8 Project License
**2.** Short identifier: V8
**3.** License Author or steward: Google V8 Project Team
**4.** Comments: This is the license associated with V8 projects
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/license_requests/95
**7.** URL(s):
**8.** OSI Status: Not Submitted
**9.** Example Projects:
**8.** License Text Diff: https

[2020-12-03 17:10] johnmhoran commented on #1087
@swinslow I'll tackle this.

[2020-12-03 17:13] RishabhBhatnagar commented on #1088
I'll do it.

[2020-12-03 17:25] swinslow commented on #1107
Original submission w/ original license text is at https://tools.spdx.org/app/archive_requests/81/

[2020-12-03 17:25] emmanueltournier commented on #1107
Here

[2020-12-03 17:30] RishabhBhatnagar commented on #1109
I would like to work on this issue.

[2020-12-03 17:31] johnmhoran commented on #1111
@swinslow I'll tackle this submission.

[2020-12-03 17:37] RishabhBhatnagar commented on #1110
Let me tackle this issue.

[2020-12-06 04:40] BertAnthonyRochester opened #1158 "Check out "Microsoft Defender ATP (Enterprise)""
https://play.google.com/store/apps/details?id=com.microsoft.scmx

[2020-12-07 14:25] #1158 closed

[2020-12-07 17:47] swinslow opened #1159 "Add additional crossref for O-UDA-1.0"
now also available at https://cdla.io/open-use-of-data-agreement-v1-0/

[2020-12-08 09:34] silverhook commented on #1125
ImageMagick has updated their license text to fix the missing text in §3, so the text is now identical to Apache-2.0 (plus the preamble).

https://github.com/ImageMagick/ImageMagick/commit/45e5d2493c08e7cb49f7268c01d847e88f78fd6c

[2020-12-16 14:23] emmanueltournier commented on #1107
@swinslow . Note sure I will be able to attend our meeting tomorrow so here are my comments: I looked at the X12.org website, more specifically at this page: https://x12.org/products/ip-use . I could not find any identifiable license text, or evidence that their work is available under an open-source license. The "licensing program" page decribes a bunch of commercial options to participate and/or

[2020-12-17 17:00] RishabhBhatnagar commented on #1109
Hello @shujisado, thanks for the new license request. Can you provide examples or URLs for projects where this license is or was used?

For a license to be included in the spdx license list, it should have actual, substantial use, as described by the Third point under the `Other Factors` subsection of the [License Inclusion Principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/lice

[2020-12-17 17:17] jlovejoy commented on #1096
These two examples were not licenses, hence not added to the SPDX License List. Question was whether we need an explicit statement that the SPDX License List is only for "licenses" which then might lead to defining a "license"

Considering that the License Inclusion Guidelines mention "license" over and over, this does not seem necessary.

[2020-12-17 17:18] jlovejoy commented on #1096
discussed on 17th Dec call - will leave as is and close issue

other points raised: License Inclusion Guidelines should not be edited ad hoc. They were the same for 7 years and then we took a long time to amend them. We probably want to continue with that level of care.

[2020-12-17 17:18] #1096 closed

[2020-12-17 17:20] jlovejoy commented on #1139
I'm fine with amending long names, so long as the short identifiers remain the same. I think that is what you are proposing, correct? @silverhook

[2020-12-17 17:25] jlovejoy commented on #1157
As per our matching guidelines this IS a match to BSD-3-Clause.
See: https://spdx.dev/license-list/matching-guidelines/

and note, specifically, section 2.1.3 which is visually shown via red text here https://spdx.org/licenses/BSD-3-Clause.html

the only difference I see is "Google" in clause 3 which is "replaceable"

[2020-12-17 17:29] JimVitrano commented on #1104
I'll be happy to work on this with you, Steve.

[2020-12-17 17:30] jlovejoy commented on #1138
Yes, the license text is the same, but the different options in the exhibits create different license obligations.
That being said, it looks like the exhibits are also the same... I will look more closely at this, as we may have introduced a mistake on this somewhere along the lines

[2020-12-17 17:32] swinslow commented on #1130
Agreed with @silverhook, discussed on 2020-12-17 legal team call, this appears to be a company's own custom license for their products and doesn't warrant inclusion on the license list.

[2020-12-17 17:32] #1130 closed

[2020-12-17 17:40] swinslow commented on #1134
Discussed on 2020-12-17 legal team call, further comments to follow.

[2020-12-17 17:49] goneall commented on #1157
Since this was submitted using the online app, the license text probably didn't match for some reason.  The license diff image isn't that helpful, it will probably require some manual investigation to figure out what it didn't match.

[2020-12-17 18:05] RishabhBhatnagar commented on #1110
We do have a huge number of projects in the wild that uses this license. From a quick scan, it doesn't look similar to any other license. I'm not sure about the legal terms of this license text but it matches the License Inclusion Guideline and we might add this to our license list.

[2020-12-17 18:18] Mentors4EDU commented on #1134
Thanks for the update.

[2020-12-17 18:37] swinslow commented on #1104
Thanks @JimVitrano!

[2020-12-18 04:34] shujisado commented on #1109
http://dutchroll.sourceforge.net/manual.html

I can't find much.  I think there used to be some projects that used Apple's CDL, but I guess it's true that it's almost non-existent these days. The above URL was easy to find, though.

[2020-12-20 13:59] StefanBruens opened #1161 "New license: MIT-Modern-Variant"
1. License Name: ABC
2. Short identifier: ABC
3. License Author or steward: Unknown
4. Comments: Seems to be only used by ABC. This is a permissive license, but not maching any registered ones in wording (checked BSD-n-*, ISC, MIT, zlib)
5. Standard License Header: -
6. URL: https://people.eecs.berkeley.edu/~alanmi/abc/
7. OSI Status: Not Submitted

[2020-12-22 15:00] sankha555 commented on #1161
Hello!
I would like to work on this issue if it's open for contribution. If so, could anyone please assign it to me? Also, is it required that the license text be added to the list of xml files in the repo as a new license? If there are any more requirements to be worked upon, it would be really helpful if someone could please guide me since this would be my first issue in the repo. Thanks!

[2020-12-25 17:52] chenrui333 commented on #1094
Any update on this thread? :)

[2020-12-27 16:04] Mentors4EDU commented on #1134
Hi, we have changed the identifier to OPNL to avoid any mix up w/ the Open Innovation Network as per your suggestion.

[2020-12-29 04:06] Mentors4EDU opened #1164 "New license request: OPNL-2.0 [SPDX-Online-Tools]"
**1.** License Name: Open Innovation LIcense v2
**2.** Short identifier: OPNL-2.0
**3.** License Author or steward: Andrew Magdy Kamal, Stark Drones Corporation
**4.** Comments: Since last time we spoke, OPNL (which is also pending) have been adapted by nearly 57 software teams.
https://hackernoon.com/why-you-should-source-your-software-under-the-open-innovation-license-8cv3wmc
https://hackernoon.

[2020-12-29 18:11] jlovejoy commented on #1134
@Mentors4EDU - good call on the identifier change as well.

I also see that you have submitted it to the OSI and there has been much discussion. In this kind of situation, we usually wait for that process to roll out for at least a couple reasons:
1) if OSI approves a license and adds it to their list, we generally add it to the SPDX License List
2) license often get revised in the OSI approval pr

[2020-12-29 19:38] Mentors4EDU commented on #1134
Hi @jlovejoy , the OSI list is kind of iffy. I withdrew my submissions for approval and instead submitted it to the **Open Knowledge Foundation** [here](https://discuss.okfn.org/t/license-approval-request-open-innovation-license-opnl-and-opnl-2-0/10134).

There was much debate mainly centered around having ethical statements in open source licenses. This has been done in the past, and I believe is

[2020-12-29 19:39] Mentors4EDU commented on #1134
Anyways, I hope the above statement hopefully answers any concerns you have in regards to my due diligence for these licenses so far.

[2020-12-30 01:02] jlovejoy commented on #1164
are both version 1 and version 2 in use??

[2020-12-30 01:34] Mentors4EDU commented on #1164
Yes. Version 1 is actively in use and is the one in example projects and adapted by 57 teams (now 60). Version 2 was just released as technically the simpler variation of Version 1. I recently created a Zenodo and NPM Package for version 2 which has received about 120 downloads during the past day. I expect about 200 to 400 repos to have it within the next upcoming few month.

[2020-12-30 07:58] karsten-klein commented on #1121
Hi all,

here the results of my review:

License Inclusion Principles
- the definitive factors are addressed
- The other factors are not quite addressed. I.e. the license only applies to a given set of tools and data. Per definition the licensor is "Insecure.Com LLC and its successors and assign". A substantial use is also not monitored. Nevertheless, nmap may be regarded significant enough to add

[2020-12-30 07:59] karsten-klein commented on #1113
Duplicate: check out #1121

[2020-12-31 23:27] Aspie96 commented on #993
May I say that, precisely because the license is a joke, I think the NSFW variant is actually better?
It is a lot more funny.

I don't know if this license ever deserved to be added, but if it did, the NSF version did too (I suggest with ID GLWTPL-NSFW).

[2021-01-01 14:08] Aspie96 commented on #1164
Wait, didn't you submit it and then withdraw it?

[2021-01-01 14:09] Aspie96 commented on #1164
That looks like an OSI submission to me: https://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-December/005042.html

[2021-01-01 18:29] Mentors4EDU commented on #1164
Hi, like I said earlier in the other pull request I submitted and withdraw it, but decided not to go w/ the voting process w/ them. I didn't know how to best word that because that wasn't an option on the form.

Best regards, Andrew

[2021-01-01 19:49] Aspie96 commented on #1164
Fair enough.
I think the information I added is relevant then.

The mailing list is public, there is nothing secret at all abut it.
You can reach the archives via the opensource.org website. The whole purpose of the archives is for them to be public.
Also it is indexed by Google, as you can easily verify, but that is not important.
When you publish to that mailing list you should already assume ev

[2021-01-01 20:11] Mentors4EDU commented on #1164
1) Actually the information you added is mostly irrelevant. If you can seen the previous comments by the SPDX team in my other pull requests, they seen the OSI thread and/or are already aware it has been submitted to OSI.
2) You made a mistake not checking the full thread and therefore posted information that was generally already known. You also made a similar mistake when you didn't do enough du

[2021-01-01 20:30] Mentors4EDU commented on #1164
Hi, given that the series of comments had less to do w/  this pull request and he has commented on other of my GitHub issues before, I have blocked the user. Responding back and forth to comments outside of concerns by the SPDX team is irrelevant to my time and would take forever.
I want to reiterate the focus should be on the license, the pull request and the needed usage of an identifier.
I also

[2021-01-02 00:34] liuxinyu970226 commented on #1164
@Mentors4EDU Besides, I think the [SPDX Online Tool License requests form](https://tools.spdx.org/app/submit_new_license/) should really also have a question mark on the "OSI status" field, to explain us how to check the status of OSI submitting.

[2021-01-02 00:55] Mentors4EDU commented on #1164
Yes, I also want to emphasize that my main point was that the original SPDX submissions were prior to OSI and that the team is already aware of the submission. Also I withdrew the OSI submission, and haven't asked to move to the OSI board approval process which is outside of community discussion. That said I would like potential OSI inclusion in the future, but this has less to do with the SPDX su

[2021-01-04 19:25] johnmhoran commented on #1111
TL;DR: Given the stature of The FreeBSD Project and the popularity of its BSD distributions, I think this license should be added.

Notes:

It does not appear that the submitter (https://github.com/shujisado) has any direct connection to the asserted author/steward (The FreeBSD Project: https://www.freebsd.org/).

The proposed license appears to be based on "The FreeBSD Copyright" (https://www.fre

[2021-01-04 20:31] swinslow commented on #1111
+1 -- thanks for the writeup, @johnmhoran, I agree this should be added.

[2021-01-05 05:24] chenrui333 commented on #1058
Not sure about the status of this issue, I have encountered the similar license declaration in [this PR](https://github.com/Homebrew/homebrew-core/pull/68312)

[code]

[2021-01-05 05:26] chenrui333 commented on #720
Any update on this issue?

[2021-01-05 15:18] #1095 closed

[2021-01-05 15:20] swinslow commented on #1085
Circling back on this earlier issue -- agreed with @alandtse, I think we need to explore switching to GitHub Actions. During the last license list release, Travis CI has slowed things down so much that it takes multiple hours before each build will be queued to run. I'll plan to bring this up on today's tech team call.

[2021-01-05 15:26] swinslow commented on #1085
@zvr @goneall for the earlier question about step "F3" in @zvr's draft writeup, I'm fine with there being a manual step of "make release" or something like that for me to run.

[2021-01-05 15:46] swinslow commented on #1098
Hi @agmlego, thanks for the submission -- and @boringcactus, thanks for the additional context as the license author!

In looking at whether or not to add a license to the [SPDX License List](https://spdx.org/licenses), we evaluate them in light of the [SPDX license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md). Here's my quick run

[2021-01-05 16:16] swinslow commented on #1099
Hi @singerjoshua, thanks for the submission.

In looking at whether or not to add a license to the [SPDX License List](https://spdx.org/licenses), we evaluate them in light of the [SPDX license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md). Here's my quick run-down of thoughts from holding those up to the BAPL text:

**Definitive f

[2021-01-05 16:32] swinslow commented on #1112
Thanks for the submission, @liuxinyu970226 and @audreyt!

In looking at whether or not to add a license to the [SPDX License List](https://spdx.org/licenses), we evaluate them in light of the [SPDX license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md). Here's my quick run-down of thoughts from holding those up to the OGDL-Taiwan-1.

[2021-01-05 17:03] swinslow commented on #1155
Thanks for submitting this, @mandel59!

Do you have an updated URL for the List of MJ Characters site that you linked to? I am getting a 502 Bad Gateway error when visiting https://moji.or.jp/mojikiban/mjlist/

[2021-01-05 17:36] audreyt commented on #1112
Re bilingual canonical text inclusion, yes that sounds good to me.

[2021-01-05 17:50] boringcactus commented on #1098
yeah, the goal of versioning there was to ensure that "FAFOL v0.2" means the same thing from now until the end of time; if any future changes make sense to me, they'll go into a v0.3 of the license.

the FAFOL is a deliberate rejection of Freedom 0's "for any purpose". compliance with the OSD depends on whether or not evil is a "field of endeavor"; that's a question of philosophy more than anythin

[2021-01-05 17:57] agmlego commented on #1098
Seems reasonable. To be honest, I mostly wanted it on SPDX because I already extensively use SPDX for other licenses, but I agree with the analysis thus far.

Thanks for the consideration!

[2021-01-05 18:34] swinslow commented on #1098
Thank you both!

@agmlego, for what it's worth, the [SPDX spec](https://spdx.github.io/spdx-spec/) defines a license identifier format that can be used for custom-defined licenses (e.g. those that aren't on the official [SPDX License List](https://spdx.org/licenses)). This is by using a "LicenseRef-" -- an identifier that starts with `LicenseRef-`, including the hyphen, followed by your choice of

[2021-01-05 18:34] #1098 closed

[2021-01-05 19:13] goneall opened #1166 "Support content negotiation for the different license list formats on spdx.org/licenses"
The [SPDX license list website](https://spdx.org/licenses/) currently serves JSON, RDFa and HTML formats for the licenses.  JSON is referenced by replacing the `.html` with  `.json`  in the license URL.

A possibly better option to service the different formats for the license list would be to support content negotiation on the website.

See https://developer.mozilla.org/en-US/docs/Web/HTTP/Conten

[2021-01-07 17:35] swinslow commented on #1087
Discussed on 2021-01-07 legal team all, agreed to add.

[2021-01-07 17:39] emmanueltournier commented on #1111
+1

[2021-01-07 17:40] jlovejoy commented on #1111
+1 to add from me too

[2021-01-07 17:42] swinslow commented on #1107
Thanks @emmanueltournier! Agreed, this appears to be a commercial / proprietary licensing program that doesn't fit with the SPDX inclusion principles, agreed that this should not be added.

[2021-01-07 17:42] #1107 closed

[2021-01-07 17:46] jlovejoy commented on #1112
+1 to adding

[2021-01-07 17:47] johnmhoran commented on #1112
+1 to adding

[2021-01-07 17:47] swinslow commented on #1112
Discussed on 2021-01-07 legal team call, agreed to add.

[2021-01-08 03:31] mandel59 commented on #1155
Maybe temporary unavailability? I can browse the linked page currently.

[2021-01-08 14:02] swinslow commented on #1155
It must have been -- I can view it now. Thank you!

[2021-01-11 05:32] 9ary commented on #1121
Just a note, this is about the old nmap license, here's Fedora's statement on this new one: https://www.mail-archive.com/devel-announce@lists.fedoraproject.org/msg02463.html.

[2021-01-11 18:03] swinslow commented on #1113
Thanks @karsten-klein! Closing this one and we can review the other submission in #1121 where you've already added comments.

[2021-01-11 18:03] #1113 closed

[2021-01-11 18:12] swinslow commented on #1121
Hi @karsten-klein, thanks for your writeup - and @9ary, thanks for the additional updated link.

I agree with @karsten-klein's comments and I am a +1 on including this. I recognize from the Fedora discussion that there are reasons to think that this version likely would not meet the open source definitions, and also that the license is limited to nmap alone. However, I would say that [nmap is wide

[2021-01-12 05:26] wmthornton opened #1168 "New license request: VPSL-1.0.1 [SPDX-Online-Tools]"
**1.** License Name: ViraTrace Public Source License v101
**2.** Short identifier: VPSL-1.0.1
**3.** License Author or steward: ViraTrace, LLC
**4.** Comments: The VPSL is designed to be partially-restrictive but still license proprietary source code for use by individuals and companies utilizing frameworks and software developed by ViraTrace, LLC (or subsidiaries). This is similar to the Apple Pu

[2021-01-12 05:43] wmthornton commented on #1168
We at ViraTrace would also note that although the VPSL is restrictive, it requires ViraTrace to defend the rights of others to use the subject source code and derivatives where ViraTrace knew or knows that the code is legally challenged. It provides that ViraTrace must revoke the license to use the source code to anyone using legally dubious source and either provide a fix or attempt to procure le

[2021-01-13 03:24] jlovejoy commented on #1161
@sankha555 - Thanks! we need to first decide if it will be added to the SPDX License List, and if so, then we would generate a PR with the XML and text files - at which point your help would be greatly appreciated.
@swinslow and I will keep an eye out for any other licenses that may be at that point in the process as well.
check out: https://github.com/spdx/license-list-XML/blob/master/DOCS/new-li

[2021-01-13 05:11] sankha555 commented on #1161
Thanks for the details @jlovejoy. I just went through the workflow and also through the list of licenses in the repository. I found that the ABC license is not present there. So, in that case would you want me to go ahead and make a PR with the txt and xml files or shall I wait for some time for your analysis? I would move ahead according to your instructions. Thanks!

[2021-01-14 19:49] ariel11 opened #1169 "SPDX "Unicode-DFS-2016""
I am looking to determine if there is a valid SPDX for the LICENSE file for the ICU project - e.g. https://github.com/unicode-org/icu/blob/master/icu4c/LICENSE.

As you can see on the LICENSE file above, only the bottom portion of the LICENSE file matches everything under the "COPYRIGHT AND PERMISSION NOTICE" section of the "Unicode-DFS-2016" SPDX (except on the LICENSE file, it says "COPYRIGHT AN

[2021-01-14 20:03] ariel11 commented on #1169
Showing diff between [ICU LICENSE file](https://github.com/unicode-org/icu/blob/master/icu4c/LICENSE) and [Unicode-DFS-2016](https://spdx.org/licenses/Unicode-DFS-2016.html).

![image](https://user-images.githubusercontent.com/17935946/104643012-8a2d3600-5660-11eb-8685-71558d581dd8.png)

[2021-01-14 20:07] ariel11 commented on #1169
Showing diff between https://www.unicode.org/license.html and [Unicode-DFS-2016](https://spdx.org/licenses/Unicode-DFS-2016.html).

![image](https://user-images.githubusercontent.com/17935946/104643309-13dd0380-5661-11eb-9bf5-c5bd2cc7e213.png)

[2021-01-14 20:08] swinslow commented on #1136
Since I've picked this up, I'll include a more detailed response later, just noting that I've come across this one in the wild as well from code that I'm looking at.

[2021-01-19 14:50] swinslow opened #1170 "Add OSI-approved markup for CERN OHL 2.0 licenses"
These were approved by OSI on 2021-01-15: http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2021-January/005066.html

[2021-01-20 10:25] nicorikken opened #1171 "New license request: CC-BY-2.5-AU"
I tried submitting this in the web form. Got an error (attached at the end) but couldn't find where to report that error even. So I decided to skip that process altogether and just commit straight to GitHub.

**License's Full Name:** Creative Commons Attribution 2.5 Australia (CC BY 2.5 AU)
**Short Identifier:** CC-BY-2.5-AU
**Source / URL:** https://creativecommons.org/licenses/by/2.5/au/
**Who i

[2021-01-20 19:22] goneall commented on #1171
@nicorikken Thanks for reporting the error.  I ran into a similar issue earlier in the week.  I added an issue to the SPDX online tools repo to track: https://github.com/spdx/spdx-online-tools/issues/285

A new version of the software is planned to be released in the next day or so.

[2021-01-21 01:26] goneall opened #1172 "New license request: testid [SPDX-Online-Tools]"
**1.** License Name: Test License [Please Ignore]
**2.** Short identifier: testid
**3.** License Author or steward: Gary
**4.** Comments:
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/license_requests/98
**7.** URL(s): http://example.com
**8.** OSI Status: Not Submitted
**9.** Example Projects: http://example1.com

[2021-01-21 01:27] #1172 closed

[2021-01-21 17:15] emmanueltournier commented on #1170
Here

[2021-01-21 23:17] wmthornton commented on #1168
Wondering if there is going to be any movement on this new license/exception request?

[2021-01-22 16:09] karsten-klein commented on #1113
By now a 0.93 is available.

The diff:

![image](https://user-images.githubusercontent.com/20038021/105514874-4bd4ee00-5cd4-11eb-9b6f-9c73ad3d96b0.png)

So only version number and preamble have changed. So the change is not really on the terms and conditions, but rather informative.

I suggest to add both version as NPSL-0.92 and NPSL-0.93

Cheers,
Karsten

[2021-01-22 16:19] karsten-klein commented on #1121
By now a version 0.93 is available.

The diff:

![image](https://user-images.githubusercontent.com/20038021/105516183-de29c180-5cd5-11eb-9177-31bc00ac4d29.png)

I propose to add both as NPSL-0.92 and NPLS 0.93.

Cheers,
Karsten

[2021-01-26 18:04] capfei commented on #1169
I get a lot of these as well and would like to know if the portion above the copyright statement is required to be "Unicode-DFS-2016" or if the SPDX text can be updated to make that part optional.

[2021-01-27 16:40] andrewjskatz opened #1173 "Minor typographical changes to submitted licence texts for CERN-OHL"
We have corrected a few typos in the CERN-OHL Licence texts. These versions are the versions which have been OSI approved, and the changes make no difference to the legal effect of the licences. A summary of the changes is here: https://ohwr.org/project/cernohl/issues/50

and the revised licence texts are here:

https://ohwr.org/cern_ohl_s_v2.pdf
https://ohwr.org/cern_ohl_w_v2.pdf
https://ohwr.org

[2021-02-04 05:19] goneall opened #1176 "All Travis-CI jobs now failing"
Travis CI jobs are failing with the following error:

[code]

[2021-02-04 05:25] goneall commented on #1176
There has not been any change to the tools or scripts.  The failures started around Jan 31 with PR #1174 followed by the same error in PR #1175

The error indicates the file at https://wking.github.io/fsf-api/schema/licenses.jsonld can not be loaded when running in a Travis environment.

The file can be accessed by me locally in a browser.

Running the same scripts locally on my machine works fine

[2021-02-04 06:34] goneall commented on #1176
Resolved by PR #1177

Also migrated from travis-ci.org to travis-ci.com

[2021-02-04 06:34] #1176 closed

[2021-02-04 17:19] jlovejoy commented on #1169
looks like we also need to update the URL on the license page to https://www.unicode.org/license.html

[2021-02-04 17:36] jlovejoy commented on #1169
discussed on Feb 4th call: agreed it's fine to mark first 3 paragraphs as optional, but "NOTICE TO USER..." section is more legally substantive and not something we'd usually mark as optional. Yet, Unicode appears to omit that section in their own use of the license.
- more research as to if there is any use in wild of license including that paragraph (in which case, we may want to make a new vari

[2021-02-04 18:00] jlovejoy commented on #1110
As discussed on Feb 4th call: Inclined to add license as is.
Note: The license text has two options to add restrictions. Should we add these options as well or wait until that is separately requested?
If use of additional restrictions in wild, then that would point to adding all three variants??

[2021-02-04 20:56] jlovejoy commented on #1138
see PR #1179

[2021-02-04 21:06] jlovejoy commented on #1006
see PR #1180

[2021-02-05 05:39] jlovejoy commented on #1082
I think this issue pertains to maybe adding some text to the main page where the Deprecated licenses are that explains what SPDX considers "deprecated" - as it stands now, the description just goes into the why some license identifiers were deprecated. An opener sentence that defines "deprecated" would be good - maybe draft a strawman and discuss via mailing list and/or next call.

[2021-02-05 05:46] jlovejoy commented on #1072
I don't recall any specific reason or discussion on this. My guess would be... the neatness of no dashes in the full names?

I could go either way on this one: I can see the symmetry of aligning it, but I'm not sure it really it matters as it's the full name, it's been that way for a decade - is it worth the work to update now?

[2021-02-05 06:01] jlovejoy commented on #1139
see PR #1181

[2021-02-05 06:03] jlovejoy commented on #1157
as this is a match to an existing license, no new license need be added.
I will close this issue

[2021-02-05 06:05] #1157 closed

[2021-02-05 06:08] jlovejoy commented on #1173
Thanks @andrewjskatz
legal team: looking at the changes as summarized in the issues link above, I think they are non-substantive and can/should be dealt with via markup. But could use some eyeballs to check that and how to implement.
@swinslow - thoughts?

[2021-02-05 17:13] jlovejoy commented on #1047
as there has been no further in put on this to answer the above questions, I think we should close.

[2021-02-05 17:20] jlovejoy commented on #1060
+1 to add. This looks to be a package used in several Linux distros
@bgoldring - can you prepare the XML files in the next few days for the release?

[2021-02-05 17:24] jlovejoy commented on #1075
@defensivedepth - I think the short identifier should be DRL-1.0
in light of there being a version number on the license (yeah) and that we always try to include that in case of later versions. Can you affirm that and then we can get this ready?

[2021-02-05 17:32] jlovejoy commented on #1088
Hi @salifm - you said above that no projects use this license, which is generally a requirement as per our license inclusion guidelines - https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md
Assuming this is still the case, why have a new license and add it to the SPDX License List?
Was Larry Rosen involved in this fork?

[2021-02-05 17:42] jlovejoy commented on #1161
Looks like the closest match is to PostgreSQL License, with differences in order of wording and omission of "lost profits" in the disclaimer text.
Given that this is only used by one project and I'm not sure how active that project is, I'd be inclined not to add it.

@pmadick @swinslow @johnmhoran - comments?

[2021-02-05 17:45] jlovejoy commented on #1087
@johnmhoran - will you be able to get to this one soon?

[2021-02-05 17:47] jlovejoy commented on #885
Considering that we added some of these licenses already and decided not to add the others (so far), I'm going to close this. If there is a point in the future where the other licenses are requested to be reconsidered, it'd be better to have a new issue and link to this for history.

[2021-02-05 17:47] #885 closed

[2021-02-05 18:02] jlovejoy commented on #1094
@Moisan - can you clarify where this license is used? I'm a little unclear on that. Is it only used on one project? (note, even if you don't use the Submit License tool - we still need the same info that form asks for, see https://tools.spdx.org/app/submit_new_license/ for reference :)
Thanks!

[2021-02-05 18:13] jlovejoy commented on #1099
+1 not appropriate to add. Notably, it has several references to Booz Allen within the license text, so I don't think it meets principle 2. There is also no info on why it should be added in the original submission (comments) and no follow-up. I'd suggest marking as "not accepted" and closing the issue.

[2021-02-05 18:28] salifm commented on #1088
Sorry, I didn't think enough about this, I want to cancel this license request

[2021-02-05 18:28] goneall commented on #1072
I don't foresee any impact of this change on the tooling or license matching if you decide to make these changes.

[2021-02-05 18:28] #1088 closed

[2021-02-05 18:34] jlovejoy commented on #1133
Thanks for the analysis, @swinslow
Given the totality of the factors, I agree this weighs in favor of adding.

[2021-02-05 18:43] jlovejoy commented on #1121
Should this be added as an exception? It included GPL-2.0 in the Exhibit and states that it modifies those terms.
note:
"Covered Software is licensed to you under the terms of the GPL (Exhibit A), with all the exceptions, clarifications, and additions noted in this Main License Body. Where the terms in this Main License Body conflict in any way with the GPL, the Main License Body terms shall take

[2021-02-05 18:46] jlovejoy commented on #1168
we are a bit overloaded at the moment and trying to go in order, thanks for you patience!

[2021-02-05 18:56] singerjoshua commented on #1099
I apologize for our delayed response on this. Please go ahead and close the submission related to the BAPL as we are currently in the process of reevaluating it.

Thank you.

From: Jilayne Lovejoy <notifications@github.com>
Sent: Friday, February 5, 2021 1:14 PM
To: spdx/license-list-XML <license-list-XML@noreply.github.com>
Cc: Singer, Joshua [USA] <Singer_Joshua@bah.com>; Mention <mention@norepl

[2021-02-05 19:03] defensivedepth commented on #1075
Yes, sounds good to me, thanks!

[2021-02-05 19:06] jlovejoy commented on #1134
This was discussed on the legal call. Here is a summary, as per the license inclusion guidelines:

Definitive factors: The license appears to meet most of these, with the note that it is not OSI-approved and given there is already a v2, the author seems to understand the importance of versioning of licenses.

Other factors: Given that, we look at the totality of the "other factors" listed in the i

[2021-02-05 19:14] jlovejoy commented on #1164
This has been discussed by the SPDX-legal team, the following is a summary as per the license inclusion guidelines:

Definitive factors: The license appears to meet most of these, with the note that it is not OSI-approved and assuming that v2 text isn't planned to be modified (and that the version number would be bumped if it was).

Other factors:
1)  v2 does substantially comply with the definiti

[2021-02-05 19:16] johnmhoran commented on #1087
@jlovejoy -- now that the Travis failures have been resolved, I will find time today (or over the weekend latest) to draft, push and open a PR for the .xml/.txt files.

The formatting of the [sample license text](https://metadata.ftp-master.debian.org/changelogs//main/a/arpwatch/arpwatch_2.1a15-7_copyright) is less than ideal -- subject to your guidance (@swinslow -- any thoughts as well?), I prop

[2021-02-05 19:17] jlovejoy commented on #1164
As a separate note - blocking someone from this issue because you don't like or don't agree with their comments is not appropriate. If any kind of moderation is needed, that should be handled by the SPDX leaders or at least be raised amongst the community. Unilateral decisions, particularly by someone who is not regularly involved in a community, is not the open source way.

[2021-02-05 19:22] jlovejoy commented on #1099
@singerjoshua - thanks for the update, will do.

[2021-02-05 19:22] #1099 closed

[2021-02-05 19:29] Mentors4EDU commented on #1164
@jlovejoy In regards to usage, I have noted it is fairly new. So far 8 publicly available projects use it + the 82 teams that signed up for the HeroX challenge I made may use it. I do hope to quality for an identifier though, because lots of cloud software that Stark Drones has as open source may by able to use the short identifier in the configs.
In regards to blocking somebody, he has replied on

[2021-02-05 19:33] Mentors4EDU commented on #1164
I also want to reiterate if accepted, the OPNL2 config can be added to many software packages that Stark Drones personally runs which would then meet the 3 requirement.

[2021-02-05 19:34] jlovejoy commented on #1164
re: blocking - you have missed my point, "If any kind of moderation is needed, that should be handled by the SPDX leaders or at least be raised amongst the community."
You made a unilateral decision, that is the part that is not appropriate.

[2021-02-05 19:37] Mentors4EDU commented on #1164
Hi @jlovejoy I do apologise in that instance. Please note he also replied in places outside of my pull request on here instead. Regardless, perhaps I should have tried raising that issue first.

[2021-02-05 19:38] jlovejoy commented on #1164
re: usage - this is the chicken/egg issue we have seen before and we understand and appreciate the desire to be able to use SPDX identifiers. However, we also need to make a call and we cannot simply accept every submission that comes through because someone says they think it will be used a lot (everyone thinks that ;)

You can always use LicenseRef as per the SPDX spec in the meantime. And re-su

[2021-02-05 19:40] Mentors4EDU commented on #1164
Hi, my worry is I have like 225 cloud repositories for tools used by alot of developers that I may want to put the identifier in if Stark Drones decided to go that route. Plus with the people already using it, although it is not alot, questions arise in regards to what happens if somebody in the future tries submitted a license w/ the OPNL or OPNL-2 tag?

[2021-02-05 20:03] jlovejoy commented on #1075
fixed by #1183

[2021-02-05 20:27] jlovejoy commented on #1109
considering this is a really old license and doesn't appear to have much use, I tend to think it's not that useful to add

[2021-02-05 20:29] jlovejoy commented on #1110
that note was not clear: action item here is to do a bit of research to see if the additional restrictions have actual use in the wild. (if not, then add as default license)

[2021-02-05 20:30] jlovejoy commented on #1111
fixed by #1175

[2021-02-05 20:30] #1111 closed

[2021-02-05 20:36] #1134 closed

[2021-02-05 20:39] jlovejoy commented on #1164
I think it's somewhat unlikely that someone would submit a license with the same identifier - while it feels like we get a lot of submissions (b/c we are woefully behind), it's not that many and not all are accepted.
You could also use something like LicenseRef-OPNL-2.0 in the meantime, which would be a nice set up for if/when later it is re-submitted

[2021-02-05 20:48] jlovejoy commented on #1164
(I need to close this, as we are trying to get caught up, but one additional comment as a lawyer and taking my SPDX hat off:

Given you have some a lot of use planned for this license, both by your company and encouraging its use by participants of some hackathons (as far as I can tell) - I would highly recommend having an experienced lawyer help you. Despite what many developers seems to think, w

[2021-02-05 20:48] #1164 closed

[2021-02-05 20:50] jlovejoy commented on #1075
closing this now, as we have  PR and that should be merged soon

[2021-02-05 20:50] #1075 closed

[2021-02-05 21:09] jlovejoy commented on #1060
oops, we need a few more details on this one, as it wasn't submitted via the form, so bits are missing:
Full name: LibGD License
Identifier: LibGD

thoughts?

[2021-02-05 21:13] bgoldring commented on #1060
Do we have any guidance/documentation on doing that? I've never done it before. Thanks!

[2021-02-05 23:00] lal12 commented on #1060
at least in the license itself they always just refer to "gd", so I guess the "lib" part doesn't have to be in the name, but "gd" and "libgd" seem to be used more or less interchangeable.

[2021-02-06 15:41] Moisan commented on #1094
I haven't seen it used in other projects but the [Fedora wiki list it as "Modification variant"](https://fedoraproject.org/wiki/Licensing:BSD#Modification_Variant). I will complete the missing information shortly, sorry about that.

[2021-02-06 15:43] Moisan commented on #1094
I cannot find any information regarding the license steward or author. What are our options at this point?

[2021-02-07 13:33] swinslow commented on #1138
Merged, thanks all!

[2021-02-07 13:33] #1138 closed

[2021-02-07 13:40] swinslow commented on #633
@goneall Since the HTTPS matching guideline has been added, and there haven't been further comments on this issue since 2019, are you good with us closing this issue? Thanks!

[2021-02-07 16:59] goneall commented on #633
FYI - The license matcher code used in the [SPDX Online Tools](https://tools.spdx.org) supports the http/s matching guidelines.

@swinslow Yes - I'll go ahead and close this issue.

[2021-02-07 16:59] #633 closed

[2021-02-07 17:45] karsten-klein commented on #1121
Hi Jilayne,

I’d argue that this case is very different. I’d regard this license as an own license. It just builds on GPL.

Cheers,
Karsten

From: Jilayne Lovejoy <notifications@github.com>
Reply to: spdx/license-list-XML <reply@reply.github.com>
Date: Friday, 5. February 2021 at 19:43
To: spdx/license-list-XML <license-list-XML@noreply.github.com>
Cc: Karsten Klein <karsten.klein@gmail.com>, Assi

[2021-02-08 02:38] #1087 closed

[2021-02-08 02:39] #1139 closed

[2021-02-08 02:44] jlovejoy commented on #1121
probably a good one to discuss on next call!

[2021-02-08 03:01] jlovejoy commented on #1060
good point. it does use "gd" in the license text itself. maybe we should ask some of the key contributors if they have a preference!
@pierrejoye - we are trying to add the license for libGD to the SPDX License List - do you have any input on full name and identifier? That is:
Full name: "libGD License" or "GD License"
identifier: "LibGD" or just "GD"

@goneall - I notice we have no license identif

[2021-02-08 03:02] jlovejoy commented on #1060
@bgoldring - see https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md
need to sort out name question first

[2021-02-08 03:15] jlovejoy commented on #1094
ok, so, we did a big addition of licenses to the SPDX License List from the Fedora "good list" back in... 2013. I recall looking at this page with all the BSD variants on it, but I don't have any records of this one in particular.
Do you happen to know if it's used in Fedora today?

[2021-02-08 03:17] jlovejoy commented on #1094
(had wrong label. I suspect we won't find the steward on this one, as I think it's old??)

[2021-02-08 03:24] jlovejoy opened #1185 "zlib-acknowledgement - add markup"
needs replaceable markup for acknowledgement text (so it can actually match to Nunit)

[2021-02-08 05:05] goneall commented on #1060
No issue - it should be fine as long is it is unique.

[2021-02-09 02:30] Moisan commented on #1094
This is the license in the [fedora package of Supervisor 4.2.1](https://koji.fedoraproject.org/koji/rpminfo?rpmID=24012723) and Fedora tagged it as "BSD and MIT".

[2021-02-09 02:31] pierrejoye commented on #1060
Good morning,

What do you mean by new "License"? The license is the same since day 1 as far as I can tell.

GD License should be good. What do you think? :)

[2021-02-09 02:34] jlovejoy commented on #1060
"new" as in a new request to add a license to the SPDX License List :)

if that works for you, then it works for us!

[2021-02-10 09:06] pierrejoye commented on #1060
Perfect then :)

Thank you for the effort!

[2021-02-14 22:00] swinslow commented on #1125
Thanks @silverhook! I assume that we should keep `ImageMagick` as a standalone license, rather than deprecating it, since prior versions of the ImageMagick license will have the old text? Or are you suggesting that we modify the `ImageMagick` markup to make "(except as stated in this section)" an optional field?

Either way, I'm not sure the new license would match to Apache-2.0, since they are us

[2021-02-14 22:19] swinslow commented on #1136
Here's the "more detailed response" I promised a while back.

In looking at whether or not to add a license to the SPDX License List, we evaluate them in light of the [SPDX license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md). Here's my quick run-down of thoughts from holding those up to this license:

**Definitive factors**: The

[2021-02-15 00:02] swinslow commented on #1161
I'm finding a number of other projects that use this same text:
* https://ptolemy.berkeley.edu/copyright.htm
* http://groups.csail.mit.edu/graphics/lapis/doc/legal/Jacl-license.html
* https://pirlwww.lpl.arizona.edu/resources/guide/software/PerlTk/Tixlic.html

The first two (and the original submission) are University of California, but the third one isn't (and uses "authors of this software" in p

[2021-02-15 01:13] jnordberg opened #1191 "New license request: BSD-3-Clause-No-Military [SPDX-Online-Tools]"
**1.** License Name: BSD 3-Clause No Military
**2.** Short identifier: BSD-3-Clause-No-Military
**3.** License Author or steward:
**4.** Comments: This license is the same license as BSD-3-Clause, except it specifies that that software is not licensed for use in a military facility.
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/license_requests/99
**7.** URL

[2021-02-15 01:16] jnordberg commented on #1191
[code]

Encountered an error when submitting this, after trying again it seems to have worked. Some info I entered is missing from this issue though.

Example projects:
 - https://github.com/greymass/anchor-link/blob/master/LICENSE
 - https://gitlab.syncad.com/hive/dhive/-/blob/master/LICENSE

[2021-02-16 14:19] swinslow commented on #1191
cc @goneall, note the error message flagged in the comment above during the license request submission process here.

[2021-02-16 19:39] freegovinfo opened #1193 "Error on new license request"
I just tried to submit a new license via https://tools.spdx.org/app/submit_new_license/ and got the following error> Please advise.

Unexpected error, please email the SPDX technical workgroup that the following error has occurred: Traceback (most recent call last): File "/spdx/src/app/views.py", line 172, in submitNewLicense statusCode = utils.createIssue(licenseAuthorName, licenseName, licenseId

[2021-02-16 20:13] goneall commented on #1193
@freegovinfo It looks like it is having trouble encoding one of the fields.  It looks like there is a [section sign](https://charbase.com/00a7-unicode-section-sign) in some of the text in the submittal which is causing the the issue.

If you could remove that, it should work.

[2021-02-16 20:23] freegovinfo opened #1194 "New license request: PD [SPDX-Online-Tools]"
**1.** License Name: US Government Public Domain
**2.** Short identifier: PD
**3.** License Author or steward: US Copyright Office
**4.** Comments: CC-PDDC was deprecated by Creative Commons several years ago. Other public domain licenses listed on spdx list are software- or data related. Therefore a simple Public Domain license focused on the published works of the US government is necessary.
**5

[2021-02-16 20:24] freegovinfo commented on #1193
yes that worked! License submitted.

[2021-02-16 20:36] goneall commented on #1193
@freegovinfo Good to hear.

I'm going to move this over as an issue in the spdx-online-tools repo to track handling these encoding issue.

Since the error occurred in the issues submittal text processing, we should be able to replace any invalid characters with either a placeholder or translation (e.g. u'\xa7' in this case).

[2021-02-16 20:40] goneall commented on #1191
@jnordberg thanks for reporting the issue.  I just restarted the server which seems to clear this issue up.

[2021-02-17 04:36] #1159 closed

[2021-02-17 04:37] #1112 closed

[2021-02-17 05:35] jlovejoy commented on #1170
@swinslow @emmanueltournier - do we have a PR for this?
is this same as #1173 ?

[2021-02-17 05:38] jlovejoy commented on #1136
+1 to add, I agree the wide use overcomes factor #2

@swinslow  - you already prepared a PR for this, correct?

[2021-02-17 05:41] jlovejoy commented on #1094
thanks for checking
yeah, Fedora categorizes permissive licenses that way, but we would give it its own identifier as per our matching guidelines

[2021-02-17 05:48] jlovejoy commented on #1161
thanks for the closer look and analysis, @swinslow ! In light of that, I'm changing my vote to +1 to add

Agree on naming of MIT-Modern-Variant - we have always tried to align with existing naming - see https://github.com/spdx/license-list-XML/blob/master/DOCS/license-fields.md , part B :)

[2021-02-17 15:42] emmanueltournier commented on #1170
@jlovejoy, sorry I am not very familiar with GitHub, but I don't think I created a PR for this so I'll look into it. And it is different from #1173.

[2021-02-18 16:54] swinslow commented on #1094
agreed @jlovejoy, +1 to add

[2021-02-18 16:58] #1006 closed

[2021-02-18 17:12] jlovejoy commented on #1170
correction this issue is about OSI-approved status only (#1173 is about adding markup)

[2021-02-18 17:12] #1170 closed

[2021-02-18 17:13] swinslow commented on #1170
will merge #1196 #1197 and #1198 once CI is running again

[2021-02-18 17:15] swinslow commented on #1133
Discussed on 2021-02-18 legal team call, no objections, agreed to add.

[2021-02-18 17:16] swinslow commented on #1136
Discussed on 2021-02-18 legal team call, no objections, agreed to add.

[2021-02-18 17:16] #1133 closed

[2021-02-18 17:17] #1136 closed

[2021-02-18 17:19] jlovejoy commented on #1185
@emmanueltournier is going to pick this up

[2021-02-18 17:20] emmanueltournier commented on #1185
Here

[2021-02-18 17:20] swinslow commented on #1185
adding replaceable text to copyright notice in section 1 of license

[2021-02-18 17:24] MarkAtwood commented on #1161
Ill take it

[2021-02-18 17:28] swinslow commented on #1094
Discussed 2021-02-18, agreed to add with identifier `BSD-3-Clause-Modification`

[2021-02-18 17:30] johnmhoran commented on #1094
I'll take this.

[2021-02-18 17:32] swinslow commented on #1094
use this as base text: https://fedoraproject.org/wiki/Licensing:BSD#Modification_Variant

[2021-02-18 18:04] jlovejoy commented on #1121
discussed on Feb 18th legal call - see minutes
this raises a couple broader questions: is this an exception and if it doesn't fit on the exception list, should it be added as a full license, even though it incorporates the full text of an existing license (which then circles back to the license inclusion guidelines)
more discussion needed on broader question to be done on mailing list, will leave

[2021-02-19 19:15] ockham opened #1200 "New license request: Python-3.something and maybe others"
Some Python-related projects (such as https://github.com/nodeca/argparse) use a [license](https://github.com/nodeca/argparse/blob/master/LICENSE) that they refer to as `Python-2.0` in their `package.json`'s (SPDX compliant) [`license` field](https://github.com/nodeca/argparse/blob/70fc26eb5a9a829d6ddcceb6b4c87802218227fd/package.json#L17).

However, that license isn't identical to what SPDX lists

[2021-02-21 21:34] landfillbaby opened #1202 "New license request: Anarchy [SPDX-Online-Tools]"
**1.** License Name: Anarchy License
**2.** Short identifier: Anarchy
**3.** License Author or steward: Lucy Phipps (submitter)
**4.** Comments: Basically a shorter, more political version of WTFPL, with an added warranty clause and only implied swearing. (That sentence alone is longer than the license itself.)
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/l

[2021-02-22 18:11] goneall opened #1203 "Continuous Integration Validation Fails on Single File delete"
If there is a single XML file deleted, the validation will fail.

This is due to the LicenseListPublisher validation running against a single file name for the file which was deleted.

This can be resolved by modifying the Makefile to check if the file is deleted before running the LicenseListPublisher.  If the file has been deleted, there is no need to run the LicenseListPublisher at all.

This i

[2021-02-22 18:17] goneall opened #1204 "Continuous integration publish optimization for single file"
Single file optimizations is not implemented for the publishing step done during the merge to master or push to master.

To implement this, the Makefile deploy needs to check if the only change is a modification or addition of an XML file and optionally the test file.  In this case, the files cloned from the license-list-data repo should not be deleted - the LicenseListPublisher will overwrite the

[2021-02-22 18:18] goneall commented on #1204
This is related to the PR #1199

[2021-02-22 18:22] goneall opened #1205 "Continuous Integration - first commit to a branch is not optimized for single files"
If a single XML file is added or modified as a first commit to a branch, the entire source directory will be verified.  This is due to not having a Git commit to base the diff from.

To fix this, the Github actions for [validate](https://github.com/spdx/license-list-XML/blob/master/.github/workflows/validate.yaml) and [deploy ](https://github.com/spdx/license-list-XML/blob/master/.github/workflows

[2021-02-22 18:32] goneall opened #1206 "Move from Makefile to Github Actions"
The Makefile for the CI process is rather difficult to maintain.  Moving to pure Github actions would enable a larger population of contributors and maintainers for our continuous integration software.

[2021-02-23 20:51] jlovejoy commented on #1202
it looks like this is only used on one project, which is the license author's project, which doesn't meet our guideline of substantial use. see https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md
also, this is not even a license, from a legal perspective.

[2021-02-23 21:03] landfillbaby commented on #1202
:)

[2021-02-28 22:09] swinslow commented on #1173
Agree, I'm +1 on making these changes via markup to the existing templates.

[2021-03-01 16:33] #1094 closed

[2021-03-01 20:35] silverhook commented on #1202
WONTFIX NOTALICENSE

[2021-03-01 21:49] swinslow commented on #1202
Agreed with @jlovejoy and @silverhook, I don't think this qualifies under the SPDX license inclusion principles, so agreed to close.

[2021-03-01 21:49] #1202 closed

[2021-03-04 14:36] robbiemorrison opened #1208 "Creative Commons IGO licenses"
The [licenses](https://spdx.org/licenses/) page currently **omits** the following valid license that would no doubt be designated `CC-BY-NC-SA-3.0-IGO` as per:

- https://creativecommons.org/licenses/by-nc-sa/3.0/igo/legalcode

The fix should be self-evident.

[2021-03-04 16:27] pmadick commented on #1054
@goneall Can we close this issue or since it is being handled as an issue in the spec?  If not, we should have a short conversation to discuss path forward.

[2021-03-04 16:52] goneall commented on #1054
@pmadick Yes - I'll go ahead and close this since the spec issue is already submitted

[2021-03-04 16:52] #1054 closed

[2021-03-04 16:55] jlovejoy commented on #1060
PR #1209

[2021-03-04 17:12] #1060 closed

[2021-03-04 17:18] jlovejoy commented on #1208
Can you please follow our https://github.com/spdx/license-list-XML/blob/master/CONTRIBUTING.md process for new licenses :) - that would be really helpful :)

[2021-03-04 17:18] swinslow commented on #1161
@jlovejoy taking to get this in before 3.12 release

[2021-03-04 17:22] robbiemorrison commented on #1208
Sure.  From my perspective, please mark this issue resolved.

[2021-03-04 17:32] robbiemorrison opened #1210 "New license request: CC-BY-NC-SA-3.0-IGO [SPDX-Online-Tools]"
**1.** License Name: Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO
**2.** Short identifier: CC-BY-NC-SA-3.0-IGO
**3.** License Author or steward: Creative Commons
**4.** Comments: The omission of this license looks like an oversight.  The CC-BY-NC-ND-3.0-IGO license is currently included, for example.  I have no idea what the OSI Status is but was forced to select "Not Submitted".

[2021-03-04 17:32] jlovejoy opened #1211 "add info on *how* to help with new licenses"
explain how to comment on new licenses - "getting started"  section in CONTRIBUTING

remove section on where/how (already in README!)

maybe move process related stuff to DOCs section?

(note changes on mailing list as well)

[2021-03-04 17:34] robbiemorrison commented on #1208
Submission via the submit **new license tool** web interface now complete.

[2021-03-04 17:38] swinslow commented on #1155
Discussed on legal team call 2021-03-04, agreed to add. @swinslow to prepare the PR.

[2021-03-04 17:43] jlovejoy commented on #1109
would be helpful to know if this is still used in Fedora - if yes, then that would point to adding it. Need to research that.

[2021-03-04 17:49] jlovejoy commented on #1125
discussed on March 4th legal call - no need for markup b/c ImageMagick was used and is different.

Add note to ImageMagick re: similarity to Apache-2.0

[2021-03-07 16:24] swinslow commented on #1085
Together with the changes by @goneall and @iamwillbar to get the CI moved from Travis to Github Actions, I think @goneall has made some changes to the setup so that on each PR it only checks the changed files.

It looks to me like this issue was for looking at some broader changes, and potentially moving away from the Makefile-based approach altogether, so I'll leave this open but am moving it to

[2021-03-07 18:40] swinslow opened #1216 "Fix badge in README to point to GitHub Actions"
The badge at the top of [the README file](https://github.com/spdx/license-list-XML/blob/master/README.md) still points to the old Travis CI system. It should be updated to reflect the status of builds from GitHub Actions instead.

[2021-03-07 18:40] #1125 closed

[2021-03-07 19:26] swinslow commented on #1104
I've been working on the markup for these changes. I've run into one error which, after staring at it for a while and trying several variations, I think _might_ be an issue with the tools rather than the markup.

I'm cc'ing @goneall for us to look at this, though since I'm hoping to push 3.12 later today I'm going to shift this issue to 3.13.

In the revised markup, I'm trying out a modified test

[2021-03-07 20:04] #1155 closed

[2021-03-07 20:18] swinslow commented on #1161
@jlovejoy, I took this one so that we could go ahead and get it in for 3.12 -- see #1218

[2021-03-07 20:19] #1161 closed

[2021-03-07 20:19] swinslow commented on #1185
@emmanueltournier I'm moving this one forward to 3.13 so that we can go ahead and get 3.12 out today. Thanks!

[2021-03-07 20:20] swinslow commented on #1208
Thanks @robbiemorrison! Closing this issue and we can review the specific request in #1210.

[2021-03-07 20:20] #1208 closed

[2021-03-07 20:50] goneall commented on #1104
@swinslow I don't see anything obviously wrong - so I also suspect the tool.

If you can point me to the source XML or the generated license template file, I'll take a look.

[2021-03-07 20:53] swinslow commented on #1104
Thanks @goneall! When you say the "source XML file" -- did you mean something different from what I linked in the prior comment, as an attachment? Here's the link again:

https://github.com/spdx/license-list-XML/files/6097797/PSF-2.0.xml.txt

It would just need to be renamed from `.xml.txt` to just `.txt` -- because GitHub wouldn't let me upload a file with filename `.xml` unfortunately...

[2021-03-07 21:03] goneall commented on #1104
It's the double quotes `"` that's tripping up the tools.  The current publisher doesn't escape the double quotes when translating to the the template rule
```<<var;name="copyrightHolder4";original=", i.e., "Copyright (c) 2001, 2002, 2003, 2004, 2005, 2006 Python Software Foundation; All Rights Reserved"";match=".*">>```

You can work around this by changing the double quotes to single quotes.

I w

[2021-03-07 21:17] goneall commented on #1104
I just tested the workaround, and it doesn't like the semi-colon either.  I'll update when I do a couple more tests.

[2021-03-07 21:31] goneall commented on #1104
OK - I was wrong on the initial diagnosis.

This is due to the semicolon after the `Python Software Foundation;`

Removing or replacing the semicolon works.

You can leave the double quotes in.

The semi-colon can be escaped with a backslash, however, I noticed that the backslash is rendered in the HTML.

See issue https://github.com/spdx/LicenseListPublisher/issues/100 for more details.

[2021-03-08 10:19] pombredanne commented on #1194
IMHO using "pd" as a key does not convey enough about the specific of this license.
I am tracking this as https://scancode-licensedb.aboutcode.org/us-govt-public-domain.html in scancode together with  several notice variants https://github.com/nexB/scancode-toolkit/search?q=filename%3Aus-govt-public-domain+path%3Asrc%2Flicensedcode%2Fdata%2Frules&type=code

[2021-03-08 17:44] alandtse opened #1220 "Json license list populated by git hash and not version number"
The `licenseListVersion` at https://spdx.org/licenses/licenses.json and https://spdx.org/licenses/exceptions.json is now populated by the git hash and not the version number.

EDIT: Current value is:
[code]

[2021-03-08 17:54] alandtse commented on #1220
Sorry, this might need to be moved to https://github.com/spdx/LicenseListPublisher

[2021-03-08 17:56] alandtse opened #1222 "Json license list populated by git hash and not version number"
The `licenseListVersion` at https://spdx.org/licenses/licenses.json and https://spdx.org/licenses/exceptions.json is now populated by the git hash and not the version number.

EDIT: Current value is:
[code]

Moved from https://github.com/spdx/license-list-XML/issues/1220

[2021-03-08 17:56] #1220 closed

[2021-03-08 18:31] #1216 closed

[2021-03-08 18:52] goneall commented on #1222
@iamwillbar Any ideas why this may no longer work?

[2021-03-08 18:55] goneall commented on #1222
I'll manually fix the github data with the correct version.

@jlovejoy @swinslow @alandtse Hold off any merges to master in license-list-XML until I finish

[2021-03-08 19:39] goneall commented on #1222
@jlovejoy @swinslow @alandtse I manually updated the license-list-data repo and reset the version to the corrected tag.  Hopefully rewriting the history doesn't trip up too many tools.

I'm not quite sure why this stopped working.  The tag was associated with the has that showed up in the log.  Perhaps someone more experienced in shell programming and Git can figure this out.

We definitely want t

[2021-03-08 19:49] alandtse commented on #1222
Don't we have a check to ensure the version number conforms if not, it should be added? It should fail the CI if the version is wrong.

[2021-03-08 20:46] goneall commented on #1222
The version number is taken from the tag.  If the License-List-XML commit is tagged, the tag will be used for the version otherwise it is the short hash of the tag.

The bug is in the CI no longer picking up the tag for some reason.

Take a look at the Makefile referenced above and let me know if you see any issues.  I don't think the code that checks the version changed, but we did change how the

[2021-03-08 21:31] goneall commented on #1222
@swinslow Could you update the license list website with the license data from license-list-data repo tagged v3.12?

[2021-03-09 00:00] swinslow commented on #1222
@goneall So, I've pulled the updated version and synced it to the website... except, weirdly, the `licenses.json` file doesn't seem to be coming through and is still showing the old version with the incorrect version number: https://spdx.org/licenses/licenses.json

Weirdly, after several re-checks I can tell that I have the correct version, with the correct v3.12 version number; and it has gotten

[2021-03-09 00:33] goneall commented on #1222
@swinslow I just looked from my local machine and https://spdx.org/licenses/licenses.json is showing the correct version number.

However, when I run the SPDX tools that read the same file, they are somehow fetching the old one - definitely sounds like caching issues.

[2021-03-09 01:44] alandtse commented on #1222
It updated for my machines so I think it's a AWS propagation issue.

Did we change the url keys to be relative? It just broke spdx-license-diff. I didn't see anything in the notes about a change there. Perhaps we should adopt [semantic versioning](https://semver.org/) so any libraries relying on the list are aware of breaking changes?

[2021-03-09 02:23] goneall commented on #1222
@alandtse Can you describe a bit more on this issue?

I'm not aware of any change that would be incompatible, but there was a major upgrade in the LicenseListPublisher which may have caused an issue.

[2021-03-09 02:58] alandtse commented on #1222
[spdx-license-diff](https://github.com/spdx/spdx-license-diff/issues/83) broke in it's update function because it's now trying to download things relative to the extension. It relies on parsing the license/exception.json for full information.

[code]
I can't know for sure without looking at an old json, but I believe the `reference` and `detailsUrl` used to be absolute urls.

[2021-03-09 03:17] alandtse commented on #1222
Also, I believe the `detailsUrl` used to reference the json and the `reference` was the html. I have a potential fix for for spdx-license-diff, but if your'e going to revert the keys back then I'll wait.

[2021-03-09 03:39] goneall commented on #1222
@alandtse This was likely caused by an unintentional side effect of changes in the LicenseListPublisher.

Looking back at version 3.11, the detailsUrl was absolute, but the reference was relative.

I'm unsure whether they should be absolute or relative.  If they are relative, it would work for the archive URLs for past versions.  If we make them absolute, the archive website would end up pointing

[2021-03-09 04:55] goneall commented on #1222
I agree - do feel free to make a pull request to enhance the CI for additional tests.

In addition, we should specify the format in the formal spec under change control.  I [added an issue to spdx spec](https://github.com/spdx/spdx-spec/issues/46) which is waiting for a volunteer.

[2021-03-10 18:35] pombredanne opened #1223 "Deprecate one of the two bzip2 licenses, they are duplicates."
Somehow there is a  patent commentary that has been (IMHO incorrectly) included in the SPDX text of https://spdx.org/licenses/bzip2-1.0.5.html and dropped out of the SPDX text of https://spdx.org/licenses/bzip2-1.0.6.html

Yet this statement is just that: a commentary and was never part of the actual license text. It just shows up in the doc and in some README such as here: https://sourceware.org/

[2021-03-10 21:29] capfei commented on #1200
I have been looking into the differences in what SPDX and OSI have listed for the Python 2.0 license and wondering if wouldn't make more sense to update Python-2.0 to what is listed on the Python site? The license in the nodeca/argparse repo is the same as the one in the Python repo, excluding the 0BSD license for docs.

https://github.com/python/cpython/blob/master/LICENSE

[2021-03-10 21:48] capfei commented on #1200
I tried to find out if anyone on the OSI license discussion list knew where the version that OSI and SPDX comes from, because I have never seen it used, and no one who responded knew. When I looked back in the Python repo history, I couldn't find it. All of the python projects I come across, use the Python license, as it was written out, at least, until 3.8.5.
https://github.com/python/cpython/blo

[2021-03-18 08:31] liuxinyu970226 commented on #1194
Note: We call it PD-USGov(-departments) on Wikimedia sites e.g. Commons.

[2021-03-18 13:14] emmanueltournier commented on #1185
@swinslow , I lookerdat the Nunit license text from here: https://docs.nunit.org/2.6.2/license.html and I think our current markup matches it. What am I missing?

[2021-03-18 21:43] ariel11 commented on #1200
@jlovejoy - would you recommend we open a new issue suggesting the SPDX "Python-2.0" be updated to this version of the license - e.g. https://github.com/python/cpython/blob/v3.8.5/LICENSE or https://www.nuget.org/packages/python/3.7.5/License?  The only difference between those two license examples is one has "2020" included in the list of copyright dates.

![image](https://user-images.githubuserc

[2021-03-19 08:00] bsdimp opened #1224 "ISC.txt incorrectly includes a specific copyright notice"
The ISC license, as reported by the ISC.txt file and published in the sister license-list-data repo

starts off:
[code]
Instead, it should start
[code]

This makes it needlessly difficult to write a program that will generate a full license from the indirect license. Consider:
[code]
Ideally the program could replace `<copyright notice>` with `Copyright 2021 The Dude Bowling, LLC` and generate:
[c

[2021-03-19 13:48] ockham commented on #1200
Thanks @capfei and @ariel11!

I've found a potentially somewhat related [past discussion](https://github.com/spdx/license-list-XML/issues/919) where it was suggested to drop the license's history from it. IIUC, people were opposed to changing an established SPDX license, and opted to create the [`PSF-2.0` license](https://spdx.org/licenses/PSF-2.0.html) instead (https://github.com/spdx/license-lis

[2021-03-19 18:50] mlinksva commented on #1224
I would love to see this change made, across all licenses. It's way easier for the casual reader to understand how to use/what to expect from a license if such a canonical representation doesn't display a specific copyright holder when substitution is expected/the only thing that makes sense.

[2021-03-24 14:27] Bo98 commented on #1222
Can you mark 3.12 as the "latest release"? https://github.com/spdx/license-list-data/releases

[2021-03-25 20:22] swinslow commented on #1222
Done -- thank you @Bo98! Ooof, I hadn't realized I'd left the release listed as "draft" and hadn't hit the "Publish" button. Thanks for flagging.

[2021-03-26 00:20] m1kit opened #1225 "Expose equivalentwords.txt to license-list-data"
I think it would be great if https://github.com/spdx/license-list-data includes [equivalentwords.txt](https://github.com/spdx/license-list-XML/blob/master/equivalentwords.txt) and we can access it on `https://spdx.org/licenses/equivalentwords.txt`.
This repository is mainly used for internal XML representation and is not intended for public use, right?

[2021-03-26 16:31] goneall commented on #1225
This could be implemented by updating the [Makefile](https://github.com/spdx/license-list-XML/blob/master/Makefile) to copy the file to the license list data website subdirectory when `deploy-license-data` goal is executed.

[2021-03-27 17:11] boringcactus opened #1228 "New license request: ACSL-1.4 [SPDX-Online-Tools]"
**1.** License Name: Anti-Capitalist Software License 1.4
**2.** Short identifier: ACSL-1.4
**3.** License Author or steward: Ramsey Nasser & Everest Pipkin
**4.** Comments: It's definitely not OSD/FSD/etc compliant, but it *is* generally usable and used by many projects. The restrictions are not what most people would call "limited", though. License stewards are nasser and everestpipkin on GitHub

[2021-04-01 15:28] jlovejoy commented on #1082
proposed draft for first paragraph:

"While SPDX endeavors to never (rarely) change the SPDX license identifiers, sometimes there has been a compelling reasons such as to accommodate improved SPDX license expressions or we have found a duplicate license. When a license is "deprecated" on the SPDX License List, it effectively means that there is an updated license identifier and the deprecated lice

[2021-04-01 16:53] jlovejoy commented on #1224
I may not be fully understanding your question/comment, but here's some info that may be helpful:
- as per the SPDX License List matching guidelines - https://spdx.dev/license-list/matching-guidelines/ - guideline 10 states that copyright notices can be ignored for purposes of matching the text of the license. This is indicated in the XML markup via the <copyrightText> tag (and which displays in r

[2021-04-01 16:55] swinslow commented on #1210
Discussed on 2021-04-01 legal team call, agreed to add. As noted CC-BY-NC-ND-3.0-IGO is already included.

[2021-04-01 16:56] emmanueltournier commented on #1210
here

[2021-04-01 17:29] swinslow commented on #1082
I like that! I would stick with "never change" rather than "rarely change" since it's that we "endeavor" not to do so. And by deprecating, we aren't really "changing" the identifiers in any case; they remain valid identifiers.

[2021-04-05 11:41] andrewshadura commented on #1194
The [Debian machine-readable copyright file format](https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/) uses `public-domain` as the short identifier for this.

[2021-04-07 09:07] silverhook commented on #1228
The license **does** seem to meet the _definitive factors_ of the [SPDX license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md).

Regarding the _other factors_ (in descending order of importance):

1. it is **not** compliant with any OSD, FSD, etc. definition, esp. through its limitation to be used only by “individuals and organizati

[2021-04-07 09:12] silverhook commented on #1082
I agree with both the last two comments :)

[2021-04-07 13:28] wgresshoff opened #1230 "New license request: CC-BY-3.0-DE"
1. License Name: Creative Commons Namensnennung 3.0 Deutschland
2. Short identifier: CC-BY-3.0-DE
3. License Author or steward: Creative Commons Corporation
4. Comments: See below
5. Standard License Header:
6. URL: https://creativecommons.org/licenses/by/3.0/de/legalcode
7. OSI Status: Not Submitted

_Comments:_
This license is often used in german universities document servers like miami (https:

[2021-04-07 13:31] wgresshoff opened #1231 "New license request: CC-BY-ND-3.0-DE"
1. License Name: Creative Commons Namensnennung - Keine Bearbeitung 3.0 Deutschland
2. Short identifier: CC-BY-ND-3.0-DE
3. License Author or steward: Creative Commons Corporation
4. Comments: See below
5. Standard License Header:
6. URL: https://creativecommons.org/licenses/by-nd/3.0/de/legalcode
7. OSI Status: Not Submitted

_Comments:_
This license is often used in german universities document

[2021-04-07 13:35] wgresshoff opened #1232 "New license request: CC-BY-NC-SA-3.0-DE"
1. License Name: Creative Commons Namensnennung - Nicht kommerziell - Weitergabe unter gleichen Bedingungen 3.0 Deutschland
2. Short identifier: CC-BY-NC-SA-3.0-DE
3. License Author or steward: Creative Commons Corporation
4. Comments: See below
5. Standard License Header:
6. URL: https://creativecommons.org/licenses/by-nc-sa/3.0/de/legalcode
7. OSI Status: Not Submitted

Comments:
This license is

[2021-04-07 13:36] wgresshoff opened #1233 "New license request: CC-BY-SA-3.0-DE"
1. License Name: Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 3.0 Deutschland
2. Short identifier: CC-BY-SA-3.0-DE
3. License Author or steward: Creative Commons Corporation
4. Comments: See below
5. Standard License Header:
6. URL: https://creativecommons.org/licenses/by-sa/3.0/de/legalcode
7. OSI Status: Not Submitted

Comments:
This license is often used in german univ

[2021-04-07 13:39] wgresshoff opened #1234 "New license request: CC-BY-NC-3.0-DE"
1. License Name: Creative Commons Namensnennung - Nicht kommerziell 3.0 Deutschland
2. Short identifier: CC-BY-NC-3.0-DE
3. License Author or steward: Creative Commons Corporation
4. Comments: See below
5. Standard License Header:
6. URL: https://creativecommons.org/licenses/by-nc/3.0/de/legalcode
7. OSI Status: Not Submitted

Comments:
This license is often used in german universities document se

[2021-04-07 13:42] wgresshoff opened #1235 "New license request: CC-BY-NC-ND-3.0-DE"
1. License Name: Creative Commons Namensnennung - Nicht kommerziell - Keine Bearbeitung 3.0 Deutschland
2. Short identifier: CC-BY-NC-ND-3.0-DE
3. License Author or steward: Creative Commons Corporation
4. Comments: See below
5. Standard License Header:
6. URL: https://creativecommons.org/licenses/by-nc-nd/3.0/de/legalcode
7. OSI Status: Not Submitted

Comments:
This license is often used in germa

[2021-04-08 04:40] jlovejoy commented on #1082
thanks @swinslow @silverhook - revised text below (with some typo/grammar issues fixed, hopefully)

"SPDX endeavors to never change the SPDX license identifiers. However, sometimes there has been a compelling reason, such as to accommodate improved SPDX license expressions or when we have found a duplicate license. When a license is "deprecated" on the SPDX License List, it effectively means that

[2021-04-08 05:51] zvr commented on #1082
I'd add a word:

[2021-04-08 14:50] swinslow commented on #1082
This is an interesting point -- I'd tend to agree with @zvr, I'd say it is the identifier that is being deprecated, not the license itself. Perhaps a nuance that doesn't matter too much but I'd go with that  :)

@jlovejoy looks good, one other tweak I would make. I think the second sentence now seems to imply that we _are_ changing the identifiers, which I don't think is correct -- we're deprecati

[2021-04-08 21:23] goneall commented on #1082
@zvr @swinslow Just for clarification, can you explain the difference between having a deprecated license ID vs a deprecated license?

I'm also wondering if we can make an assumption that there will always be another license identifier for the same license with the deprecated license ID on the SPDX license list.  In other words, we would never have a situation where we just want to no longer refer

[2021-04-09 06:22] silverhook commented on #1082
I think license identifier is a more correct term in practice, also because the “canonical” license texts/templates are still being worked on every now and again even after they have been added, while their IDs stay the same.

If that is an ideal situation, I’m not sure. But it’s more realistic.

[2021-04-09 22:55] ariel11 commented on #1104
@swinslow - is the author and date text going to be changed to colored font under the matching guidelines?  The matplotlib license is another example of what could use the SPDX "PSF-2.0," however the author and date text has been changed: https://github.com/matplotlib/matplotlib/blob/master/LICENSE/LICENSE.

[2021-04-10 02:12] scott91e1 opened #1236 "New license request: Programming-Unity-10.42 [SPDX-Online-Tools]"
**1.** License Name: Programming Unity License 10.42
**2.** Short identifier: Programming-Unity-10.42
**3.** License Author or steward: Scott McCallum
**4.** Comments: Interested to have a license in the "Hippocratic" style license that deals with LGBT, AI and Ethical issues in a clear and consise manner.  The license is based on https://blueoakcouncil.org/license/1.0.0.
**5.** Standard License He

[2021-04-12 16:58] #1225 closed

[2021-04-15 15:17] jlovejoy commented on #1082
so, updated, final text is:

_SPDX endeavors to never change the SPDX license identifiers. However, sometimes there has been a compelling reason to deprecate a license identifier, such as to accommodate improved SPDX license expressions or when we have found a duplicate license. When a license identifier is "deprecated" on the SPDX License List, it effectively means that there is an updated licens

[2021-04-15 15:47] jlovejoy commented on #1228
@silverhook - thanks for the analysis which I would agree with.

I'm also a bit concerned that the intentions of the license would be extremely hard to enforce.  If someone were to use the code it in the ways the license was intended to prevent and that challenge that in court, there are holes you could drive a truck through without thinking very hard.

While this is not explicitly one of our incl

[2021-04-15 15:50] swinslow commented on #1109
From a quick search of the old URL for the license, found a few examples of use in practice:

- https://mirror.informatimago.com/next/developer.apple.com/documentation/Darwin/Conceptual/howto/packaging_unix_for_darwin/packaging_unix_for_darwin.html (docs originally from Apple)
- http://mirror.informatimago.com/next/developer.apple.com/documentation/Darwin/Conceptual/howto/building_xnu/building_xnu

[2021-04-15 15:52] swinslow commented on #1110
I'd lean towards add as-is as a standard license identifier, and then if people request additional identifiers later for the optional restrictions, then at that point we can add them.

[2021-04-15 16:00] jlovejoy commented on #646
I'm closing this for now - we never got feedback from Google, it's really old, and it cuts into a bigger conversation about the scope of "exceptions" and what that includes. we can revisit if/when we revisit that conversation.

[2021-04-15 16:00] #646 closed

[2021-04-15 16:17] emmanueltournier commented on #1210
@robbiemorrison, now that your request has been accepted can you please submit the TXT and XML file of your license? More detail on our new license workflow: https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md .  if you can do it in the next 2 weeks your license will be included in V3.13.
Thanks very much. Emmanuel

[2021-04-15 16:21] jlovejoy commented on #1109
discussed on April 15th call - decided to add. even though it's old, it's on the Fedora Good list and FSF list. It's not clear if it's still used in Fedora, but given the totality, we will add.

@shujisado - can you prepare the PR to add this?  See https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md for instructions. If you can add it in the next couple weeks, then it

[2021-04-15 16:28] jlovejoy commented on #1110
discussed on April 15th call - decided to add as is, as per @swinslow comment

@shujisado - can you prepare the PR to add this? See https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md for instructions. If you can add it in the next couple weeks, then it will be part of the next release, 3.13, at the end of April.

[2021-04-15 16:35] jlovejoy commented on #1194
We have many times in the past discussed the concept of a general "public-domain" tag (similar to Debian's) and wrote this to clarify why this is not a good idea (from the perspective and goals of SPDX) here: https://wiki.spdx.org/view/Legal_Team/Decisions/Dealing_with_Public_Domain_within_SPDX_Files_(DRAFT)
(disregard "DRAFT" in that url1)

if the text that @pombredanne has captured is used in a

[2021-04-15 16:48] swinslow commented on #1121
Discussed on 2021-04-15 call, not currently inclined to add 0.92 because of changes in text / restrictions as well as their apparent move to 0.93.

Would be more inclined to add the old NMAP license at https://fedoraproject.org/wiki/Licensing/Nmap which appears to still be in use for the version of Nmap that is in Fedora now.

Closing this issue, but if there is a desire to add the old NMAP licens

[2021-04-15 16:48] #1121 closed

[2021-04-15 16:53] jlovejoy commented on #1168
btw, Watcom-1.0 was added to the license list in the very early days before we had license inclusion guidelines, so that it is included is not really persuasive now as we have documented inclusion guidelines

[2021-04-15 16:54] swinslow commented on #1169
@jlovejoy to reach out to Unicode

[2021-04-15 16:55] jlovejoy commented on #1168
discussed on April 15th call - declined to add for main reasons that it is entity specific, and has restrictions.

[2021-04-15 16:55] #1168 closed

[2021-04-15 16:57] swinslow commented on #1171
Discussed on legal team call 2021-04-15, agreed to approve.

@nicorikken You can proceed now with submitting a PR containing the XML and test text file to add this. The process is documented at https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md. If you are able to submit this in the next two weeks, we can add it for the 3.13 release. Thanks!

[2021-04-15 17:04] bsdimp commented on #1191
Is this a case where we use the BSD-3-clause license but add a 'with military-prohibition' like we do for gpl with system-call-exception? It otherwise seems like a verbatim text of the BSD-3-clause license (I didn't do a diff to be 100% sure), but the more odd variants that just add text at the end we have seems like a liability that the WITH clause was designed to overcome.

[2021-04-15 17:06] bsdimp commented on #1224
I think the best way forward with this is to create a pull request with my specific change to the XML file.

[2021-04-15 17:30] bsdimp commented on #1224
The one bad thing about the current license is that it still has ISC in two places. While that is fine for the matching software, ISC isn't disclaiming anything, the copyright holders are doing the disclaiming.
https://github.com/spdx/license-list-XML/pull/1237 has the pull request.

[2021-04-15 18:01] jlovejoy commented on #1211
see #1240

[2021-04-15 18:25] jlovejoy commented on #1224
see further comments at #1237

[2021-04-16 18:35] swinslow commented on #1191
Good question, @bsdimp. Typically in the past we have not done that, to add something to the Exception list for use with the WITH clause, where the modification adds a _restriction_ to the scope of the main license.

The reason for this is that the [SPDX License Exception list](https://spdx.org/licenses/exceptions-index.html) is described on that page as being for things that "grant an exception t

[2021-04-16 20:31] swinslow commented on #1224
I also added comments at #1237 -- I'm +1 on the change in that PR.

[2021-04-20 07:17] silverhook commented on #1125
Sorry for the late reply. I’m OK with the implemented solution.

[2021-04-20 07:20] silverhook commented on #1139
Sorry for the late reply. Yeah, I think amending the long names is enough. Changing short names might brake things.

[2021-04-20 07:41] silverhook commented on #993
This could just be done with templating. The NSFW variant does not change anything other than adds some colour to the language.

[2021-04-20 11:51] Aspie96 commented on #993
I agree.

Considering it's effectively a comedy license, I think most would use it in the colorful version.

[2021-04-28 11:37] latk opened #1245 "Missing paragraph in CAL-1.0"
It seems the text for the Cryptographic Autonomy License (CAL-1.0 and CAL-1.0-Combined-Work-Exception) is missing some text in section 4.1.2. The [versions on opensource.org](https://opensource.org/licenses/CAL-1.0) and in the [Holochain repository](https://github.com/holochain/cryptographic-autonomy-license/blob/2adc1d7550f1780ec5a5a3247053b801a4f31f8a/README.md) contain this paragraph which is m

[2021-04-29 15:48] #1224 closed

[2021-04-29 16:36] jlovejoy commented on #1191
discussed on April 29 call:
- this license is exactly the same as https://spdx.org/licenses/BSD-3-Clause-No-Nuclear-License-2014.html but for instead of "nuclear facility" v. "military facility" in this license
- discussion about some discomfort at having another license and that has a restriction of use and seemingly only used by one company/a limited number of people
- to be added b/c it meets i

[2021-04-29 16:39] jlovejoy commented on #1191
include a note along the lines of https://spdx.org/licenses/BSD-3-Clause-No-Nuclear-License.html

[2021-04-29 17:16] jlovejoy commented on #1228
discussed on April 29 legal call
- all agreed with the analysis and that it's too restrictive and shouldn't be added
- this license is drafted not really as a limited restriction but from a place of restriction and "only these people can use it"

[2021-04-29 17:32] jlovejoy commented on #1228
please note, you can always use LicenseRef- (see section 6 of the SPDX Spec https://spdx.dev/wp-content/uploads/sites/41/2020/08/SPDX-specification-2-2.pdf ) to identify other licenses

[2021-04-29 17:32] #1228 closed

[2021-04-29 17:33] jlovejoy commented on #1210
ping @robbiemorrison - do you think you will be able to make the PR for this in the next couple days for the 3.13 release?  Otherwise, we'll move it to the 3.14 release.

[2021-04-29 17:34] jlovejoy commented on #1171
ping @nicorikken - do you think you will be able to make the PR for this in the next couple days for the 3.13 release? Otherwise, we'll move it to the 3.14 release.

[2021-04-29 17:34] jlovejoy commented on #1110
ping @shujisado - do you think you will be able to make the PR for this in the next couple days for the 3.13 release? Otherwise, we'll move it to the 3.14 release.

[2021-04-29 17:34] jlovejoy commented on #1109
ping @shujisado - do you think you will be able to make the PR for this in the next couple days for the 3.13 release? Otherwise, we'll move it to the 3.14 release.

[2021-04-29 18:04] robbiemorrison commented on #1210
Hello SPDX folk

My apologizes for the delay.  My GitHub account is currently broken
while I sort out the two-factor authentication I was forced to adopt. 
The background details for the license are here:

  * CC-BY-NC-SA-3.0-IGO
  * https://creativecommons.org/licenses/by-nc-sa/3.0/igo/
  * https://creativecommons.org/licenses/by-nc-sa/3.0/igo/legalcode

Please move my license text contribution t

[2021-04-29 18:45] capfei commented on #1191
@jlovejoy After thinking some, would it be preferable to have BSD-3-Clause-No-Nuclear-License-2014 and BSD-3-Clause-No-Nuclear-License turned into templates so one word differences do not need their own entry?

The difference between No Nuclear License and No Nuclear Warranty is one has the word "licensed" in the last sentence and the other doesn't.

Same with this: instead of Oracle it has copyri

[2021-04-30 06:27] shujisado commented on #1109
It looks like I need to prepare an XML file with the license information and a TXT file with the license text. I haven't read the documentation exactly, so I think this process will take a few days.

[2021-05-01 23:26] bsdimp commented on #1191
I've wanted some way to parameterize license text. In most cases I've wanted this for to date, this can usually be handled by a descriptive word in the license (eg "Author" vs "$COMPANY_NAME_HERE"). This might be one case, however, where that's not sufficient, and an expansion of the standard license identifier expression may be necessary along the lines of  WITH, but using a different word. WITH,

[2021-05-04 21:07] jlovejoy commented on #1082
created PR for this in license-list-publisher repo, and @goneall and @swinslow  are aware, so I'm going to close this issue - ok?

[2021-05-04 21:54] jlovejoy commented on #1210
thanks for the update, we'll move the milestone once we do the actual 3.13 release (since we are a bit behind on that!)

[2021-05-04 22:58] jlovejoy commented on #1194
@freegovinfo or @pombredanne - do either of you have any idea as to the answer to my question above (which I'll revise to make clear)
Is the following text actually used in source code files?
[code]

[2021-05-04 23:08] freegovinfo commented on #1194
here at Stanford libraries, we’re using the SPDX list of licenses for metadata of content in our digital repository. I’m a govt information librarian and have been storing US govt publications in our repository that I come across. As of now, there’s no license on the SPDX list that conforms to US federal publications. So one of the repository managers asked me to request it. I have not seen it in

[2021-05-04 23:35] jlovejoy commented on #1191
@capfei , @bsdimp - the use of the "replaceable" text tag as per matching guideline 2.1.3 is for text that is no legally substantive. In this case, the addition of one word, "licensed" is a big difference. Saying:
"You acknowledge that this software is not designed or intended for use in . . ." is kind of like an FYI statement and really emphasizes and provides a specific example to the "as is" an

[2021-05-04 23:40] jlovejoy commented on #1191
btw, in case anyone was wondering (because I had to stop and look twice) - the difference between https://spdx.org/licenses/BSD-3-Clause-No-Nuclear-License.html and https://spdx.org/licenses/BSD-3-Clause-No-Nuclear-License-2014.html is in the disclaimer paragraph. While similar in terms of what is disclaimed, it was different enough to simply capture as two licenses. :(

I believe these were added

[2021-05-04 23:41] jlovejoy commented on #1109
ok, thanks! I'll leave it as 3.13 until we actually do the release just in case (and since we are running late)

[2021-05-04 23:42] jlovejoy commented on #1211
closing this as #1241 has now been merged

[2021-05-04 23:42] #1211 closed

[2021-05-04 23:57] jlovejoy commented on #1131
see #1250 - @swinslow - is this what you had in mind?

(separately, but related, should we add a similar statement to the IDs webpage and Appendix?)

[2021-05-05 00:00] jlovejoy commented on #1072
so, it looks like *all* the CC licenses have *no* dashes in the full name, with one exception: https://spdx.org/licenses/CC-BY-SA-3.0-AT.html

could do a PR to remove that one dash for consistency...

[2021-05-05 00:07] jlovejoy commented on #1245
yikes, good catch!

also noticed the original URL we have is now broken :( @VanL

[2021-05-05 00:13] jlovejoy commented on #1245
see #1251 and #1252

@swinslow - I think we should prioritize this for the upcoming release!

[2021-05-05 00:21] goneall commented on #1082
Yes - I think this can be closed.

[2021-05-05 00:24] jlovejoy commented on #1223
so, looking back, we apparently discussed this on Feb 20, 2014 - https://lists.spdx.org/g/Spdx-legal/message/817?p=,,,20,0,0,0::Created,,bzip,20,2,0,22080449 and the link to the article http://article.gmane.org/gmane.comp.licenses.spdx.legal/812/match=bzip  is probably what holds a key to why we came to this (meeting minutes don't have more info)
But that link doesn't work and the Wayback Machine

[2021-05-05 00:25] jlovejoy commented on #1222
@goneall @swinslow @alandtse - where are we at with this? (above my head... ;)

[2021-05-05 00:27] jlovejoy commented on #1173
did this ever get done? I don't think it did... we had PRs to add the OSI-approved tag which @emmanueltournier completed, but I think we were treating this separately?

[2021-05-05 00:30] alandtse commented on #1222
I think it's fixed and can be closed.

[2021-05-05 00:31] jlovejoy commented on #876
as there has been no more movement on this, I think we can close?
as @swinslow already pointed out, I don't think we can manually maintain this data, so unless Debian wants to contribute it (either in an automated way or by hand) I don't think this is going anywhere?

[2021-05-05 00:32] jlovejoy commented on #435
oof, this is old and pretty sure "Assuming we can get the FSF to make that recommended wording explicit" is not going to happen

[2021-05-05 00:32] #435 closed

[2021-05-05 00:36] jlovejoy commented on #716
no further comments on this for 2.5 years and considering all that's on the plate now, should we close? @goneall or @silverhook - what are thoughts since you thought it would be useful? It seems like it could get subjective to judge this very quickly, unless we use a very narrow set of requirements? (and use something other than "deprecated" since that has its own meaning in SPDX land; maybe "reti

[2021-05-05 00:37] #1082 closed

[2021-05-05 00:38] #1222 closed

[2021-05-05 06:59] jonassmedegaard commented on #876
Please don't drop this - it is a great idea.

I am sorry if my remark came across as being against such tag - I merely wanted to emphasize that Debian is canonical on what Debian decides, and it seems there was no need to worry on that.

What do folks here think is needed at the Debian side of things to be usable for SPDX?
I imagine that ideally Debian provides a machine-parsable canonical list of

[2021-05-05 08:15] silverhook commented on #716
…and ”Retired” would be defined as retired by license steward? That might work.

[2021-05-05 08:49] zvr commented on #876
I think what is missing is exactly what @jonassmedegaard specified [amended]:

The SPDX project cannot be scraping a web page published by Debian, read text targeted to humans ("Apache license", follow links to other pages (not license texts), and then identify which SPDX License Identifier each entry is about.

So, the idea is great and we are all for it, but unless upstream (the Debian project)

[2021-05-05 09:00] jonassmedegaard commented on #876
In which machine-readable formats do OSI and FSF provide their canonical data?
Perhaps simply point to the canonical machine-readable URIs?

I am already aware that ideal format is some RDF serialization as used by SPDX itself - question here is what is the minimally required for SPDX to consume Debian canonical information, which I assume should be no more strict than for OSI and FSF.

[2021-05-05 09:59] eighthave commented on #876
I'm a Debian Developer also and I think we can get this into a single JSON file
up on a Debian website.  I'm planning on working on it, unless Jonas or someone
else wants to take it on.

The data that SPDX needs is available in a machine readable format, just not in
one single, standard file.  With the debian/copyright standardization, it is
pretty easy to get the list of licenses included in Debi

[2021-05-05 10:54] jonassmedegaard commented on #876
I also think that we (Debian) can eventually provide a single canonical machine-readable file.
The approach described by @eighthave is interesting and no doubt helpful, but I think there is more to it than that: While technically possible to parse the (large) subset of debian/copyright in Debian which are machine-readable, the contents of those files do not represent the canonical truth of what De

[2021-05-05 14:38] jlovejoy commented on #716
yeah, that would be the idea, although, I'm not sure that's as easy as it sounds...

I think part of the original idea was identifying the licenses on the "Licenses that have been voluntarily retired" section here: https://opensource.org/licenses/category
But that is very few licenses.
@bkuhn  also mentions "superseded" licenses, but that is kind of a different category. And the example that spurr

[2021-05-05 14:51] jlovejoy commented on #876
Thanks all!  Here's a bit of background info re: OSI and FSF (tl;dr - it's not helpful /repeatable here) and other considerations:

For OSI - this is maintained manually (still). We added "OSI approved" early on (2011) and at that point in time, OSI wasn't really getting or approving new licenses, so it was sort of just playing catch-up and we didn't really think about automation back then. Over t

[2021-05-05 15:15] silverhook commented on #716
That’s the main issue I see as well – which is why I think the only reasonable way would be to only implement the fact  that the _license steward_ retired that (version of the) license.

On a per-project basis, I don’t see how this could work.

[2021-05-05 16:01] jonassmedegaard commented on #876
Thanks for those details, @jlovejoy

I noticed in the email announcement earlier today that SPDX is moving to Jitsi - much appreciated!
I intend on joining the meeting tomorrow. If you meant a separate meeting than that then I am open to that as well (now that an open standards meeting platform is used).
Otherwise which mailinglist would you suggest that I subscribe to for discussing this further?

[2021-05-05 17:26] jlovejoy commented on #876
the meeting Thursday is the general call which is monthly and gives an overview of what's going on with the SPDX project, plus sometimes a guest speaker. see https://spdx.dev/participate/

I meant a legal team call, which are every other week (next one, May 13th)

the legal team mailing list would be most appropriate for this conversation.

:)

[2021-05-06 02:08] VanL commented on #1245
When's the next release?

On Tue, May 4, 2021, 7:13 PM Jilayne Lovejoy ***@***.***>
wrote:

[2021-05-06 14:35] jlovejoy commented on #1245
any day now

[2021-05-07 00:14] AcaiBerii opened #1253 "Huh?"
Error when submitting a license, now all my progress is gone. oh well.

`Unexpected error, please email the SPDX technical workgroup that the following error has occurred: Traceback (most recent call last): File "/spdx/src/app/views.py", line 168, in submitNewLicense licenseRequest.save() File "/usr/local/lib/python2.7/site-packages/django/db/models/base.py", line 808, in save force_update=force_u

[2021-05-11 09:20] fu7mu4 opened #1255 "FTL.TXT is available on freedesktop.org officially"
The description of Freetype Project License in https://spdx.org/licenses/FTL.html says:
[code]

But [the freetype project](https://www.freetype.org/) says that "The git repositories at Savannah will stay as mirrors" .
I recommend bellow URL instead of http://freetype.fis.uniroma2.it/FTL.TXT written in above page:
https://gitlab.freedesktop.org/freetype/freetype/-/blob/master/docs/FTL.TXT

The abov

[2021-05-12 18:08] jlovejoy commented on #1255
thanks!

[2021-05-12 18:08] #1255 closed

[2021-05-12 18:15] seabass-labrax commented on #1255
The new URL has been added to the XML file, @fu7mu4. The link will be on the Licence List website soon! Thanks again for opening this issue :)

[2021-05-13 15:52] swinslow commented on #1223
I obviously wasn't around for the 2014 discussion  :)  But one thing I'd note is that, looking at the bzip v1.0.6 software distribution's manual, it also contained the same "patents" statement: see https://svn.python.org/projects/external/bzip2-1.0.6/manual.pdf, page 2.

I haven't done further research yet, but I'd tend to agree that either the PATENTS statement is, or is not, part of the bzip2 li

[2021-05-13 16:22] jlovejoy commented on #1072
fixed by #1257

[2021-05-13 16:25] jlovejoy opened #1258 "CAL-1.0 url"
@VanL - the original URL at https://cryptographicautonomylicense.com/license-text.html appears to be broken. Is this something that will exist and we should add an updated new one

[2021-05-13 16:25] #1245 closed

[2021-05-13 16:52] swinslow commented on #1173
I'll make the changes on this before pushing the 3.13 release.

[2021-05-13 16:54] swinslow commented on #1131
Merged in #1250, closing

[2021-05-13 16:54] #1131 closed

[2021-05-13 16:55] #1072 closed

[2021-05-13 17:47] jlovejoy commented on #1191
see #1259 , closing issue, as PR is in process now

[2021-05-13 17:47] #1191 closed

[2021-05-13 17:51] jlovejoy commented on #986
looks like the CC0 license info was added to the file some time ago - see https://github.com/spdx/license-list-XML/blob/master/package.json

@swinslow  - am I looking at that correctly? given the specific file has been addressed, I think we can close this (and should have some time ago!)

[2021-05-13 17:54] jlovejoy commented on #986
we also have #1044 - so will keep that open, reference this and close this one - as they are addressing the same issue

[2021-05-13 17:54] seabass-labrax commented on #1109
Hello! I volunteered to create the pull request at today's Legal Team meeting, in the hope that it might be included in time for the 3.13 release :)

[2021-05-13 17:57] jlovejoy commented on #1044
also see #986

[2021-05-13 17:57] #986 closed

[2021-05-13 20:18] emmanueltournier commented on #1185
@jlovejoy @swinslow , the acknowledgement text actually matches the one of the NUnit license except for the copyright years and symbols. Is that all there is to fix?

[2021-05-13 20:59] jlovejoy commented on #1185
ok, having deja vu and memory failing me at the same time, but I think this is where we are at!
we have two zlib licenses:

1) https://spdx.org/licenses/Zlib.html - which states, "If you use this software in a product, an acknowledgment in the product documentation would be appreciated but is not required." and does not have exact acknowledgement example

2) https://spdx.org/licenses/zlib-acknowle

[2021-05-13 23:57] gdgib commented on #1044
Thanks for staying on top of this.  It's a very reasonable point about the licenses themselves, but it sure makes my head hurt a little.

[2021-05-14 15:00] evancharlton opened #1261 "New license request: NLOD-2.0 [SPDX-Online-Tools]"
**1.** License Name: Norwegian Licence for Open Government Data (NLOD) 2.0
**2.** Short identifier: NLOD-2.0
**3.** License Author or steward: Norwegian Digitalisation Agency
**4.** Comments: The first version of this (NLOD-1.0) is already in the SPDX database; this is merely a request to include version 2.0 as a separate entity.
**5.** Standard License Header:
**6.** License Request Url: http://t

[2021-05-14 17:52] #1109 closed

[2021-05-14 18:06] jlovejoy commented on #1044
@gdgib - don't let it make your head hurt (even a little) - it's not worth it! ;)

[2021-05-15 22:45] swinslow commented on #1173
Hi @andrewjskatz (and cc @jlovejoy), I was about to put together a PR to add markup for these items. However, looking at them more closely from https://ohwr.org/project/cernohl/issues/50, I think a few of them don't need changes (per the SPDX matching guidelines) and the remaining one presents a problem I'm describing below.

From the link above, here are the items I see that have changed in the l

[2021-05-15 23:20] swinslow commented on #1245
@VanL 3.13 will be getting released tonight, I'm in process of pushing it now.

[2021-05-19 15:09] moedn opened #1266 "update solderpad entry"
Just wanted to use the SPDX-ID of the current [solderpad license](http://solderpad.org/licenses/SHL-2.1/) and saw that the latest entry refers to version 0.51 ([SHL-0.51](https://spdx.org/licenses/SHL-0.51.html)), while version 2.1 is available on their website, also stating `SHL-2.1` as it's SPDX-ID.

Would be great if we could update the SPDX list here. Let me know how I can help :)

[2021-05-19 17:05] seabass-labrax commented on #1266
@moedn, welcome to the SPDX Licence List repository!

Have you read the [new license workflow](https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md) page? It describes the steps to submitting a license to this list, including new versions of existing licenses.

In short, the first thing would be to submit the licence request using the [online tools](https://tools.spdx.

[2021-05-20 13:59] swinslow commented on #1266
Hi @moedn, thanks for submitting this question!

SHL-2.1 is on the SPDX list, but as an exception rather than as a standalone license. It is structured as essentially a set of added permissions / exceptions to license conditions, for use with the Apache-2.0 license. You can see this in the [SHL-2.1 entry](https://spdx.org/licenses/SHL-2.1.html) (and the full exceptions list is [here](https://spdx.

[2021-05-20 14:00] #1266 closed

[2021-05-21 15:05] sameer1046 opened #1268 "BSD 1 Clause licence text change"
The licence text is not generic for bsd 1 Clause. And contains bsd copyright.

Should be changed according to https://opensource.org/licenses/BSD-1-Clause

[2021-05-21 16:24] sameer1046 opened #1269 "Unicode License Agreement - Data Files and Software 2016"
The copyright getting year updated every year.
2016 should be changed to present

[2021-05-26 13:02] Angie3120 opened #1270 "New license request: ABST [SPDX-Online-Tools]"
**1.** License Name: angiesbuyselltrade
**2.** Short identifier: ABST
**3.** License Author or steward: Angela pugh
**4.** Comments:
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/license_requests/113
**7.** URL(s): https://angiesbuyselltrade.com
**8.** OSI Status:
**9.** Example Projects:

[2021-05-26 16:05] emmanueltournier commented on #1185
Thanks @jlovejoy I guess that makes sense. But does that mean I shoudl add <optional > or something else?

[2021-05-27 15:51] swinslow commented on #1269
Note also potentially-related discussion at #1169

[2021-05-27 17:03] anthonyronda commented on #1236
Hi @scott91e1 I'll be reviewing this according to the license inclusion principles.
I've just begun to look at it so please don't mind if it takes me a day or so to type it out

[2021-05-27 17:13] DennisClark commented on #1261
I cannot find a plain text version of this license without interspersed Comments.  If anyone can find that, please post a comment here.

[2021-05-27 17:56] evancharlton commented on #1261
I wasn't able to find it either -- I had to manually reconstruct the XML file 😞

[2021-05-27 18:37] scott91e1 commented on #1236
Thanks for the heads up.  This is my first license submission so if there are any issues or you have any suggestions to improve/tighten the language I would be happy to hear them.  Scott.

[2021-05-28 18:18] seabass-labrax commented on #1261
Welcome to this repository, @evancharlton! Thank you for opening this issue, and especially for taking the time to create an associated pull request with the XML and plain text. This will be most useful if the license submission is accepted :)

Following the [inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md) for the SPDX License List:

[2021-05-28 20:43] DennisClark commented on #1261
@evancharlton    Thanks very much for creating a usable text of this license!

[2021-05-29 06:31] evancharlton commented on #1261
Other than the email I sent a few days ago, no. I can reach out again this week (and see if I can find a better / additional points of contact to clue in). I briefly tried to find (so I could notify them) the listed steward for NLOD-1.0, but it wasn't readily apparent.

I had the same thought when I was updating the files -- I guess they don't practice [semantic versioning](https://semver.org/) in

[2021-06-10 15:12] seabass-labrax commented on #1268
Welcome to this repository, @sameer1046!

Looking at the [XML file for BSD-1-Clause](https://raw.githubusercontent.com/spdx/license-list-XML/master/src/BSD-1-Clause.xml), both the copyright statement at the beginning and the name of the software provider in the disclaimer are marked as 'replaceable'. Thus, when following the [SPDX License Matching Guidelines](https://spdx.github.io/spdx-spec/appen

[2021-06-10 15:43] swinslow commented on #1173
Hi @andrewjskatz, wanted to circle back on your thoughts about my comment [above](https://github.com/spdx/license-list-XML/issues/1173#issuecomment-841735467). Thanks!

[2021-06-10 15:54] swinslow commented on #1261
Hi all, thanks for your comments -- particularly @evancharlton for the submission and PR, and @seabass-labrax for the extremely helpful analysis under the inclusion principles!

I agree with @seabass-labrax's feedback, with one clarification. I read the "shall not sub-license or transfer this licence" a bit differently. Personally I take that to say that the licensee is free to **redistribute** th

[2021-06-10 16:08] swinslow commented on #1261
Discussed on prior legal team call and also during 2021-06-10 call; agreed to add.

@evancharlton I'll add some feedback in the PR -- thank you!

[2021-06-10 16:18] swinslow commented on #1230
Discussed on 2021-06-10, agreed to accept all six of these (I'll update the six submissions separately).  @swinslow to add some comments after this call.

[2021-06-10 16:19] swinslow commented on #1270
Closing as off-topic.

[2021-06-10 16:19] #1270 closed

[2021-06-10 16:22] swinslow commented on #1236
Discussed on 2021-06-10 legal team call (as well as call 2 weeks ago), agreed not to add at this time based on analysis of the inclusion principles.

[2021-06-10 16:22] #1236 closed

[2021-06-10 16:51] swinslow commented on #1200
Discussed in detail on 2021-06-10 legal team call, regarding some significant differences in the different versions that have been used over the years, including:

Current version from website: https://docs.python.org/3/license.html

Current version from cpython repo: https://github.com/python/cpython/blob/main/LICENSE

2001 version from cpython repo: https://github.com/python/cpython/blob/71500c8

[2021-06-10 18:18] yogurtearl opened #1273 "New License Request: COIL-1.0 - Copyfree Open Innovation License"
**License's Full Name:** Copyfree Open Innovation License
**Short Identifier:** COIL
**Source / URL:**
https://coil.apotheon.org/plaintext/00.6.txt
https://coil.apotheon.org/about/

**OSI status:** not submitted
**Certified "copyfree":** yes -> https://copyfree.org/policy

**Standard License Header:**
From https://coil.apotheon.org/notice/

**License Text**

**Who is the license author or license

[2021-06-10 23:18] scott91e1 commented on #1236
Thanks for this consideration of this new category of open source license.

I would like to understand, however, how the "SPDX: Hippocratic-2.1" was approved considering it includes "termination of this License for breach of the Human Rights Principles" and this is typically country-based and therefore would also be contrary to the "inclusion principles".

It seems that the "Programing-Unity-10.42

[2021-06-11 17:10] seabass-labrax commented on #1110
Hello @shujisado! Having created the XML and text files for `CDL-1.0`, I'm also happy to do the same for `OPUBL-1.0`. Unless you'd particularly like to make the pull request, I'll start work on this in a few days :)

[2021-06-11 21:01] capfei commented on #1200
I tried finding the source of the license via the OSI license discussion group, but those that responded weren't sure either: https://lists.opensource.org/pipermail/license-discuss_lists.opensource.org/2021-February/021916.html.

[2021-06-11 22:59] anthonyronda commented on #1236
@scott91e1 Your reply is very helpful, as this is my first ever review and it helps me understand where I could apply more care in crafting the review. I'm sorry for not being more verbose in my first review, as I'm still finding the right balance. @swinslow's remarks in #1098, copied here, also apply to your license application.

[Here is the link](https://github.com/search?q=hippocratic+license&

[2021-06-12 00:48] scott91e1 commented on #1236
Thanks for the additional information.  It's also my first license submission, so understanding the process and objectives of SPDX firsthand as a submitter is new to me.

Can the "LicenseRef-" prefix be used as the SPDX license identifier when submitting projects to PyPI.org?  I don't mind that the LGBTIQ+ license being considered an "unofficial license," but I would like to use it for my Python p

[2021-06-14 07:02] nicorikken commented on #1171
@jlovejoy @swinslow sorry, I wasn't keeping up with my GitHub notifications. I'll create a PR :+1:

[2021-06-15 03:12] anthonyronda commented on #1236
As pydigger.com seems to show, it seems PyPI allows any string in the license field: https://pydigger.com/licenses. I see a couple entries using LicenseRef-.

I understand where this misconception comes from, but the SPDX license request process does not judge licenses "official" or "unofficial." SPDX automatically accepts OSI-approved licenses, which is the only "stamp of approval" criterion for

[2021-06-15 22:37] ariel11 opened #1275 "GCC-exception-2.0 - suggestion for "replaceable text""
Thoughts on making the "Free Software Foundation" replaceable text for non FSF projects that add the linking exception, such as this one: https://www.nuget.org/packages/LibGit2Sharp.NativeBinaries/1.0.163.

They also changed one use of "file" to "library."  Thoughts on also making that replaceable text?

![image](https://user-images.githubusercontent.com/17935946/122132187-3bdab980-cdef-11eb-9951-

[2021-06-18 12:21] seabass-labrax commented on #1110
I've created the XML and text files in pull request #1276. Thanks for taking the time to open this issue, @shujisado! :)

[2021-06-23 18:42] ariel11 commented on #1200
Per @swinslow's comment above, adding some examples of components in the wild that use a license very close to the "Python-2.0" SPDX, but is not a match.

Example #1
1.	Component - https://www.nuget.org/packages/IronPython.StdLib/2.7.8.1
2.	License - https://docs.python.org/3/license.html
3.	Analysis – Ran a Word "Compare" between above license and the SPDX license text for "Python-2.0."

The CNRI

[2021-06-23 19:02] ariel11 commented on #1200
Example 2
1.	Component - https://pypi.org/project/distlib/0.3.2/
2.	License - https://bitbucket.org/pypa/distlib/src/master/LICENSE.txt
3.	Analysis – Ran a Word "Compare" between above license and the SPDX license text for "Python-2.0."

(1)	The dates in PYTHON SOFTWARE FOUNDATION LICENSE VERSION 2, Section 2 are different.  The bitbucket version has "2007, 2008, 2009, 2010" added.
(2)	The CNRI se

[2021-06-23 19:11] ariel11 commented on #1200
Example 3

1.	Component - https://www.nuget.org/packages/python
2.	License - https://www.nuget.org/packages/python/3.9.5/License
3.	Analysis – Ran a Word "Compare" between above license and the SPDX license text for "Python-2.0."

(1)	The dates in PYTHON SOFTWARE FOUNDATION LICENSE VERSION 2, Section 2 are different.  The bitbucket version has “2007, 2008, 2009, 2010,….2021” added.
(2)	The CNRI se

[2021-06-23 19:15] ariel11 commented on #1200
To summarize the three examples above - the consistent differences between the SPDX "Python-2.0" and the licenses used in the wild are as follows:

1. The dates in PYTHON SOFTWARE FOUNDATION LICENSE VERSION 2, Section 2 are different.
2. The CNRI section is different - uses the text from the "CNRI-Python-GPL-Compatible” SPDX without the click-accept language.
3. The name "Python" is "Python 3.9.5"

[2021-06-24 13:03] swinslow opened #1277 "ZPL-2.1 is now OSI approved"
http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2021-June/005205.html

Should adjust markup to flag as OSI-approved

[2021-06-24 15:16] swinslow commented on #1275
Thanks @ariel11 -- I'm +1 on making the changes shown here to make those parts of the template replaceable text.

[2021-06-24 15:19] swinslow commented on #1268
Thank you @sameer1046 and @seabass-labrax!

Given that BSD-1-Clause is on OSI's list, and since it appears OSI now lists it in the "generic" form (with "[Name of Organization]" instead of "Berkeley Software Design, Inc."), I'd be in favor of making the changes to the template to align with how OSI is displaying it.

I agree with @seabass-labrax that it doesn't have a substantive impact since it is

[2021-06-24 15:21] bsdimp commented on #1268
Using generic replaceable text makes the text product that's generated from the XML make more sense to people looking at it since the replaceability tags are gone from it. Many projects ship the text version in their LICENSE directory, so making it less confusing there is a big win, if nothing else in terms of extra silly questions about who $EXAMPLE_FOR_THIS_LICENSE is.

[2021-06-24 15:37] jlovejoy commented on #1275
agreed, this makes sense and I don't think "files" to "library" is a substantive change

[2021-06-24 15:41] jlovejoy commented on #1269
@sameer1046  - are you talking about the copyright year in the copyright notice on this license: https://spdx.org/licenses/Unicode-DFS-2016.html ?

If so, copyright notices are considered replaceable text for purposes of matching (annotated by red text in the webpage), thus a change to the copyright year doesn't matter.

The inclusion of 2016 in the license was to differentiate from the license ve

[2021-06-24 15:47] jlovejoy commented on #1273
Can you please provide any missing info that would have been submitted by way of https://tools.spdx.org/app/submit_new_license/
It's fine if you don't use the form, but we still need all the same info!
Thanks!

[2021-06-24 15:50] jlovejoy commented on #1268
fine by me too (although not a huge priority overall ;)

[2021-06-24 16:34] jlovejoy commented on #1200
discussed research @ariel11 did on June 24 call: decision to add as stack similar to what we did for Python-2.0 as it appears on https://docs.python.org/3/license.html

However, question around this language on that page:
"Starting with Python 3.8.6, examples, recipes, and other code in the documentation are dual licensed under the PSF License Agreement and the Zero-Clause BSD license."

In exampl

[2021-06-24 16:41] #1171 closed

[2021-06-24 16:47] jlovejoy commented on #1235
@wgresshoff - now that this has been accepted, could you help prepare the PR for submission (for this one and any of the others you have requested!) - see https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md

Thanks!

[2021-06-24 16:49] jlovejoy commented on #1210
@robbiemorrison - the 3.14 release is end of July - can chance you can help prepare the PR for your submission. see https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md

[2021-06-25 16:41] capfei commented on #1275
@ariel11 @swinslow Forgot to respond here. 😊  I submitted #1278 to update this. Let me know if I made any mistakes since this is my first attempt.

[2021-06-25 18:29] swinslow opened #1282 "New license request: CDLA-Permissive-2.0 [SPDX-Online-Tools]"
**1.** License Name: Community Data License Agreement Permissive 2.0
**2.** Short identifier: CDLA-Permissive-2.0
**3.** License Author or steward: The Linux Foundation
**4.** Comments: More examples of data sets using CDLA-Permissive-2.0 are listed in the LF's announcement at: https://linuxfoundation.org/press-release/enabling-easier-collaboration-on-open-data-for-ai-and-ml-with-cdla-permissive-2

[2021-06-25 18:43] swinslow commented on #1282
OK, so, I'll want to have some other folks besides me give this a review, since clearly I'm biased  :)  But to save others from doing the work, here are my thoughts on how this stands up under the License Inclusion Principles:

**Definitive factors:**
* The submitted license must not match another license already on the SPDX License List as per the SPDX matching guidelines.
  * **response**: Yes,

[2021-06-25 18:50] mkdolan commented on #1282
Looks good to me. My only additional comment would be to add to your response on 1 that this was also reviewed and approved by Creative Commons for compatibility specifically with CC-BY-4.0 and CC0-1.0. You made a reference to the blog post where the specific licenses are noted but I thought it might help to make it visible here too.

[2021-06-29 15:25] swinslow commented on #1277
Fixed with #1284, thank you @tigerswell!

[2021-06-29 15:25] #1277 closed

[2021-06-29 16:12] larsgw opened #1285 "New license request: CC-BY-NC-SA-2.0-UK"
1. License Name: Creative Commons Attribution - Non-Commercial - Share-Alike 2.0 England and Wales
  2. Short identifier: CC-BY-NC-SA-2.0-UK
  3. License Author or steward: Creative Commons Corporation
  4. Comments: See below
  5. Standard License Header:
  6. URL: https://creativecommons.org/licenses/by-nc-sa/2.0/uk/legalcode
  7. OSI Status: Not Submitted

Comments:
This license is used by the

[2021-06-30 02:47] #1110 closed

[2021-07-02 19:21] swinslow commented on #1285
From some quick Google searches, I'm seeing some other real-world uses of this particular CC variant as well, e.g.:
* https://www.doitpoms.ac.uk/vidlib/terms.php
* https://web.archive.org/web/20200217133701/http://www.flageolets.com/about/licensing.php
* https://cdn2.assets-servd.host/excited-hare/production/uploads/KS2-Soil-Exploration-Live-lesson.pdf

Given that and our usual approach to CC lice

[2021-07-02 19:22] swinslow commented on #1285
Noting also that [CC-BY-SA-2.0-UK](https://spdx.org/licenses/CC-BY-SA-2.0-UK.html) is already on the list; this would add another that additional includes the -NC property.

[2021-07-05 01:59] zfett opened #1288 "New license request: ODL-1.0 [SPDX-Online-Tools]"
**1.** License Name: OpenDocs License v1.0
**2.** Short identifier: ODL-1.0
**3.** License Author or steward: Zachary E. H. Fetters
**4.** Comments: This license does not aim to target source code/software. It's meant for documentation and specification documents. There's a clause in the 2nd section detailing how this license DOES NOT extend to any source code and/or software created utilizing the

[2021-07-08 15:45] seabass-labrax commented on #1282
from the release announcement:

ML, ML... Ah, yes - 'Machine Lawyers'. Watch out, @swinslow! ;)

On a more serious note, I'd say this license would be a good fit for the license list. As you've noted, its fulfilment of the 'substantial use' factor seems somewhat marginal as yet; that said, getting IBM and Microsoft involved is a great achievement - congratulations on that! That the licence is spec

[2021-07-08 16:17] jlovejoy commented on #1282
+1 on adding it

[2021-07-08 16:25] jlovejoy commented on #1285
discussed on July 8th call - accept to add

[2021-07-08 16:36] jlovejoy opened #1289 "document regular expression examples"
example with GCC exception where could be "give(s)?" or "give|gives" to get same outcome

might be good to have list of example of markup with explanation on where used (instead of having to find a license with similar markup to copy)

[2021-07-08 16:37] jlovejoy commented on #1289
@goneall - can you confirm we use Java regular expressions (and if so, could we link to that as reference?)

[2021-07-08 16:38] #1275 closed

[2021-07-08 16:39] #1261 closed

[2021-07-08 16:43] goneall commented on #1289
The format for Regex is [POSIX extended regular expression (ERE)](http://pubs.opengroup.org/onlinepubs/9699919799/).

The Regex format is specified in the [license template subsection](https://spdx.github.io/spdx-spec/appendix-II-license-matching-guidelines-and-templates/#spdx-license-list-template-access) of the license matching guidelines.

[2021-07-08 16:46] jlovejoy commented on #1210
ping @robbiemorrison - can you let us know when/if you can submit the PR?

[2021-07-08 16:50] goneall commented on #1289
FYI - there is a GSoC project to update the Python license matching library now known as [yalm](https://github.com/m1kit/yalm-python)(yet another license matcher).  One of the challenges we are facing in this project is how to handle more complex regular expressions in the matching.

@m1kit is the student working on this project and may propose some suggestions to avoid certain patterns in the reg

[2021-07-08 16:51] goneall commented on #1289
I'm going to assign this one to myself so I can coordinate with the GSoc project on the updates.

[2021-07-08 17:19] bsdimp commented on #1282
I'm sure that we'll start to see licenses that try to curb the whole 'read all the GPL code, create a tool that knows how to code based on that corpus, but produces code with different licenses' issue that is burning up my twitter feed...

But be that as it may, I agree this should be accepted.

[2021-07-09 09:32] AristodamusAdairs opened #1290 "New license request: pkin [SPDX-Online-Tools]"
**1.** License Name: PkIn License
**2.** Short identifier: pkin
**3.** License Author or steward: Aitzaz Imtiaz
**4.** Comments:
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/license_requests/117
**7.** URL(s): https://github.com/AristodamusAdairs/PkIn/blob/main/LICENSE
**8.** OSI Status: Not Submitted
**9.** Example Projects: https://github.com/JeffTheK/ubi

[2021-07-09 11:01] jonassmedegaard opened #1292 "New license variants: mpich2-general and mpich2-permission-only"
I argue that license `mpich2` is only really this:

I therefore propose that surrounding text be marked as optional, and maybe the `GOVERNMENT LICENSE` part be moved out as a separate license.

Reason is that some uses include only that essential part.

See https://sources.debian.org/src/openmpi/4.1.0-10/ompi/debuggers/msgq_interface.h/?hl=19#L19 and https://sources.debian.org/src/armci-mpi/0.3.1%

[2021-07-09 11:04] jonassmedegaard commented on #1292
Oh.  Now I see why it is not optional: The introduction text states all of the non-disclaimers (i.e. "the notice") and the disclaimers "must be included".

I'll reframe this issue as a request to create a new license instead...

[2021-07-09 11:11] jonassmedegaard commented on #1292
I propose to create a new license:

I.e. the essential part of the existing `mpich2` license, without the (very specific) copyright statements or government license or disclaimers.

I propose to call this new license `MIT-mpich2` to indicate both how it is an MIT-style license and that its exact wording it same as the essential part of `mpich2`.

[2021-07-09 11:17] jonassmedegaard commented on #1292
Here's how Fedora [compares](https://fedoraproject.org/wiki/Licensing:MIT?rd=Licensing/MIT#mpich2_variant) this newly proposed license to `MIT`:

(yeah, they then go on to provide the `mpich2` license content, but their comment can only possibly be about the essential part, since mandatory inclusion of a specific author certainly isn't "functionally identical to MIT")

[2021-07-14 16:02] larsgw opened #1295 "New license request: CC-BY-NC-SA-2.0-FR"
1. License Name: Creative Commons Paternité - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 2.0 France (CC BY-NC-SA 2.0 FR)
  2. Short identifier: CC-BY-NC-SA-2.0-FR
  3. License Author or steward: Creative Commons Corporation
  4. Comments: See below
  5. Standard License Header:
  6. URL: https://creativecommons.org/licenses/by-nc-sa/2.0/fr/legalcode
  7. OSI Status: Not Subm

[2021-07-14 17:22] pombredanne opened #1296 "BSD-4-Clause text is damaged"
"This product includes software developed by the the organization." is not right

[2021-07-14 17:35] larsgw commented on #618
Is the "in use" requirement specific to usage directly related to software? I am building a dataset of various books and articles with a specific topic and if they have a ported CC license I would still like to be able to refer to it with SPDX identifiers. However, although I am using the identifiers in a dataset (+ an accompanying website), the licenses themselves are used by non-software items.

[2021-07-16 19:05] akisblack opened #1298 "New license request: Fair [SPDX-Online-Tools]"
**1.** License Name: Fair License
**2.** Short identifier: Fair
**3.** License Author or steward: akisblack
**4.** Comments: This license is a very unique and permissive one that isn't too similar to any other one. It only has 4 restrictions and is, as the name suggests, really fair to both the author and the user.
**5.** Standard License Header: Copyright (C) Year Your Name <your@address>
This wo

[2021-07-19 09:33] #1298 closed

[2021-07-20 13:49] seabass-labrax commented on #618
No, usage other than in software is completely fine for fulfilling this requirement, @larsgw :) Indeed, there are emerging uses of SPDX documents in fields such as hardware, so the non-software licenses are likely to be an increasingly important part of the SPDX License List.

Sounds great! We always like to hear about how SPDX license identifiers are being used, so feel free to bring this up on t

[2021-07-20 17:26] jlovejoy commented on #1292
do you have examples where only the "permission..." line exists as the license text?

[2021-07-20 17:29] jlovejoy commented on #1296
can you provide a bit more detail as to what you think is not right and why?

[2021-07-20 17:30] #1282 closed

[2021-07-20 21:17] jonassmedegaard commented on #1292
Yes, the second example I provided above initially.
(yes, the text continues to list more licensing text, but I will argue that it is two separate licenses - first an MIT-ish license (with no trailing disclaimers) and then a separate BSD-ish license.

[2021-07-21 06:49] pombredanne commented on #1296
"This product includes software developed by `the the` organization." is not right because there is a repetition of the word `the`. I found that while running a routine scancode-toollkit scan on the license used by google-license-classifier to ensure that they would be mapped alright for https://github.com/nexB/scancode.io/pull/226

Since they use mostly SPDX I was expecting to have an exact match

[2021-07-21 15:13] goneall commented on #1296
I looked at the source for [BSD-4-Clause.xml](https://github.com/spdx/license-list-XML/blob/master/src/BSD-4-Clause.xml) and it looked correct.

I finally figured out the problem.  The test text file, which is supposed to contain the original text for the license, still includes the repeated words.

LicenseListPublisher [PR#83](https://github.com/spdx/LicenseListPublisher/pull/83) fixed a long run

[2021-07-22 16:36] #1296 closed

[2021-07-22 16:46] jlovejoy commented on #1288
this complies with the open definitions as per https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md
- but could you provide more info on the use of this license?
- Is it only used by AFIF? and if so, how extensive is that use?

[2021-07-22 16:52] jlovejoy commented on #1273
@yogurtearl - are you the license steward or author?

[2021-07-22 17:02] mlinksva commented on #1273
I'm pretty sure @apotheon is the steward/author.

[2021-07-22 19:06] zfett commented on #1288
1. Sure, my comment wasn't the clearest on its purpose. ODL-1.0 covers any and all forms of documentation, digital or physical. This can be for technical specifications, mechanical documents, instruction sheets, and more. Basically anything that serves to explain or set a standard for anything. Technically, a Creative Commons license could do this job, but I specifically wanted to create a license

[2021-07-26 16:59] Edredd7 opened #1301 "General"
All licenses listed are governed by GFDL

[2021-07-26 17:00] Edredd7 commented on #1301
Please leave comment of licenses that are opened from this source list

[2021-07-27 04:00] liuxinyu970226 commented on #1301
looks like a spam

[2021-07-27 19:24] apotheon commented on #1273
Yes, that's me.

[2021-07-27 19:56] #1301 closed

[2021-07-30 22:28] larsgw opened #1304 "New license request: CC-BY-3.0-NL"
1. License Name: Creative Commons Naamsvermelding 3.0 Nederland (CC BY 3.0 NL)
  2. Short identifier: CC-BY-3.0-NL
  3. License Author or steward: Creative Commons Corporation
  4. Comments: See below
  5. Standard License Header:
  6. URL: https://creativecommons.org/licenses/by/3.0/nl/legalcode
  7. OSI Status: Not Submitted

Comments:
This license is the main license used in https://natuurtijds

[2021-07-30 23:27] jlovejoy commented on #1169
I have attempted to reach out to someone at Unicode - will report back shortly

[2021-07-30 23:28] jlovejoy commented on #1269
I think we can close this one, as the copyright notice is not properly noted as replaceable, thus we don't need to keep updating the year

[2021-07-30 23:28] #1269 closed

[2021-07-30 23:34] jlovejoy commented on #1185
see #1305

[2021-07-30 23:49] jlovejoy commented on #1292
ok, so it looks like there are 3 variants (sigh)!
- the one Fedora captured here: https://fedoraproject.org/wiki/Licensing:MIT?rd=Licensing/MIT#mpich2_variant - which SPDX added to the license list back in 2013/14 when adding a bunch of Fedora licenses. Looks like it's still in use, as I found it here: https://github.com/pmodels/mpich/blob/main/COPYRIGHT (but we should probably add some markup for

[2021-07-30 23:50] jlovejoy commented on #1292
(marking as 3.14 - but I suspect we may need to discuss a bit more depending on the above question!)

[2021-07-31 06:30] jonassmedegaard commented on #1292
Sorry, I have no knowledge of the popularity of the license variations.

[2021-08-02 16:00] swinslow commented on #1304
Given our general approach to adding CC license ports upon request when there is evidence of some usage, I'm +1 to add this.

[2021-08-02 20:05] zvr commented on #1295
Of course, the -NC- part is against all open source definitions...
Maybe we can eventually have a "CC-" namespace for all of them ;-)

[2021-08-03 08:59] silverhook commented on #1304
+1 from me as well

[2021-08-03 13:50] seabass-labrax commented on #1304
Likewise; I am also in support of accepting this submission :)

[2021-08-03 13:54] seabass-labrax commented on #1295
I too am in support of adding this license.

[2021-08-04 13:28] xenon-dev opened #1306 "New license request: DL-DE-BY-2.0 [SPDX-Online-Tools]"
**1.** License Name: Datenlizenz Deutschland Namensnennung v2.0
**2.** Short identifier: DL-DE-BY-2.0
**3.** License Author or steward: govdata.de
**4.** Comments: Used by LGLN for open-geo-data projects
**5.** Standard License Header:
**6.** License Request Url: http://tools.spdx.org/app/license_requests/125
**7.** URL(s): https://www.govdata.de/dl-de/by-2-0
**8.** OSI Status: Not Submitted
**9.*

[2021-08-04 13:35] xenon-dev commented on #1306
Please note: This License request was submitted by me through the online tool: "https://tools.spdx.org/app/submit_new_license/", which validates the license using the ascii codec (instead of something like UTF-8). I had to manipulate the license name a bit, in order to get it trough the filtering:
The correct name, like given on the page is: "DL-DE->BY-2.0" and would also be put in like that in li

[2021-08-04 14:03] seabass-labrax commented on #1306
@xenon-dev, welcome to SPDX!

There are really three types of name when it comes to entries to the License List. There is the short identifier, the name which is shown on <https://spdx.org/licenses> and the `titleText`, which is only shown in the license text itself. It is perfectly fine if those names differ from each other, so no need for concern there!

Thank you for your new license request; I

[2021-08-05 14:11] swinslow commented on #1230
Closed by #1283

[2021-08-05 14:11] #1230 closed

[2021-08-05 14:11] swinslow commented on #1231
Closed by #1283

[2021-08-05 14:11] #1231 closed

[2021-08-05 14:12] swinslow commented on #1232
Closed by #1283

[2021-08-05 14:12] #1232 closed

[2021-08-05 14:12] swinslow commented on #1233
Closed by #1283

[2021-08-05 14:12] #1233 closed

[2021-08-05 14:12] swinslow commented on #1234
Closed by #1283

[2021-08-05 14:12] #1234 closed

[2021-08-05 14:12] swinslow commented on #1235
Closed by #1283

[2021-08-05 14:12] #1235 closed

[2021-08-05 14:25] swinslow commented on #1185
Closed by #1305, thanks @jlovejoy!

[2021-08-05 14:25] #1185 closed

[2021-08-05 14:55] jlovejoy commented on #1304
marking as accepted, as we have 3 SPDX-legal team members +1 in the comments!

[2021-08-05 15:15] #1295 closed

[2021-08-05 15:15] #1304 closed

[2021-08-05 15:36] #1285 closed

[2021-08-05 16:02] jlovejoy commented on #1273
Thanks @apotheon - mostly we just want to make sure the license steward is aware of the submission and doesn't have any objections, etc.

a quick search on Github - https://github.com/search?q=%22Copyfree+Open+Innovation+License%22&type=code - shows some use by a variety of repos, so I'm generally in favor of adding it.

[2021-08-05 16:43] swinslow commented on #1173
Hi @andrewjskatz, circling back, do you have any thoughts on the comments above?

[2021-08-05 16:43] jlovejoy commented on #1169
waiting to discuss more with rep from Unicode (sounds like the text in question *should* be included, but need a closer look)

[2021-08-05 16:47] swinslow commented on #1288
@zfett The links above don't appear to be working any longer, or at least I'm getting 404's. Are these up to date?

[2021-08-05 16:49] jlovejoy commented on #1288
including the Github group for the AFIF working group - I can't find anything about them at all!

[2021-08-05 16:54] swinslow commented on #1273
Discussed on 2021-08-05 legal team call. Noting that this request is for version 0.6 of the license, and the versions at the link from @jlovejoy above appear to be for prior versions (0.3, 0.4, 0.5).

@apotheon the following might be questions that you can weigh in on:
* Are there other projects using v0.6?
* And/or, is there a request to add prior versions 0.3-0.5 as separate entries?

For SPDX,

[2021-08-05 17:07] swinslow commented on #1194
@freegovinfo, thanks for your response. From SPDX's perspective, whether for software source code or other works like documentation, the purpose of the SPDX license list has always been centered around mapping an identifier to a single specific text that is used to express the "license" of the content. So there's been an intention in the past to avoid identifiers that would express e.g. the genera

[2021-08-05 17:14] apotheon commented on #1273
I wouldn't necessarily recommend adding versions prior to 0.6 at this time, unless maintaining historical record of prior versions in SPDX is somehow desirable for the SPDX core goals.  There are other projects using 0.6, but I don't have a catalog of them other than some of my own projects.  I'll get back to you on that, at least with links to a couple of mine.  I'll check with others who might h

[2021-08-06 01:58] mlinksva commented on #1273
Should the short identifier be `COIL-0.6`?

[2021-08-06 02:27] apotheon commented on #1273
That works for me, and fits the pattern I recall from other licenses on the SPDX list.

[2021-08-06 14:24] alejandro-colomar opened #1310 "New license request: verbatim"
Hi,

I'm trying to migrate the Linux man-pages to use SPDX markings and be REUSE compliant.  However, the most used license in the man-pages project, the "verbatim" license, doesn't appear in the list.

See <https://www.kernel.org/doc/man-pages/licenses.html>.

Could you please add it to the list?

Thanks,

Alex

[2021-08-06 15:39] seabass-labrax commented on #1310
@alejandro-colomar, welcome to SPDX!

We'd need some more information about the license to see if it fulfils the [License Inclusion Principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md) for the SPDX License List. Please could you include in this GitHub issue the same information that is asked for in our [online tools form](https://tools.spdx.org/app

[2021-08-06 19:36] alejandro-colomar commented on #1310
:-)

License's full name: `Verbatim`
Short identifier: `Verbatim`
Source / URL: <https://www.kernel.org/doc/man-pages/licenses.html>
OSI status: I don't know; probably not submitted.  DFSG-compatible (no doubt man-pages ships with Debian), although not listed on Debian's website either.
Standard license header:  None; the full text of the license is used.
License text:

[code]

Who is the license

[2021-08-06 20:09] apotheon commented on #1273
I should probably just list some projects of mine now rather than wait for others to report back on whether they have some worth sharing:

* [Droll](https://rubygems.org/gems/droll)
* [FossGit](https://fossrec.com/u/apotheon/fossgit/index.cgi/file?name=LICENSE&ci=tip)
* [q](https://fossrec.com/u/apotheon/q/index.cgi/file?name=LICENSE&ci=tip)
* [RedRug](https://rubygems.org/gems/redrug)
* [Versioni

[2021-08-08 18:53] swinslow commented on #1306
Hi @xenon-dev,

Just a comment on the license short identifier (e.g., what would appear on https://spdx.org/licenses as @seabass-labrax noted, and also in `SPDX-License-Identifier: _______` tags as described at https://spdx.dev/ids:

The valid characters for these identifiers are letters, numbers, hyphen (`-`) and period (`.`). See [Appendix IV of the SPDX spec](https://spdx.github.io/spdx-spec/ap

[2021-08-08 20:23] swinslow commented on #1310
Doing a quick inclusion-principles review on this one:

**Definitive factors**: meets all of these. Looks like the first two sentences are very close to [Abstyles](https://spdx.org/licenses/Abstyles.html) and part of [Latex2e](https://spdx.org/licenses/Latex2e), but the remainder of the license is different so this can't really use either of those IDs.

**Other factors**:

1. Yes, I'd say this mee

[2021-08-08 20:32] alejandro-colomar commented on #1310
Re: Verbatim-man-pages: yes, thay identifier seems reasonable to me.

Re: nonsensical periods: I think that's a typo in the license example text in the website, and they are not present in the license texts in the actual manual places, so you can safely remove them.

If you need me to resend the text, as present in actual pages (without the periods) I can do that

[2021-08-08 22:16] seabass-labrax commented on #1310
@swinslow, due to the factors that you described above, I am also strongly in favour of adding this to the License List :)

Regarding the bizarre punctuation, it turns out that some of the man pages do indeed contain these trailing characters. Admittedly, it is only about 0.4% of them, but I can provide [`random.7`](https://git.kernel.org/pub/scm/docs/man-pages/man-pages.git/plain/man7/random.7) a

[2021-08-08 22:20] alejandro-colomar commented on #1310
What a random coincidence :)
I hope the authors of those pages won't complain if we modify their license text by removing some random periods!

[2021-08-08 23:15] apotheon commented on #1273
info about the legal form of the COIL-0.6 license:

The current patent clause reflects changes suggested to me on an occasion a few years ago when a patent lawyer I know (a former engineer who specializes in tech/engineering patent law) looked over the license.  Apart from the comment that prompted the changes (a matter of making potential users' lawyers less nervous more than a matter of substant

[2021-08-08 23:16] apotheon commented on #1273
info about other projects using the COIL-0.6 license:

I asked around among people I know, and came up with a few projects using this
license.  Each comes with links to project and license information.

* finance-visualizer: HTML visualization tools for CSV financial data

    * [GitHub](https://github.com/pbrunner/finance-visualizer)

* libstdgb: C library for Game Boy development

    * [GitHub]

[2021-08-08 23:19] apotheon commented on #1273
(Someone let me know if I shouldn't dump so much text here.)

[2021-08-11 14:27] tigerswell opened #1315 "New license request: bzip2 1.0.8"
1. License Name: bzip2 and libbzip2 License v1.0.8
2. Short identifier: bzip2-1.0.8
3. License Author or steward: Julian Seward
4. Comments: Update of the bzip2 licenses currently on the SPDX license list
5. Standard License Header: none
6. License Request Url: (the SPDX online tool wasn't working for me for some reason)
7. URL(s): https://sourceware.org/git/?p=bzip2.git;a=blob;f=LICENSE;hb=bzip2-

[2021-08-15 11:14] tim-janik opened #1316 "QPL-1.0 Link is invalid"
The QPL-1.0 link has aged:
http://doc.qt.nokia.com/3.3/license.html

It is not reachable because doc.qt.nokia.com ceased to exist.
This looks like it is a suitable replacement link:

https://doc.qt.io/archives/3.3/license.html

[2021-08-15 15:50] seabass-labrax commented on #1316
Welcome to SPDX, @tim-janik! Thank you for bringing this to our attention, and particularly for finding a more current URL for the license! We don't remove broken cross-reference links (as they might still be useful with sites such as the Wayback Machine), but we can certainly add new ones :)

[2021-08-18 21:49] #1316 closed

[2021-08-18 21:52] jlovejoy commented on #1315
@tigerswell - I did a license-diff and the only change I could see between this and 1.0.6 is the copyright notice year, which I would not consider as a new license (or version number...)
Did you see something different?

If not, maybe we should reach out to the license steward, since there is one and point this out (and then put a note in our Note field that 1.0.8 isn't different?)

[2021-08-18 21:56] jlovejoy commented on #1310
+1 to add, so I think that makes it official

@alejandro-colomar - might you feel comfortable preparing a PR as per https://github.com/spdx/license-list-XML/blob/master/DOCS/new-license-workflow.md
:)

[2021-08-18 22:00] jlovejoy commented on #1306
I'm in favor of adding this as I think it meets the inclusion guidelines

[2021-08-18 22:10] jlovejoy commented on #1290
Hi, thanks for your license submission and welcome to the SPDX community.

I don't think this license meets the SPDX license inclusion guidelines for a couple reasons:
https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md (for references)
- it seems to be trying to place various restrictions on use and thus does not meet any of the open source definitions.
- it

[2021-08-19 02:38] tigerswell commented on #1315
@jlovejoy I did not see anything different, but since 1.0.5 also wasn't substantially different than 1.0.6, I wasn't sure how SPDX tracked nominal version changes. For contacting the steward, is the purpose to ask why there is a new version?

One of our programmers is using software licensed under 1.0.8, and they're using SPDX identifiers to track. If we make a note in 1.0.6 that 1.0.8 isn't diffe

[2021-08-19 15:17] swinslow commented on #1273
Thanks @apotheon for adding the details here! Greatly appreciated.

I'm not doing a full write-up of this license under the [SPDX license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md) at the moment, but from a quick look my view is that this license likely complies with the OSD. Given that, the license being structured to be genera

[2021-08-19 15:20] swinslow commented on #1210
Whoops -- this one was added in 3.14 via #1313, so I'm retagging it for 3.14 and closing it. Thanks all!

[2021-08-19 15:20] #1210 closed

[2021-08-19 15:27] swinslow commented on #1315
@tigerswell and @jlovejoy Good points -- note also that there's a related issue open at https://github.com/spdx/license-list-XML/issues/1223, regarding whether there should be separate entries for 1.0.5 and 1.0.6 at all.

Let's plan to discuss that one and also this one at an upcoming legal team call -- I know you are out for this one, so perhaps we'll set some time for it on the call two weeks fr

[2021-08-19 15:28] swinslow commented on #1306
I'm also +1 to adding, I think it meets the [inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md) and aligns with several other national governments' open data licenses that we've added.

[2021-08-19 15:54] tigerswell commented on #1315
Okay, thanks @swinslow

[2021-08-19 17:02] swinslow commented on #1273
Discussed on 2021-08-19 legal team call.

Some comments about curiosity on why the license has a 0.6 version number (which could be interpreted as being pre-release), but SPDX generally defers to license stewards on the versioning they choose to use. @apotheon Does the version 0.6 numbering signal that the license is still in the midst of drafting, or is the text finalized for use with this versio

[2021-08-19 17:55] apotheon commented on #1273
I'm inclined to actually bump it to 1.0 at this point, thanks to (very recent) review by a lawyer and SPDX consideration.  Is there any reason this would cause any concern or difficulty with relation to the SPDX process, or should I just declare this 1.0 to settle formal concerns over version numbering?

[2021-08-22 20:08] alejandro-colomar commented on #1310
Done :)

[2021-08-24 12:46] swinslow commented on #1273
@apotheon I'd say, once you publish it as 1.0 and confirm that the text is fixed and won't change for that version number, let's go with that on the license list and add it to the list as `COIL-1.0`. Thanks!

[2021-08-24 16:34] hoijui opened #1320 "Generated RDF files are missing requried property `licenseId`"
Here it sais, that it is a required property:
https://spdx.org/rdf/terms/#d4e3064

And here you can see that it is missing:
https://github.com/spdx/license-list-data/blob/master/rdfturtle/AFL-2.0.turtle
(It seems to be missing in all the formats, not just turtle)

The id string can be found there as the entity identifier, which is good enough for humans, but not machines.

[2021-08-24 16:42] hoijui opened #1321 "Please host the genreated RDF under https://spdx.org/rdf/licenses/"
... preferably in Turtle.

That would make it much easier to use!

As it is now, to my knowledge, there is no clean and easy way, to link to a listed SPDX license from within RDF, apart from defining it manually, or hosting your generated RDF ourselfs.

If you have a look at for example this:
https://github.com/spdx/license-list-data/blob/master/rdfturtle/AFL-2.0.turtle
you see that it specifies `

[2021-08-24 16:46] hoijui opened #1322 "schema.org prefix missing in generated Turtle RDF documents"
see for example here:
https://github.com/spdx/license-list-data/blob/master/rdfturtle/AFL-2.0.turtle

Where we see for example `<http://www.w3.org/2000/01/rdf-schema#seeAlso>` instead of `schema:seeAlso`,
which would make it more pleasant for the human eye (which is the main goal of the Turtle format).

[2021-08-24 19:04] apotheon commented on #1273
The license version number has been updated to 1.0 with no changes to license terms from the 0.6 version as shared here and legally reviewed.  No changes to the license are planned, expected, or considered at this time, and if at some point a modified version becomes desirable I do not see any reason for it to be applied without a version number change.  I believe its current form is about as good

[2021-08-26 17:40] goneall opened #1323 "Update version of the LicenseListPublisher"
A new version of the LicenseListPublisher is under development which is planned to address the following issues:

- issue #1321
- https://github.com/spdx/spdx-java-rdf-store/issues/16
- https://github.com/spdx/Spdx-Java-Library/issues/61

[2021-08-31 09:00] farislam opened #1324 "Missing required license text for GPL-2.0-with-OpenSSL-exception in cryptsetup"
Hello All,
We are facing issue with GPL-2.0-with-OpenSSL-exception in cryptsetup. We need a valid license for it.

[2021-09-02 16:18] swinslow commented on #1315
Discussed on 2021-09-02 legal team call, agreed to add markup to make bottom line replaceable text.

[2021-09-02 16:32] swinslow commented on #1223
Discussed on 2021-09-02 legal team call, Steve to contact current maintainer by email; proposal is to deprecate 1.0.5 and to add alt-text for 1.0.6 to cover the "PATENTS" statement going forward.

[2021-09-02 16:51] swinslow commented on #1310
Thank you @alejandro-colomar! Merged #1319

@seabass-labrax will add some additional formatting in a follow-up, so I'm keeping this issue open for the moment.

[2021-09-05 22:10] alejandro-colomar opened #1326 "New license (note) request: man-pages-GPL-object-code-note"
The title is something I came up with right now; feel free to improve it.  Also, I used lowercase for the first letter, as the man-pages project is named with lowercase, but if you feel that it should start with uppercase for consistency, I'm okay with that.

Many man pages that use GPL come with this note (and for those that don't come with it, it is implied anyway):

[code]

Actually, the full l

[2021-09-05 22:34] goneall opened #1327 "AFL Licenses prior to 3.0 inconsistent OSI Approved"
The Academic Free Licenses versions 1.0, 1.1, 2.0, and 2.1 are marked as OSI approved in the license list, however, these licenses do not show up on the [OSI list of approved licenses](https://opensource.org/licenses/alphabetical).

If there is agreement we should remove the OSI approved from these licenses, I can create a PR.

[2021-09-05 22:48] goneall opened #1328 "APSL license versions 1.0 and 1.1 inconsistent OSI approved information"
APSL-1.0 and APSL-1.1 are marked as OSI approved, however, the OSI website only lists APSL-2.0 on their website.

[2021-09-05 22:48] goneall commented on #1328
I can create a PR to fix if there is agreement the OSI Approved attribute should be set to false for these licenses.

[2021-09-07 13:21] seabass-labrax commented on #1327
A quick grep of the OSI's [license-discuss](http://lists.opensource.org/pipermail/license-discuss_lists.opensource.org/) and [license-review](http://lists.opensource.org/pipermail/license-review_lists.opensource.org/) mailing list archives doesn't yield even but a mention of older versions of the AFL, let alone an approval status! The `isOsiApproved` field in the source files also predates our mov

[2021-09-07 13:26] seabass-labrax commented on #1327
The Wayback Machine (following the `crossRef` links in our XML files) seems to indicate that the OSI *had* approved the earlier versions, but after each new release of the license had removed any mention of the previous version by overwriting their webpage.

The plot thickens! :)

[2021-09-08 02:47] goneall commented on #1327
That is interesting.  There are other licenses on the OSI website where they maintained the previous versions.  I wonder why the difference?  Is this a conscious decision by the OSI to drop support of the previous versions of the license and we should update our OSI flag in SPDX, or is this just an artifact of how they are maintaining their website?

If anyone has a contact at OSI - it would be in

[2021-09-08 04:12] vmbrasseur commented on #1327
I've emailed the l-d list asking for information. If that doesn't work then maybe contacting Pamela or Fontana directly could help.

[2021-09-08 11:00] seabass-labrax commented on #1327
Thank you, @vmbrasseur! It seems the OSI's API doesn't mention the
earlier version either; I'm very intrigued to hear their response on the
list.

[2021-09-09 02:29] goneall commented on #1327
@vmbrasseur Thanks for update!

So, based on this, should we remove this OSI approved from the AFL licenses prior to 3.0?

[2021-09-09 18:05] vmbrasseur commented on #1327
These licenses are probably still out there in the wild, so removing might not be the right approach. Do we have a process for handling superseded licenses?

[2021-09-09 19:42] seabass-labrax commented on #1327
In general, we wouldn't want to remove them from the SPDX License List
altogether; in this case it's more whether or not the 'OSI-approved'
metadata is appropriate for these older licenses. I think I would
personally lean towards leaving them listed as OSI-approved: Larry
confirmed that they were at one point approved, and I haven't come
across any announcement to say that the approval status was

[2021-09-09 19:54] vmbrasseur commented on #1327
+1 to leaving them as-is, unless we have a way to mark them as superseded in which case do that. (I confess I haven't looked into it yet)

Generally in favour of covering it on the next call, with the caveat that Thursday the 16th is the day of OSI's POSI conference so I won't be at the Legal Team meeting that day. Thankfully, though, I'm not required for this conversation. :-)

[2021-09-10 08:22] alejandro-colomar commented on #1310
We are discussing in the linux-man@ mailing list about renaming this license tag to `Linux-man-pages-copyleft` (or some other proposals), since the term "Verbatim" doesn't represent very well the license text.

See <https://lore.kernel.org/linux-man/8b513d06-3e9e-3d2f-6217-07bf2fa3765c@gmail.com/T/#m375aa0483debfd97a481e95dee57c4059cae9cb7>.

[2021-09-10 23:31] jlovejoy commented on #1310
hi all - do I understand that we have already merged this, but we are also still kind of waiting to have a final decision on a name (given the above link)? In which case, should we have merged already? We certainly don't want it to look like short ids are changing even if it's not yet in an official release

[2021-09-10 23:34] jlovejoy commented on #1290
thanks! maybe use a license that already exists!!  ;)

[2021-09-10 23:34] #1290 closed

[2021-09-13 15:04] jlovejoy opened #1332 "New License: Jam"
This has been OSI-approved: http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2021-September/005216.html

License text:
License is hereby granted to use this software and distribute it freely,
as long as this copyright notice is retained and modifications are
clearly marked.

ALL WARRANTIES ARE HEREBY DISCLAIMED.

[2021-09-13 15:13] jlovejoy commented on #1332
best I can find for a URL is: https://web.archive.org/web/20160330173339/https://swarm.workshop.perforce.com/files/guest/perforce_software/jam/src/README

recommending:
Full name: JAM License
short identifier: JAM

[2021-09-13 15:15] jlovejoy commented on #1332
also see: https://github.com/gorlak/Jam for something current, not dependent on Wayback Machine

[2021-09-13 17:11] latk commented on #1332
The license is not yet OSI-approved. The quoted email is merely a “recommendation of the License Committee to the Board”, but the OSI Board will very likely pass the approval as recommended.

[2021-09-14 23:30] jlovejoy commented on #1310
right... well, it's merged, but not part of an official release yet (3.15) and thus, not published on website yet

@swinslow, @goneall  - what do you think about changing an SPDX id in this period? (given we try to not change them)

[2021-09-15 00:41] goneall commented on #1310
@jlovejoy really good question.  In my opinion, it would be OK to change it before a release.  Once released, however, it should never change.

There may be some who are watching the license-list-data repo and using the data as it merged that my get tripped up by this, however.  My personal opinion is that you should not depend on the data until it is released.

@swinslow curious about your though

[2021-09-15 07:59] g4s8 opened #1333 "New license: Oracle No-Fee Terms and Conditions (NFTC)"
Oracle changed license for OracleJDK to TFTC, see https://blogs.oracle.com/java/post/free-java-license

A new license is published here: https://www.oracle.com/downloads/licenses/no-fee-license.html

[2021-09-15 21:23] srl295 commented on #1169
@jlovejoy I sent you a note from Unicode in response

[2021-09-15 21:43] srl295 commented on #1169
We also noticed https://opensource.org/node/1077 which has some formatting issues.

[2021-09-16 15:53] jlovejoy commented on #1332
@latk  - thanks for the clarification! We'll wait for official approval!

[2021-09-16 16:00] jlovejoy commented on #1327
oh dear, I didn't see this lengthy discussion until now. We (well, mostly me from the SPDX side and a few people on the OSI side) spent a lot of time covering this topic when we were ensuring SPDX had *all* OSI-approve licenses on the SPDX License List way back in 2011. This issue of older licenses no longer appearing on the OSI site came up a few time (for these licenses and others) and the answe

[2021-09-16 18:22] goneall commented on #1327
Based on @jlovejoy description above, it looks like we leave this as is and close this issue.

OSI is re-activating a project to maintain a machine readable version of their list of OSI approved licenses. I've added an [issue ](https://github.com/OpenSourceOrg/licenses/issues/66) for their repo to include previous versions of AFL and closing this issue.

If I get feedback from OSI that they are no

[2021-09-16 18:22] #1327 closed

[2021-09-18 07:38] pombredanne commented on #1326
Does this change anything about the GPL or is this just a clarification note in a specific context? are these extra terms?

[2021-09-18 08:19] pombredanne commented on #1324
Can you clarify what you mean?

FWIW, there are two exceptions in use:
- to GPL https://gitlab.com/cryptsetup/cryptsetup/-/blob/master/COPYING#L342
- and to LGPL https://gitlab.com/cryptsetup/cryptsetup/-/blob/master/COPYING.LGPL#L505

in any case this would be an exception and not a new license.

[2021-09-18 08:32] pombredanne commented on #1310
@jlovejoy  I am all for it until released. That's why there are releases.

And in particular, why using a `man-pages` references in this id? I reckon it was seen in man pages, but the license references only a "manual" not man pages which would be a specific format. It feels weird to reference a format in the id of a license.  `Verbatim-manual` would be a better id IMHO.

[2021-09-18 11:28] alejandro-colomar commented on #1326
Just a clarification note in a specific context

[2021-09-18 13:31] pombredanne commented on #1326
@alejandro-colomar My 2cents: if this is `Just a clarification note in a specific context.` I wonder if it deserve having its own exception id.

[2021-09-18 14:23] alejandro-colomar commented on #1326
How would you do it then?

[2021-09-23 06:12] hoijui opened #1335 "Generate a minimal repo"
... meaning: A repo that contains just a text file with the license IDs (one per line) - and _maybe_ one like that with the exceptions.

The reason to have such a repo, is so it can easily be used as a sub-module in other projects, which need to perform a basic validity check on license identifiers. For example, I am writing a small command-line tool that checks certain meta-data/build files, if t

[2021-09-23 08:34] silverhook commented on #1335
Something like this would be useful also for [REUSE](https://reuse.software) – whether within SPDX or to collaborate on (CC @mxmehl)

[2021-09-23 14:23] seabass-labrax commented on #1335
I really like this idea, @hoijui - I'm always a fan of reproducible builds, and you've got a great point about using a Git submodule for this :) Any change that also improves REUSE is bound to be a good thing! @silverhook, are you imagining that this could replace the hard-coded `licenses.json` file in the REUSE Python tool?

As an alternative to a separate repository, we could also create a new b

[2021-09-23 15:38] silverhook commented on #1335
I’m not the right person to answer that. I would defer this to @mxmehl and @carmenbianca. Just a thought because such a thing was discussed before.

[2021-09-23 15:45] goneall commented on #1335
The [license-list-data](https://github.com/spdx/license-list-data) repository has several folders representing different data formats used by different tools.

There is currently a [text folder](https://github.com/spdx/license-list-data/tree/master/text) which is similar to this request.  The files are named using the exception and license ID's with a ".txt" extension.

Can this folder be used to

[2021-09-23 16:37] silverhook commented on #1335
AFAIK, that is currently the place where the `reuse` tool pulls the license texts from to put in the `LICENSES/` folder, yes.

Personally, I would prefer that continuing to be the case, but once or twice it was brought up (esp. in the LGPL-3.0 + GPL-3.0 text discussion, which let’s not discuss in this issue) whether that folder is intended to be re-used for simple matching or as actual license tex

[2021-09-23 16:50] goneall commented on #1335
Completely agree on not discussing - we've discussed that one enough - but I can understand why the issue was raised

That's a good question for the legal team.  I can provide information on where the text originates, but I'll leave the purpose and use to the larger legal community.

The text found in the above mentioned folder is an exact copy of the [license test text](https://github.com/spdx/li

[2021-09-23 17:08] silverhook commented on #1335
Unfortunately I have a hard time joining SPDX in the past years, since they clash with some internal (MMO-)calls at work :/

I think between the XML templates in `license-list-XML` and the `license-list-data` we should be able to cover both the use case for matching for license scanners and the use case as a repository of (quasi-)canonical license texts reuse.

[2021-09-23 17:25] hoijui commented on #1335
the reason I do not want to use the https://github.com/spdx/license-list-data repo, is this:

[code]

[code]

The repo I am proposing would probably be in the ballpark of (wild guess) 1KB - 10KB.

If my tiny CLI project depends on a 234MB sub-module just for a list of a few hundred short strings, that would feel wrong to me. I might be able to live with the 6MB, even though it is still ~10 times t

[2021-09-23 17:43] silverhook commented on #1335
@hoijui Why don’t you just shallow clone? https://stackoverflow.com/a/1210012

Again, regarding how the `reuse` tool itself works and why, I’m not the right person to ask – @carmenbianca and @mxmehl would be the better people for that.

[2021-09-23 18:02] hoijui commented on #1335
That changes the size to 25MB and 2.5MB respectively. 2.5MB is better then 6MB.
It is still 4 times as big as my project, and I don't know if it could be applied for everyone for a submodule, without having to tell people to manually shallow clone.

[2021-09-23 19:11] zvr commented on #1335
Of course, to actual check a license identifier, one should also specify which version of the License List should be consulted, so you want to also have the information when each identifier was introduced, etc. etc.

[2021-09-23 19:39] seabass-labrax commented on #1335
@hoijui, could you try running `git clone --depth=1 -b simple-list https://github.com/seabass-labrax/license-list-data`?

[2021-09-23 21:14] mlinksva commented on #1335
This might be a tangential observation, but FWIW the files in license-list-XML and license-list-data (the text directory anyway) aren't 1:1 which is a minor annoyance (to get to a common set of files with the same names, munging is required), including at least:

- XML has exceptions in a subdirectory, text doesn't, and not all exceptions have exception in the filename
- text has a bunch of deprec

[2021-09-24 05:27] silverhook commented on #1335
Those are really good points. If all files (if at all possible) had the SPDX ID as their basename, that would make things easier.

[2021-09-24 06:44] hoijui commented on #1335
[code]

That is how I imagined it, thank you @seabass-labrax ! :-)

So it does work as a separate branch in the same repo when cloning it manually. Still, I would not know how to use that in practice as a sub-module, without manual extra steps for everyone working on the project.

[2021-09-24 10:32] mxmehl commented on #1335
I was told that one should "never change a running system", and the current workflow of the REUSE helper tool works well. It's a very lightweight procedure for us devs to update the licenses/exceptions:

https://github.com/fsfe/reuse-tool/blob/master/Makefile#L124-L129

So unless there are really good reasons for the tool to switch this behaviour, I'd prefer to not touch it.

[2021-09-24 19:10] goneall commented on #1335
Good point.  Many of the data formats and file naming conventions used in the license-list-data repo were requests made by people writing tools that use the license data.  Any change in these formats are likely to break at least one tool.

Even though I agree that the naming isn't consistent and there are probably better ways to organize the data, I would suggest we leave it as is unless there is

[2021-09-24 19:16] goneall commented on #1335
@hoijui I would suggest you only use released versions of the license-list-data.  They are all tagged, so you can just find the most recent release tag to use.

If you are using the master branch, you will have the very latest processed version of the license-list-XML repo which is subject to change.  For example, we recently decided to change the SPDX ID of a submitted license.  If you happened t

[2021-09-24 20:40] hoijui commented on #1335
Thanks for that info... I did not think about that yet. :-)

I think the way that makes most sense, is to initially generate a commit for .. maybe the last few release versions, and then for each commit (that affects the files we end up generating for "my" minimal data repo), plus for each coming release. we could then have a develop branch, tracking upstrema master, and a master branch, as the re

[2021-09-26 05:49] g-branden-robinson commented on #1310
I've submitted a PR for the rename.

https://github.com/spdx/license-list-XML/pull/1336

[2021-09-26 05:55] g-branden-robinson commented on #1310
"man-pages" refers to the name of the originating project; it's not a reference to the documentation format per se, although the project has, to date, restricted its mission to the production of man pages.  "Verbatim" is a poor choice of terminology for reasons Alex and I discussed on the linux-man mailing list (there's a URL in my PR).  Briefly, it is difficult for a person to infer the right to

[2021-09-30 07:36] oggdrasil opened #1337 "About "FSF Free/Libre" licenses"
The "FSF Free/Libre" field in the [SPDX License List] is misleading.

In [Explanation of SPDX License List Fields]:

This explanation is incorrect.

Whether or not a license is considered "free" by FSF, should not be determined by whether the said license is mentioned in that page. As said in the page, it does not contain a complete list of free software licenses:

Instead, the license should be c

[2021-09-30 08:10] zvr commented on #1337
You are correct that the explanation is not ideally phrased.

We should be more explicit, like:

[2021-09-30 15:45] swinslow commented on #1333
Thanks for the submission, @g4s8.

For licenses that are requested to be added to the SPDX License List, we evaluate them according to the [License Inclusion Principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md).

From a quick look, I'm inclined to say that the Oracle NFTC would likely _not_ qualify under the inclusion principles, particularly looki

[2021-09-30 15:50] swinslow commented on #1328
Interesting... I don't know the history on this, but from a web search I came across a related discussion from 2012, it looks like:

https://lists.opensource.org/pipermail/license-discuss_lists.opensource.org/2012-May/017777.html

That appears to reference (but not clearly link to) archival evidence that at least -1.2 was OSI-approved at some point in time.

I haven't had a chance to read that thr

[2021-09-30 16:00] swinslow commented on #1326
Identifiers that will be used in a "WITH" expression are intended to go on the [SPDX Exceptions List](https://spdx.org/licenses/exceptions-index.html). Currently, that list is intended for exceptions that "grant an exception to a license condition or additional permissions beyond those granted in a license."

For this note, I don't think it's unarguably clear that it grants an exception or an addi

[2021-09-30 17:43] goneall commented on #1337
With https://github.com/spdx/LicenseListPublisher/pull/120, we will be adding  "N" to the column.  We may want to use the following description for the next release of the license list:

[2021-09-30 22:57] goneall commented on #1328
Thanks @swinslow - very useful history!

My reading of the thread is that they are very likely OSI approved, so we probably should not change the SPDX license list OSI approved for any of these licenses.

Ideally, OSI would make the OSI approved status for these earlier versions of APSL clear on their website, but based on https://github.com/OpenSourceOrg/licenses/issues/66 discussions, this may n

[2021-10-01 18:05] oggdrasil commented on #1337
@goneall

The new description may be more precise, but that still doesn't correctly explain "FSF Free/Libre".

As the list is _not_ a complete list, not being listed as free/nonfree there does not necessarily mean that a license is indeed nonfree/free. While the terms "free" and "nonfree" are mutually exclusive by definition, having values "Y" "N" and blank on field "FSF Free/Libre" can make it mo

[2021-10-01 18:35] goneall commented on #1337
@oggdrasil I'm a bit confused about this issue.  Are you asking the SPDX organization to take on the task of judging which licenses are FSF free and which licenses are not or are you asking that the definition be accurate to what the data represents?

@jlovejoy Bringing you into this issue since it may need to be resolved in one of your upcoming legal team meetings.

[2021-10-01 20:42] seabass-labrax commented on #1337
@oggdrasil, how about we add a question mark for all licenses not on the FSF's license list, and leave no spaces blank? That is:

- **`Y`** - is on the FSF's list and in its free section
- **`N`** - is on the FSF's list and in its nonfree section
- **`?`** - is not on the FSF's list

Clearly we would then update the documentation to explain this.

[2021-10-01 20:52] seabass-labrax commented on #1333
@g4s8, thanks for opening this issue and welcome to @spdx! We always appreciate new licenses being brought to our attention.

That said, this license seems to be outside the scope of the SPDX Licence List for the reasons that @swinslow described above. Users of OracleJDK who want to create SPDX bill of materials can still do so using [the `LicenseRef-` prefix](https://spdx.github.io/spdx-spec/othe

[2021-10-01 21:18] jlovejoy commented on #1337
hi all,
Let me provide a little background on this field and also clarify what SPDX does and doesn't do.

We added this field at the request of the FSF - which was to have a column that indicated if they have identified a license as "free" based on their list or not (only these two variants). We/SPDX did the comparison of the licenses found on the FSF website to the SPDX list to match them up, but

[2021-10-03 23:55] pchestek commented on #1328
If the license is under "superseded," it was previously approved but there is a newer version of the license. But the "superseded" version remains approved, to the extent it is still used by anyone.

[2021-10-05 10:30] hoijui opened #1339 "Per license meta-data: is it strong/weak/not at all copyleft"
This meta-data seems not to be present in the XML files here. Would you like to have it there, or do you say, it does not belong into this repository?
And if the later, do you know where such info can be found (under an open license), in a machine readable format?

[2021-10-05 13:49] seabass-labrax commented on #1339
In general, SPDX doesn't document the legal interpretation of licenses, such as the type of copyleft it could be categorised as. This repository is probably not the right place for that kind of information (which is often subjective in the more controversial cases), but there's certainly a case for databases that associate this kind of metadata with SPDX License Identifiers!

The European Commissi

[2021-10-05 14:05] seabass-labrax commented on #1335
I did it manually; although it is certainly possible to do it with a CI job. The only thing that needs to be done manually is creating the branch - it starts with an orphaned commit to keep the download size low.

In any case, would having pre-release license identifiers be useful? Having one commit per release would save some effort and complexity by not having to set multiple tags when releasing

[2021-10-05 14:36] moedn commented on #1339
Also couldn't find anything online. I started a CSV [here]() and will convert it to JSON later. Hopefully 1) we can import from the EU source and 2) this can be useful for others as well :)

[2021-10-06 15:41] hoijui commented on #1339
hmm...
As GitHub has such meta-info about licenses ...
We could make a repo, and commit each license text of the licenses in SPDX as the `LICENSE` file.
Then we can download the HTML of the lience info page of that project from github, for each commit, parse it, and... voila.. we'd have st.. gathered the data!

[2021-10-06 16:15] moedn commented on #1339
@hoijui it does; presumingly the frontend doesn't render the full information. CC0 has no copyleft mechanism, so they don't list it under `conditions`

see this for GPLv3

![image](https://user-images.githubusercontent.com/45949491/136242969-58a653a8-b35e-4fb3-a20d-d5f6833131f4.png)

[2021-10-06 16:36] goneall commented on #1339
On the [OSS Compliance Tooling Workgroup](https://groups.io/g/oss-based-compliance-tooling) call today, the [double open policy configuration project](https://github.com/doubleopen-project/policy-configuration) was discussed.

In looking at the files, it has a nice, [machine readable YAML file](https://github.com/doubleopen-project/policy-configuration/blob/main/license-classifications.yml) with l

[2021-10-07 07:28] hoijui commented on #1339
Cooool!! :-)
thanks a lot @goneall !
Do you think it makes sense to document this somewhere ... is there an SPDX FAQ or something similar,
or is this issue enough?

As SPDX is kind of natively RDF, it would be nice to have this data in RDF format as well, not just YAML. Do you know if there is a plan to do that and host it, by the _double ... project_?
If not, I could write a conversion script, ad

[2021-10-07 10:27] zvr commented on #1339
As @seabass-labrax said above, such information is definitely not suitable for the SPDX project, since it's about legal interpretation.

If you were to embark on such a project (and there have been more than a handful in the last decades) you also have to precisely define the terms _copyleft_, _strong_, _weak_ (and others) since there is no universally accepted definition. And then you discover li

[2021-10-14 03:18] samth opened #1340 "New license request: SchemeReport [SPDX-Online-Tools]"
**1.** License Name: Scheme Report License
**2.** Short identifier: SchemeReport
**3.** License Author or steward: Probably written by William Clinger
**4.** Comments: This license has been used for the Scheme standard reports since the Revised Revised Report on Scheme in 1985, up through the most recent R7RS. It was likely the source of the Haskell Report License, with which it shares substantial

[2021-10-14 15:28] jlovejoy commented on #1337
given we are in the process of sorting out by way of getting input from the FSF as to what to do with this field (ideally, have it be complete and maintained by them, or remove it so we are no longer showing something that is not complete) - should we close this issue for the time being, as we'll have an update on this overall topic in the next month?
@goneall

[2021-10-14 15:39] jlovejoy commented on #1321
@goneall - can we close this issue here, as you have "moved" it to the LicenseListPublisher repo?

[2021-10-14 16:03] goneall commented on #1337
@jlovejoy Let's close this once PR #1338 is merged in.  We might as well improve the description while we're awaiting the meeting and updates from FSF.

BTW I did make a suggested change to the PR.

[2021-10-14 16:53] jlovejoy commented on #1288
given we have not gotten a response and the links are no longer working, we will close this

[2021-10-14 16:57] jlovejoy commented on #1306
@xenon-dev - see comment above on the short identifier - just want to make sure you are aware and then we can add it!

[2021-10-14 17:05] mkdolan commented on #1332
This appears to be a project that ended in 2014. "The company announced that version 2.6 released in August 2014 was the last Perforce Jam release." The github link from @latk appears to be someone's personal fork of the project that Perforce took down.

Does this meet the license inclusion principles?

https://en.wikipedia.org/wiki/Perforce_Jam

[2021-10-18 02:06] swinslow commented on #1310
@goneall @jlovejoy Apologies for slow response. Reading through this, yes, I'm +1 with the idea that we'll be open to changing IDs as long as a merged ID has _not_ yet been in a release, or appeared on the public [license list page](https://spdx.org/licenses).

Once it's in a release and lands there, I think that makes sense as the point in time when our position of "we'll deprecate but we never e

[2021-10-18 17:21] #1315 closed

[2021-10-20 14:45] zvr opened #1344 "New license request: Community-Spec-1.0"
1. License Name: Community Specification License 1.0
2. Short identifier: Community-Spec-1.0
3. License Author or steward: [Joint Development Foundation](http://www.jointdevelopment.org)
4. Comments: Used for spec writing, including SPDX :-)
5. Standard License Header:
6. License Request Url: _manually submitted as in issue_
7. URL(s): https://github.com/spdx/governance/blob/main/1._Community_Spec

[2021-10-21 21:16] hoijui commented on #1335
sorry for the late answer @seabass-labrax.
I would go for a separate repo, again, because git and all its workflows and sub-module stuff .. are just not made, to deal with parts of a repo. That is the reason from my side, and for the SPDX guys here, it seems to me, they would also not want it here, as it could complicate things for them and introduce problems .. I don't see how, but I see little b

[2021-10-21 21:55] hoijui commented on #1335
working on it

[2021-10-22 08:23] hoijui opened #1345 "Missing machine-readable License info for this repo"
There is neither a `LICENSE*` file, nor is the repo [REUSE](https://reuse.software/) compliant.
Is it an oversight or what is the reason for this?

[2021-10-28 17:24] jlovejoy opened #1348 "documentation: how and when to use new license review template"
@seabass-labrax  made a license review template for new license issues
@vmbrasseur suggested we document when, how to use it

where should this be documented?